/* 引入各配置模块 */

/* 块级元素 */
@import url(/appearance/themes/Dark+/style/module/block-code.css);
@import url(/appearance/themes/Dark+/style/module/block-embed.css);
@import url(/appearance/themes/Dark+/style/module/block-heading.css);
@import url(/appearance/themes/Dark+/style/module/block-hr.css);
@import url(/appearance/themes/Dark+/style/module/block-iframe.css);
@import url(/appearance/themes/Dark+/style/module/block-list.css);
@import url(/appearance/themes/Dark+/style/module/block-quote.css);
@import url(/appearance/themes/Dark+/style/module/block-super.css);
@import url(/appearance/themes/Dark+/style/module/block-table.css);
@import url(/appearance/themes/Dark+/style/module/block.css);

/* 自定义属性 */
@import url(/appearance/themes/Dark+/style/module/custom-auto-num-f.css);
@import url(/appearance/themes/Dark+/style/module/custom-auto-num-h.css);
@import url(/appearance/themes/Dark+/style/module/custom-auto-num-t.css);
@import url(/appearance/themes/Dark+/style/module/custom-background.css);
@import url(/appearance/themes/Dark+/style/module/custom-board-kanban.css);
@import url(/appearance/themes/Dark+/style/module/custom-font-family.css);
@import url(/appearance/themes/Dark+/style/module/custom-list-guides.css);
@import url(/appearance/themes/Dark+/style/module/custom-location.css);
@import url(/appearance/themes/Dark+/style/module/custom-mark-display.css);
@import url(/appearance/themes/Dark+/style/module/custom-position.css);
@import url(/appearance/themes/Dark+/style/module/custom-prompt.css);
@import url(/appearance/themes/Dark+/style/module/custom-render-danmaku.css);
@import url(/appearance/themes/Dark+/style/module/custom-render-invert.css);
@import url(/appearance/themes/Dark+/style/module/custom-render-scroll.css);
@import url(/appearance/themes/Dark+/style/module/custom-render.css);
@import url(/appearance/themes/Dark+/style/module/custom-table-width.css);
@import url(/appearance/themes/Dark+/style/module/custom-time.css);
@import url(/appearance/themes/Dark+/style/module/custom-title.css);
@import url(/appearance/themes/Dark+/style/module/custom-type-map.css);
@import url(/appearance/themes/Dark+/style/module/custom-type-table.css);
@import url(/appearance/themes/Dark+/style/module/custom-type-title.css);
@import url(/appearance/themes/Dark+/style/module/custom-width.css);
@import url(/appearance/themes/Dark+/style/module/custom-writing-mode.css);

/* 对话框元素 */
@import url(/appearance/themes/Dark+/style/module/dialog.css);

/* 边栏 */
@import url(/appearance/themes/Dark+/style/module/dock.css);

/* 折叠 */
@import url(/appearance/themes/Dark+/style/module/fold.css);

/* 空白页面与空白行 */
@import url(/appearance/themes/Dark+/style/module/empty.css);

/* 全局 */
@import url(/appearance/themes/Dark+/style/module/global.css);

/* 悬浮元素 */
@import url(/appearance/themes/Dark+/style/module/hover-preview.css);
@import url(/appearance/themes/Dark+/style/module/hover-menu.css);
@import url(/appearance/themes/Dark+/style/module/hover-textarea.css);

/* 图标 */
@import url(/appearance/themes/Dark+/style/module/icon-link.css);
@import url(/appearance/themes/Dark+/style/module/icon-zoom.css);

/* 数学公式 */
@import url(/appearance/themes/Dark+/style/module/math.css);

/* 移动端 */
@import url(/appearance/themes/Dark+/style/module/mobile.css);

/* 面板 */
@import url(/appearance/themes/Dark+/style/module/panel-backlink.css);
@import url(/appearance/themes/Dark+/style/module/panel-bookmark.css);
@import url(/appearance/themes/Dark+/style/module/panel-editor.css);
@import url(/appearance/themes/Dark+/style/module/panel-file.css);
@import url(/appearance/themes/Dark+/style/module/panel-graph.css);
@import url(/appearance/themes/Dark+/style/module/panel-inbox.css);
@import url(/appearance/themes/Dark+/style/module/panel-outline.css);
@import url(/appearance/themes/Dark+/style/module/panel-separator.css);
@import url(/appearance/themes/Dark+/style/module/panel-tag.css);
@import url(/appearance/themes/Dark+/style/module/panel.css);

/* 行内元素 */
@import url(/appearance/themes/Dark+/style/module/span-code.css);
@import url(/appearance/themes/Dark+/style/module/span-file-annotation-ref.css);
@import url(/appearance/themes/Dark+/style/module/span-img.css);
@import url(/appearance/themes/Dark+/style/module/span-kbd.css);
@import url(/appearance/themes/Dark+/style/module/span-link.css);
@import url(/appearance/themes/Dark+/style/module/span-mark.css);
@import url(/appearance/themes/Dark+/style/module/span-ref.css);
@import url(/appearance/themes/Dark+/style/module/span-strikethrough.css);
@import url(/appearance/themes/Dark+/style/module/span-tag.css);
@import url(/appearance/themes/Dark+/style/module/span-virtual-ref.css);

/* 底部状态栏 */
@import url(/appearance/themes/Dark+/style/module/status-bar.css);

/* 页签栏 */
@import url(/appearance/themes/Dark+/style/module/tab-bar.css);

/* 顶部工具栏 */
@import url(/appearance/themes/Dark+/style/module/tool-bar.css);

/* 预览窗口 */
@import url(/appearance/themes/Dark+/style/module/viewer-image.css);

/* 配置文件 */
@import url(/appearance/themes/Dark+/style/module/config.css);

/* 自定义配置文件 */
@import url(/widgets/custom.css);
