/* 自动应用的深色主题配置 */
/* @import url(/appearance/themes/midnight/theme.css); */
:root[data-theme-mode=dark] {
  /* 全局背景透明颜色 | Global background transparent color */
  --custom-background-transparent-color: rgba(0, 0, 0, 0.125);
  /* 背景图片 */
  --custom-background-image-landscape: url(/appearance/themes/Dark+/image/dark/background-main.jpg);
  --custom-background-image-portrait: url(/appearance/themes/Dark+/image/dark/background-main-portrait.jpg);
  /* 对话框背景图片 */
  --custom-background-image-dialog: url(/appearance/themes/Dark+/image/dark/background-dialog.jpg);
  /* 标签图标 | The icon of tag */
  --custom-span-tag-icon: url(/appearance/themes/Dark+/icon/tag.svg);
  /* 块引用波浪线动画图标 | The icon of wavy line animation */
  --custom-span-ref-animation-icon: url(/appearance/themes/Dark+/icon/wavy-line.svg);
  /* 透明组件颜色 | Transparent component color */
  --custom-transparent-lightest: #4444;
  --custom-transparent-lighter: #3338;
  --custom-transparent-light: #222A;
  --custom-transparent: #222C;
  --custom-transparent-deep: #222D;
  --custom-transparent-deeper: #222E;
  /* 不透明的组件颜色 | Opaque component color */
  --custom-components-light: #444;
  --custom-components: #222;
  --custom-components-deep: #111;
  /* 鲜明颜色 | Striking color */
  --custom-striking-color: var(--b3-font-color12);
  /* 编辑区背景颜色 | The background color of the edit area */
  --custom-editor-background-color: var(--custom-transparent);
  /* 弹出窗口背景颜色 | The background color of the popover */
  --custom-popover-background-color: var(--custom-editor-background-color);
  /* 思源块引用颜色 | The color of SiYuan block reference */
  --custom-span-block-ref-color: var(--custom-striking-color);
  /* 思源内部超链接颜色 | The color of SiYuan internal hyperlink */
  --custom-span-siyuan-link-color: var(--custom-color-8-3);
  /* 子标题及其对应大纲颜色 | Subheadings and their corresponding outline colors */
  --custom-h1-color: var(--b3-theme-on-background);
  --custom-h2-color: var(--b3-card-info-color);
  --custom-h3-color: var(--b3-card-warning-color);
  --custom-h4-color: var(--b3-card-success-color);
  --custom-h5-color: var(--b3-card-error-color);
  --custom-h6-color: var(--custom-color-8-3);
  /* 代码块行号背景颜色 | The background color of code block linenumber */
  --custom-block-code-linenumber-background-color: var(--custom-transparent);
  /* 思源标签颜色 | The color of tag */
  --custom-span-tag-color: var(--b3-theme-on-primary);
  /* 思源标签背景颜色 | The background color of tag */
  --custom-span-tag-background-color: rgba(189, 201, 255, 0.5);
  /* 列表转换成的表格鼠标悬浮背景颜色 | The background color of the mouse hover row of the table converted by a list */
  --custom-list-table-hover-background-color: #FFF1;
  /* 👇👇👇 覆盖默认主题颜色 👇👇👇 */
  --b3-list-hover: #3f4041;
}
