/* 显示标记文本内容 */
.protyle-wysiwyg mark,
.protyle-wysiwyg span[data-type~=mark],
.protyle-wysiwyg mark:hover,
.protyle-wysiwyg span[data-type~=mark]:hover {
  background-color: var(--cusotm-span-mark-background-color);
  color: var(--b3-protyle-inline-mark-color);
  text-shadow: none;
}
