/* 显示标记文本内容 */
.protyle-wysiwyg mark:not([style]),
.protyle-wysiwyg span[data-type~=mark]:not([style]),
.protyle-wysiwyg mark:hover:not([style]),
.protyle-wysiwyg span[data-type~=mark]:hover:not([style]),
.protyle-wysiwyg mark:not(:hover):not([style]),
.protyle-wysiwyg span[data-type~=mark]:not(:hover):not([style]),
.protyle.b3-dialog__cardblock:not(.b3-dialog__cardblock--hide) mark:not([style]),
.protyle.b3-dialog__cardblock:not(.b3-dialog__cardblock--hide) span[data-type~=mark]:not([style]),
.protyle.b3-dialog__cardblock:not(.b3-dialog__cardblock--hide) mark:hover:not([style]),
.protyle.b3-dialog__cardblock:not(.b3-dialog__cardblock--hide) span[data-type~=mark]:hover:not([style]),
.protyle.b3-dialog__cardblock:not(.b3-dialog__cardblock--hide) mark:not(:hover):not([style]),
.protyle.b3-dialog__cardblock:not(.b3-dialog__cardblock--hide) span[data-type~=mark]:not(:hover):not([style]),
.protyle.b3-dialog__cardblock.b3-dialog__cardblock--hide mark:not([style]),
.protyle.b3-dialog__cardblock.b3-dialog__cardblock--hide span[data-type~=mark]:not([style]),
.protyle.b3-dialog__cardblock.b3-dialog__cardblock--hide mark:hover:not([style]),
.protyle.b3-dialog__cardblock.b3-dialog__cardblock--hide span[data-type~=mark]:hover:not([style]),
.protyle.b3-dialog__cardblock.b3-dialog__cardblock--hide mark:not(:hover):not([style]),
.protyle.b3-dialog__cardblock.b3-dialog__cardblock--hide span[data-type~=mark]:not(:hover):not([style]) {
  color: var(--custom-span-mark-color) !important;
}
.protyle-wysiwyg mark[style*="color: var(--b3-font-color1)"],
.protyle-wysiwyg span[data-type~=mark][style*="color: var(--b3-font-color1)"],
.protyle-wysiwyg mark:hover[style*="color: var(--b3-font-color1)"],
.protyle-wysiwyg span[data-type~=mark]:hover[style*="color: var(--b3-font-color1)"],
.protyle-wysiwyg mark:not(:hover)[style*="color: var(--b3-font-color1)"],
.protyle-wysiwyg span[data-type~=mark]:not(:hover)[style*="color: var(--b3-font-color1)"],
.protyle.b3-dialog__cardblock:not(.b3-dialog__cardblock--hide) mark[style*="color: var(--b3-font-color1)"],
.protyle.b3-dialog__cardblock:not(.b3-dialog__cardblock--hide) span[data-type~=mark][style*="color: var(--b3-font-color1)"],
.protyle.b3-dialog__cardblock:not(.b3-dialog__cardblock--hide) mark:hover[style*="color: var(--b3-font-color1)"],
.protyle.b3-dialog__cardblock:not(.b3-dialog__cardblock--hide) span[data-type~=mark]:hover[style*="color: var(--b3-font-color1)"],
.protyle.b3-dialog__cardblock:not(.b3-dialog__cardblock--hide) mark:not(:hover)[style*="color: var(--b3-font-color1)"],
.protyle.b3-dialog__cardblock:not(.b3-dialog__cardblock--hide) span[data-type~=mark]:not(:hover)[style*="color: var(--b3-font-color1)"],
.protyle.b3-dialog__cardblock.b3-dialog__cardblock--hide mark[style*="color: var(--b3-font-color1)"],
.protyle.b3-dialog__cardblock.b3-dialog__cardblock--hide span[data-type~=mark][style*="color: var(--b3-font-color1)"],
.protyle.b3-dialog__cardblock.b3-dialog__cardblock--hide mark:hover[style*="color: var(--b3-font-color1)"],
.protyle.b3-dialog__cardblock.b3-dialog__cardblock--hide span[data-type~=mark]:hover[style*="color: var(--b3-font-color1)"],
.protyle.b3-dialog__cardblock.b3-dialog__cardblock--hide mark:not(:hover)[style*="color: var(--b3-font-color1)"],
.protyle.b3-dialog__cardblock.b3-dialog__cardblock--hide span[data-type~=mark]:not(:hover)[style*="color: var(--b3-font-color1)"] {
  color: var(--b3-font-color1) !important;
}
.protyle-wysiwyg mark[style*="color: var(--b3-font-color2)"],
.protyle-wysiwyg span[data-type~=mark][style*="color: var(--b3-font-color2)"],
.protyle-wysiwyg mark:hover[style*="color: var(--b3-font-color2)"],
.protyle-wysiwyg span[data-type~=mark]:hover[style*="color: var(--b3-font-color2)"],
.protyle-wysiwyg mark:not(:hover)[style*="color: var(--b3-font-color2)"],
.protyle-wysiwyg span[data-type~=mark]:not(:hover)[style*="color: var(--b3-font-color2)"],
.protyle.b3-dialog__cardblock:not(.b3-dialog__cardblock--hide) mark[style*="color: var(--b3-font-color2)"],
.protyle.b3-dialog__cardblock:not(.b3-dialog__cardblock--hide) span[data-type~=mark][style*="color: var(--b3-font-color2)"],
.protyle.b3-dialog__cardblock:not(.b3-dialog__cardblock--hide) mark:hover[style*="color: var(--b3-font-color2)"],
.protyle.b3-dialog__cardblock:not(.b3-dialog__cardblock--hide) span[data-type~=mark]:hover[style*="color: var(--b3-font-color2)"],
.protyle.b3-dialog__cardblock:not(.b3-dialog__cardblock--hide) mark:not(:hover)[style*="color: var(--b3-font-color2)"],
.protyle.b3-dialog__cardblock:not(.b3-dialog__cardblock--hide) span[data-type~=mark]:not(:hover)[style*="color: var(--b3-font-color2)"],
.protyle.b3-dialog__cardblock.b3-dialog__cardblock--hide mark[style*="color: var(--b3-font-color2)"],
.protyle.b3-dialog__cardblock.b3-dialog__cardblock--hide span[data-type~=mark][style*="color: var(--b3-font-color2)"],
.protyle.b3-dialog__cardblock.b3-dialog__cardblock--hide mark:hover[style*="color: var(--b3-font-color2)"],
.protyle.b3-dialog__cardblock.b3-dialog__cardblock--hide span[data-type~=mark]:hover[style*="color: var(--b3-font-color2)"],
.protyle.b3-dialog__cardblock.b3-dialog__cardblock--hide mark:not(:hover)[style*="color: var(--b3-font-color2)"],
.protyle.b3-dialog__cardblock.b3-dialog__cardblock--hide span[data-type~=mark]:not(:hover)[style*="color: var(--b3-font-color2)"] {
  color: var(--b3-font-color2) !important;
}
.protyle-wysiwyg mark[style*="color: var(--b3-font-color3)"],
.protyle-wysiwyg span[data-type~=mark][style*="color: var(--b3-font-color3)"],
.protyle-wysiwyg mark:hover[style*="color: var(--b3-font-color3)"],
.protyle-wysiwyg span[data-type~=mark]:hover[style*="color: var(--b3-font-color3)"],
.protyle-wysiwyg mark:not(:hover)[style*="color: var(--b3-font-color3)"],
.protyle-wysiwyg span[data-type~=mark]:not(:hover)[style*="color: var(--b3-font-color3)"],
.protyle.b3-dialog__cardblock:not(.b3-dialog__cardblock--hide) mark[style*="color: var(--b3-font-color3)"],
.protyle.b3-dialog__cardblock:not(.b3-dialog__cardblock--hide) span[data-type~=mark][style*="color: var(--b3-font-color3)"],
.protyle.b3-dialog__cardblock:not(.b3-dialog__cardblock--hide) mark:hover[style*="color: var(--b3-font-color3)"],
.protyle.b3-dialog__cardblock:not(.b3-dialog__cardblock--hide) span[data-type~=mark]:hover[style*="color: var(--b3-font-color3)"],
.protyle.b3-dialog__cardblock:not(.b3-dialog__cardblock--hide) mark:not(:hover)[style*="color: var(--b3-font-color3)"],
.protyle.b3-dialog__cardblock:not(.b3-dialog__cardblock--hide) span[data-type~=mark]:not(:hover)[style*="color: var(--b3-font-color3)"],
.protyle.b3-dialog__cardblock.b3-dialog__cardblock--hide mark[style*="color: var(--b3-font-color3)"],
.protyle.b3-dialog__cardblock.b3-dialog__cardblock--hide span[data-type~=mark][style*="color: var(--b3-font-color3)"],
.protyle.b3-dialog__cardblock.b3-dialog__cardblock--hide mark:hover[style*="color: var(--b3-font-color3)"],
.protyle.b3-dialog__cardblock.b3-dialog__cardblock--hide span[data-type~=mark]:hover[style*="color: var(--b3-font-color3)"],
.protyle.b3-dialog__cardblock.b3-dialog__cardblock--hide mark:not(:hover)[style*="color: var(--b3-font-color3)"],
.protyle.b3-dialog__cardblock.b3-dialog__cardblock--hide span[data-type~=mark]:not(:hover)[style*="color: var(--b3-font-color3)"] {
  color: var(--b3-font-color3) !important;
}
.protyle-wysiwyg mark[style*="color: var(--b3-font-color4)"],
.protyle-wysiwyg span[data-type~=mark][style*="color: var(--b3-font-color4)"],
.protyle-wysiwyg mark:hover[style*="color: var(--b3-font-color4)"],
.protyle-wysiwyg span[data-type~=mark]:hover[style*="color: var(--b3-font-color4)"],
.protyle-wysiwyg mark:not(:hover)[style*="color: var(--b3-font-color4)"],
.protyle-wysiwyg span[data-type~=mark]:not(:hover)[style*="color: var(--b3-font-color4)"],
.protyle.b3-dialog__cardblock:not(.b3-dialog__cardblock--hide) mark[style*="color: var(--b3-font-color4)"],
.protyle.b3-dialog__cardblock:not(.b3-dialog__cardblock--hide) span[data-type~=mark][style*="color: var(--b3-font-color4)"],
.protyle.b3-dialog__cardblock:not(.b3-dialog__cardblock--hide) mark:hover[style*="color: var(--b3-font-color4)"],
.protyle.b3-dialog__cardblock:not(.b3-dialog__cardblock--hide) span[data-type~=mark]:hover[style*="color: var(--b3-font-color4)"],
.protyle.b3-dialog__cardblock:not(.b3-dialog__cardblock--hide) mark:not(:hover)[style*="color: var(--b3-font-color4)"],
.protyle.b3-dialog__cardblock:not(.b3-dialog__cardblock--hide) span[data-type~=mark]:not(:hover)[style*="color: var(--b3-font-color4)"],
.protyle.b3-dialog__cardblock.b3-dialog__cardblock--hide mark[style*="color: var(--b3-font-color4)"],
.protyle.b3-dialog__cardblock.b3-dialog__cardblock--hide span[data-type~=mark][style*="color: var(--b3-font-color4)"],
.protyle.b3-dialog__cardblock.b3-dialog__cardblock--hide mark:hover[style*="color: var(--b3-font-color4)"],
.protyle.b3-dialog__cardblock.b3-dialog__cardblock--hide span[data-type~=mark]:hover[style*="color: var(--b3-font-color4)"],
.protyle.b3-dialog__cardblock.b3-dialog__cardblock--hide mark:not(:hover)[style*="color: var(--b3-font-color4)"],
.protyle.b3-dialog__cardblock.b3-dialog__cardblock--hide span[data-type~=mark]:not(:hover)[style*="color: var(--b3-font-color4)"] {
  color: var(--b3-font-color4) !important;
}
.protyle-wysiwyg mark[style*="color: var(--b3-font-color5)"],
.protyle-wysiwyg span[data-type~=mark][style*="color: var(--b3-font-color5)"],
.protyle-wysiwyg mark:hover[style*="color: var(--b3-font-color5)"],
.protyle-wysiwyg span[data-type~=mark]:hover[style*="color: var(--b3-font-color5)"],
.protyle-wysiwyg mark:not(:hover)[style*="color: var(--b3-font-color5)"],
.protyle-wysiwyg span[data-type~=mark]:not(:hover)[style*="color: var(--b3-font-color5)"],
.protyle.b3-dialog__cardblock:not(.b3-dialog__cardblock--hide) mark[style*="color: var(--b3-font-color5)"],
.protyle.b3-dialog__cardblock:not(.b3-dialog__cardblock--hide) span[data-type~=mark][style*="color: var(--b3-font-color5)"],
.protyle.b3-dialog__cardblock:not(.b3-dialog__cardblock--hide) mark:hover[style*="color: var(--b3-font-color5)"],
.protyle.b3-dialog__cardblock:not(.b3-dialog__cardblock--hide) span[data-type~=mark]:hover[style*="color: var(--b3-font-color5)"],
.protyle.b3-dialog__cardblock:not(.b3-dialog__cardblock--hide) mark:not(:hover)[style*="color: var(--b3-font-color5)"],
.protyle.b3-dialog__cardblock:not(.b3-dialog__cardblock--hide) span[data-type~=mark]:not(:hover)[style*="color: var(--b3-font-color5)"],
.protyle.b3-dialog__cardblock.b3-dialog__cardblock--hide mark[style*="color: var(--b3-font-color5)"],
.protyle.b3-dialog__cardblock.b3-dialog__cardblock--hide span[data-type~=mark][style*="color: var(--b3-font-color5)"],
.protyle.b3-dialog__cardblock.b3-dialog__cardblock--hide mark:hover[style*="color: var(--b3-font-color5)"],
.protyle.b3-dialog__cardblock.b3-dialog__cardblock--hide span[data-type~=mark]:hover[style*="color: var(--b3-font-color5)"],
.protyle.b3-dialog__cardblock.b3-dialog__cardblock--hide mark:not(:hover)[style*="color: var(--b3-font-color5)"],
.protyle.b3-dialog__cardblock.b3-dialog__cardblock--hide span[data-type~=mark]:not(:hover)[style*="color: var(--b3-font-color5)"] {
  color: var(--b3-font-color5) !important;
}
.protyle-wysiwyg mark[style*="color: var(--b3-font-color6)"],
.protyle-wysiwyg span[data-type~=mark][style*="color: var(--b3-font-color6)"],
.protyle-wysiwyg mark:hover[style*="color: var(--b3-font-color6)"],
.protyle-wysiwyg span[data-type~=mark]:hover[style*="color: var(--b3-font-color6)"],
.protyle-wysiwyg mark:not(:hover)[style*="color: var(--b3-font-color6)"],
.protyle-wysiwyg span[data-type~=mark]:not(:hover)[style*="color: var(--b3-font-color6)"],
.protyle.b3-dialog__cardblock:not(.b3-dialog__cardblock--hide) mark[style*="color: var(--b3-font-color6)"],
.protyle.b3-dialog__cardblock:not(.b3-dialog__cardblock--hide) span[data-type~=mark][style*="color: var(--b3-font-color6)"],
.protyle.b3-dialog__cardblock:not(.b3-dialog__cardblock--hide) mark:hover[style*="color: var(--b3-font-color6)"],
.protyle.b3-dialog__cardblock:not(.b3-dialog__cardblock--hide) span[data-type~=mark]:hover[style*="color: var(--b3-font-color6)"],
.protyle.b3-dialog__cardblock:not(.b3-dialog__cardblock--hide) mark:not(:hover)[style*="color: var(--b3-font-color6)"],
.protyle.b3-dialog__cardblock:not(.b3-dialog__cardblock--hide) span[data-type~=mark]:not(:hover)[style*="color: var(--b3-font-color6)"],
.protyle.b3-dialog__cardblock.b3-dialog__cardblock--hide mark[style*="color: var(--b3-font-color6)"],
.protyle.b3-dialog__cardblock.b3-dialog__cardblock--hide span[data-type~=mark][style*="color: var(--b3-font-color6)"],
.protyle.b3-dialog__cardblock.b3-dialog__cardblock--hide mark:hover[style*="color: var(--b3-font-color6)"],
.protyle.b3-dialog__cardblock.b3-dialog__cardblock--hide span[data-type~=mark]:hover[style*="color: var(--b3-font-color6)"],
.protyle.b3-dialog__cardblock.b3-dialog__cardblock--hide mark:not(:hover)[style*="color: var(--b3-font-color6)"],
.protyle.b3-dialog__cardblock.b3-dialog__cardblock--hide span[data-type~=mark]:not(:hover)[style*="color: var(--b3-font-color6)"] {
  color: var(--b3-font-color6) !important;
}
.protyle-wysiwyg mark[style*="color: var(--b3-font-color7)"],
.protyle-wysiwyg span[data-type~=mark][style*="color: var(--b3-font-color7)"],
.protyle-wysiwyg mark:hover[style*="color: var(--b3-font-color7)"],
.protyle-wysiwyg span[data-type~=mark]:hover[style*="color: var(--b3-font-color7)"],
.protyle-wysiwyg mark:not(:hover)[style*="color: var(--b3-font-color7)"],
.protyle-wysiwyg span[data-type~=mark]:not(:hover)[style*="color: var(--b3-font-color7)"],
.protyle.b3-dialog__cardblock:not(.b3-dialog__cardblock--hide) mark[style*="color: var(--b3-font-color7)"],
.protyle.b3-dialog__cardblock:not(.b3-dialog__cardblock--hide) span[data-type~=mark][style*="color: var(--b3-font-color7)"],
.protyle.b3-dialog__cardblock:not(.b3-dialog__cardblock--hide) mark:hover[style*="color: var(--b3-font-color7)"],
.protyle.b3-dialog__cardblock:not(.b3-dialog__cardblock--hide) span[data-type~=mark]:hover[style*="color: var(--b3-font-color7)"],
.protyle.b3-dialog__cardblock:not(.b3-dialog__cardblock--hide) mark:not(:hover)[style*="color: var(--b3-font-color7)"],
.protyle.b3-dialog__cardblock:not(.b3-dialog__cardblock--hide) span[data-type~=mark]:not(:hover)[style*="color: var(--b3-font-color7)"],
.protyle.b3-dialog__cardblock.b3-dialog__cardblock--hide mark[style*="color: var(--b3-font-color7)"],
.protyle.b3-dialog__cardblock.b3-dialog__cardblock--hide span[data-type~=mark][style*="color: var(--b3-font-color7)"],
.protyle.b3-dialog__cardblock.b3-dialog__cardblock--hide mark:hover[style*="color: var(--b3-font-color7)"],
.protyle.b3-dialog__cardblock.b3-dialog__cardblock--hide span[data-type~=mark]:hover[style*="color: var(--b3-font-color7)"],
.protyle.b3-dialog__cardblock.b3-dialog__cardblock--hide mark:not(:hover)[style*="color: var(--b3-font-color7)"],
.protyle.b3-dialog__cardblock.b3-dialog__cardblock--hide span[data-type~=mark]:not(:hover)[style*="color: var(--b3-font-color7)"] {
  color: var(--b3-font-color7) !important;
}
.protyle-wysiwyg mark[style*="color: var(--b3-font-color8)"],
.protyle-wysiwyg span[data-type~=mark][style*="color: var(--b3-font-color8)"],
.protyle-wysiwyg mark:hover[style*="color: var(--b3-font-color8)"],
.protyle-wysiwyg span[data-type~=mark]:hover[style*="color: var(--b3-font-color8)"],
.protyle-wysiwyg mark:not(:hover)[style*="color: var(--b3-font-color8)"],
.protyle-wysiwyg span[data-type~=mark]:not(:hover)[style*="color: var(--b3-font-color8)"],
.protyle.b3-dialog__cardblock:not(.b3-dialog__cardblock--hide) mark[style*="color: var(--b3-font-color8)"],
.protyle.b3-dialog__cardblock:not(.b3-dialog__cardblock--hide) span[data-type~=mark][style*="color: var(--b3-font-color8)"],
.protyle.b3-dialog__cardblock:not(.b3-dialog__cardblock--hide) mark:hover[style*="color: var(--b3-font-color8)"],
.protyle.b3-dialog__cardblock:not(.b3-dialog__cardblock--hide) span[data-type~=mark]:hover[style*="color: var(--b3-font-color8)"],
.protyle.b3-dialog__cardblock:not(.b3-dialog__cardblock--hide) mark:not(:hover)[style*="color: var(--b3-font-color8)"],
.protyle.b3-dialog__cardblock:not(.b3-dialog__cardblock--hide) span[data-type~=mark]:not(:hover)[style*="color: var(--b3-font-color8)"],
.protyle.b3-dialog__cardblock.b3-dialog__cardblock--hide mark[style*="color: var(--b3-font-color8)"],
.protyle.b3-dialog__cardblock.b3-dialog__cardblock--hide span[data-type~=mark][style*="color: var(--b3-font-color8)"],
.protyle.b3-dialog__cardblock.b3-dialog__cardblock--hide mark:hover[style*="color: var(--b3-font-color8)"],
.protyle.b3-dialog__cardblock.b3-dialog__cardblock--hide span[data-type~=mark]:hover[style*="color: var(--b3-font-color8)"],
.protyle.b3-dialog__cardblock.b3-dialog__cardblock--hide mark:not(:hover)[style*="color: var(--b3-font-color8)"],
.protyle.b3-dialog__cardblock.b3-dialog__cardblock--hide span[data-type~=mark]:not(:hover)[style*="color: var(--b3-font-color8)"] {
  color: var(--b3-font-color8) !important;
}
.protyle-wysiwyg mark[style*="color: var(--b3-font-color9)"],
.protyle-wysiwyg span[data-type~=mark][style*="color: var(--b3-font-color9)"],
.protyle-wysiwyg mark:hover[style*="color: var(--b3-font-color9)"],
.protyle-wysiwyg span[data-type~=mark]:hover[style*="color: var(--b3-font-color9)"],
.protyle-wysiwyg mark:not(:hover)[style*="color: var(--b3-font-color9)"],
.protyle-wysiwyg span[data-type~=mark]:not(:hover)[style*="color: var(--b3-font-color9)"],
.protyle.b3-dialog__cardblock:not(.b3-dialog__cardblock--hide) mark[style*="color: var(--b3-font-color9)"],
.protyle.b3-dialog__cardblock:not(.b3-dialog__cardblock--hide) span[data-type~=mark][style*="color: var(--b3-font-color9)"],
.protyle.b3-dialog__cardblock:not(.b3-dialog__cardblock--hide) mark:hover[style*="color: var(--b3-font-color9)"],
.protyle.b3-dialog__cardblock:not(.b3-dialog__cardblock--hide) span[data-type~=mark]:hover[style*="color: var(--b3-font-color9)"],
.protyle.b3-dialog__cardblock:not(.b3-dialog__cardblock--hide) mark:not(:hover)[style*="color: var(--b3-font-color9)"],
.protyle.b3-dialog__cardblock:not(.b3-dialog__cardblock--hide) span[data-type~=mark]:not(:hover)[style*="color: var(--b3-font-color9)"],
.protyle.b3-dialog__cardblock.b3-dialog__cardblock--hide mark[style*="color: var(--b3-font-color9)"],
.protyle.b3-dialog__cardblock.b3-dialog__cardblock--hide span[data-type~=mark][style*="color: var(--b3-font-color9)"],
.protyle.b3-dialog__cardblock.b3-dialog__cardblock--hide mark:hover[style*="color: var(--b3-font-color9)"],
.protyle.b3-dialog__cardblock.b3-dialog__cardblock--hide span[data-type~=mark]:hover[style*="color: var(--b3-font-color9)"],
.protyle.b3-dialog__cardblock.b3-dialog__cardblock--hide mark:not(:hover)[style*="color: var(--b3-font-color9)"],
.protyle.b3-dialog__cardblock.b3-dialog__cardblock--hide span[data-type~=mark]:not(:hover)[style*="color: var(--b3-font-color9)"] {
  color: var(--b3-font-color9) !important;
}
.protyle-wysiwyg mark[style*="color: var(--b3-font-color10)"],
.protyle-wysiwyg span[data-type~=mark][style*="color: var(--b3-font-color10)"],
.protyle-wysiwyg mark:hover[style*="color: var(--b3-font-color10)"],
.protyle-wysiwyg span[data-type~=mark]:hover[style*="color: var(--b3-font-color10)"],
.protyle-wysiwyg mark:not(:hover)[style*="color: var(--b3-font-color10)"],
.protyle-wysiwyg span[data-type~=mark]:not(:hover)[style*="color: var(--b3-font-color10)"],
.protyle.b3-dialog__cardblock:not(.b3-dialog__cardblock--hide) mark[style*="color: var(--b3-font-color10)"],
.protyle.b3-dialog__cardblock:not(.b3-dialog__cardblock--hide) span[data-type~=mark][style*="color: var(--b3-font-color10)"],
.protyle.b3-dialog__cardblock:not(.b3-dialog__cardblock--hide) mark:hover[style*="color: var(--b3-font-color10)"],
.protyle.b3-dialog__cardblock:not(.b3-dialog__cardblock--hide) span[data-type~=mark]:hover[style*="color: var(--b3-font-color10)"],
.protyle.b3-dialog__cardblock:not(.b3-dialog__cardblock--hide) mark:not(:hover)[style*="color: var(--b3-font-color10)"],
.protyle.b3-dialog__cardblock:not(.b3-dialog__cardblock--hide) span[data-type~=mark]:not(:hover)[style*="color: var(--b3-font-color10)"],
.protyle.b3-dialog__cardblock.b3-dialog__cardblock--hide mark[style*="color: var(--b3-font-color10)"],
.protyle.b3-dialog__cardblock.b3-dialog__cardblock--hide span[data-type~=mark][style*="color: var(--b3-font-color10)"],
.protyle.b3-dialog__cardblock.b3-dialog__cardblock--hide mark:hover[style*="color: var(--b3-font-color10)"],
.protyle.b3-dialog__cardblock.b3-dialog__cardblock--hide span[data-type~=mark]:hover[style*="color: var(--b3-font-color10)"],
.protyle.b3-dialog__cardblock.b3-dialog__cardblock--hide mark:not(:hover)[style*="color: var(--b3-font-color10)"],
.protyle.b3-dialog__cardblock.b3-dialog__cardblock--hide span[data-type~=mark]:not(:hover)[style*="color: var(--b3-font-color10)"] {
  color: var(--b3-font-color10) !important;
}
.protyle-wysiwyg mark[style*="color: var(--b3-font-color11)"],
.protyle-wysiwyg span[data-type~=mark][style*="color: var(--b3-font-color11)"],
.protyle-wysiwyg mark:hover[style*="color: var(--b3-font-color11)"],
.protyle-wysiwyg span[data-type~=mark]:hover[style*="color: var(--b3-font-color11)"],
.protyle-wysiwyg mark:not(:hover)[style*="color: var(--b3-font-color11)"],
.protyle-wysiwyg span[data-type~=mark]:not(:hover)[style*="color: var(--b3-font-color11)"],
.protyle.b3-dialog__cardblock:not(.b3-dialog__cardblock--hide) mark[style*="color: var(--b3-font-color11)"],
.protyle.b3-dialog__cardblock:not(.b3-dialog__cardblock--hide) span[data-type~=mark][style*="color: var(--b3-font-color11)"],
.protyle.b3-dialog__cardblock:not(.b3-dialog__cardblock--hide) mark:hover[style*="color: var(--b3-font-color11)"],
.protyle.b3-dialog__cardblock:not(.b3-dialog__cardblock--hide) span[data-type~=mark]:hover[style*="color: var(--b3-font-color11)"],
.protyle.b3-dialog__cardblock:not(.b3-dialog__cardblock--hide) mark:not(:hover)[style*="color: var(--b3-font-color11)"],
.protyle.b3-dialog__cardblock:not(.b3-dialog__cardblock--hide) span[data-type~=mark]:not(:hover)[style*="color: var(--b3-font-color11)"],
.protyle.b3-dialog__cardblock.b3-dialog__cardblock--hide mark[style*="color: var(--b3-font-color11)"],
.protyle.b3-dialog__cardblock.b3-dialog__cardblock--hide span[data-type~=mark][style*="color: var(--b3-font-color11)"],
.protyle.b3-dialog__cardblock.b3-dialog__cardblock--hide mark:hover[style*="color: var(--b3-font-color11)"],
.protyle.b3-dialog__cardblock.b3-dialog__cardblock--hide span[data-type~=mark]:hover[style*="color: var(--b3-font-color11)"],
.protyle.b3-dialog__cardblock.b3-dialog__cardblock--hide mark:not(:hover)[style*="color: var(--b3-font-color11)"],
.protyle.b3-dialog__cardblock.b3-dialog__cardblock--hide span[data-type~=mark]:not(:hover)[style*="color: var(--b3-font-color11)"] {
  color: var(--b3-font-color11) !important;
}
.protyle-wysiwyg mark[style*="color: var(--b3-font-color12)"],
.protyle-wysiwyg span[data-type~=mark][style*="color: var(--b3-font-color12)"],
.protyle-wysiwyg mark:hover[style*="color: var(--b3-font-color12)"],
.protyle-wysiwyg span[data-type~=mark]:hover[style*="color: var(--b3-font-color12)"],
.protyle-wysiwyg mark:not(:hover)[style*="color: var(--b3-font-color12)"],
.protyle-wysiwyg span[data-type~=mark]:not(:hover)[style*="color: var(--b3-font-color12)"],
.protyle.b3-dialog__cardblock:not(.b3-dialog__cardblock--hide) mark[style*="color: var(--b3-font-color12)"],
.protyle.b3-dialog__cardblock:not(.b3-dialog__cardblock--hide) span[data-type~=mark][style*="color: var(--b3-font-color12)"],
.protyle.b3-dialog__cardblock:not(.b3-dialog__cardblock--hide) mark:hover[style*="color: var(--b3-font-color12)"],
.protyle.b3-dialog__cardblock:not(.b3-dialog__cardblock--hide) span[data-type~=mark]:hover[style*="color: var(--b3-font-color12)"],
.protyle.b3-dialog__cardblock:not(.b3-dialog__cardblock--hide) mark:not(:hover)[style*="color: var(--b3-font-color12)"],
.protyle.b3-dialog__cardblock:not(.b3-dialog__cardblock--hide) span[data-type~=mark]:not(:hover)[style*="color: var(--b3-font-color12)"],
.protyle.b3-dialog__cardblock.b3-dialog__cardblock--hide mark[style*="color: var(--b3-font-color12)"],
.protyle.b3-dialog__cardblock.b3-dialog__cardblock--hide span[data-type~=mark][style*="color: var(--b3-font-color12)"],
.protyle.b3-dialog__cardblock.b3-dialog__cardblock--hide mark:hover[style*="color: var(--b3-font-color12)"],
.protyle.b3-dialog__cardblock.b3-dialog__cardblock--hide span[data-type~=mark]:hover[style*="color: var(--b3-font-color12)"],
.protyle.b3-dialog__cardblock.b3-dialog__cardblock--hide mark:not(:hover)[style*="color: var(--b3-font-color12)"],
.protyle.b3-dialog__cardblock.b3-dialog__cardblock--hide span[data-type~=mark]:not(:hover)[style*="color: var(--b3-font-color12)"] {
  color: var(--b3-font-color12) !important;
}
.protyle-wysiwyg mark[style*="color: var(--b3-font-color13)"],
.protyle-wysiwyg span[data-type~=mark][style*="color: var(--b3-font-color13)"],
.protyle-wysiwyg mark:hover[style*="color: var(--b3-font-color13)"],
.protyle-wysiwyg span[data-type~=mark]:hover[style*="color: var(--b3-font-color13)"],
.protyle-wysiwyg mark:not(:hover)[style*="color: var(--b3-font-color13)"],
.protyle-wysiwyg span[data-type~=mark]:not(:hover)[style*="color: var(--b3-font-color13)"],
.protyle.b3-dialog__cardblock:not(.b3-dialog__cardblock--hide) mark[style*="color: var(--b3-font-color13)"],
.protyle.b3-dialog__cardblock:not(.b3-dialog__cardblock--hide) span[data-type~=mark][style*="color: var(--b3-font-color13)"],
.protyle.b3-dialog__cardblock:not(.b3-dialog__cardblock--hide) mark:hover[style*="color: var(--b3-font-color13)"],
.protyle.b3-dialog__cardblock:not(.b3-dialog__cardblock--hide) span[data-type~=mark]:hover[style*="color: var(--b3-font-color13)"],
.protyle.b3-dialog__cardblock:not(.b3-dialog__cardblock--hide) mark:not(:hover)[style*="color: var(--b3-font-color13)"],
.protyle.b3-dialog__cardblock:not(.b3-dialog__cardblock--hide) span[data-type~=mark]:not(:hover)[style*="color: var(--b3-font-color13)"],
.protyle.b3-dialog__cardblock.b3-dialog__cardblock--hide mark[style*="color: var(--b3-font-color13)"],
.protyle.b3-dialog__cardblock.b3-dialog__cardblock--hide span[data-type~=mark][style*="color: var(--b3-font-color13)"],
.protyle.b3-dialog__cardblock.b3-dialog__cardblock--hide mark:hover[style*="color: var(--b3-font-color13)"],
.protyle.b3-dialog__cardblock.b3-dialog__cardblock--hide span[data-type~=mark]:hover[style*="color: var(--b3-font-color13)"],
.protyle.b3-dialog__cardblock.b3-dialog__cardblock--hide mark:not(:hover)[style*="color: var(--b3-font-color13)"],
.protyle.b3-dialog__cardblock.b3-dialog__cardblock--hide span[data-type~=mark]:not(:hover)[style*="color: var(--b3-font-color13)"] {
  color: var(--b3-font-color13) !important;
}
