/* 显示标记文本内容 */

.mark-show() {
    background-color: var(--cusotm-span-mark-background-color);
    color: var(--custom-span-mark-color) !important;
    text-shadow: none;
}

.protyle-wysiwyg {

    mark,
    span[data-type~=mark] {

        &,
        &:hover {
            .mark-show();
        }
    }
}

// 闪卡强制显示挖空内容
.protyle.b3-dialog__cardblock {

    &:not(.b3-dialog__cardblock--hide),
    &.b3-dialog__cardblock--hide {
        .protyle-wysiwyg span[data-type~=mark] {
            .mark-show();
        }
    }
}
