/* 纵向排列选项卡页签 */

.layout__center {
    [data-type='wnd'][data-id] {
        display: flex;
        flex-direction: row;

        >.fn__flex:not(.layout-tab-container) {
            flex-direction: column-reverse;
        }

        >:first-child {
            justify-content: left;
            max-width: var(--custom-tab-bar-vertical-max-width);
            outline: 2px solid var(--b3-theme-on-surface-light);
        }

        .layout-tab-bar {
            display: block;
            flex: 1;
            // max-width: var(--custom-tab-bar-vertical-max-width);
            // border-right: 1px solid var(--b3-border-color);

            // outline 实现的控件与页签之间的分割线
            // outline: 2px solid var(--b3-theme-on-surface-light);
            // &:first-of-type {
            //     margin-top: 2px;
            // }

            .item {
                .fn__flex-1:first-child {
                    display: none;
                }

                .item__icon {
                    padding-left: 8px;
                }

                // .item__text {
                //     text-align: unset;
                //     flex-grow: 1;
                // }
            }

            &.layout-tab-bar--readonly {
                flex: unset;
            }
        }
    }
}
