/* 边栏 */
@tool-height: calc(var(--custom-dock-width) - var(--custom-dock-item-margin-width) * 2);

.block__icons--active {
    /* 聚焦的侧边面板标题 */
    background-color: var(--b3-list-hover);
}

/* ↑👆👈👉👇↓ */
#toolbar,
#dockTop,
#dockLeft,
#dockRight,
#dockBottom,
#status {
    padding: 0;
    box-sizing: content-box;

    .b3-tooltips {
        /* 边栏按钮 */
        margin: var(--custom-dock-item-margin-width);
        padding: var(--custom-dock-item-padding-width);
        border-radius: var(--custom-border-radius);

        >svg {
            /* 边栏按钮图标 */
            width: var(--custom-dock-item-icon-size);
            height: var(--custom-dock-item-icon-size);
        }
    }
}

/* 👆👈👉👇 */
#dockTop,
#dockLeft,
#dockRight,
#dockBottom {
    background-color: var(--custom-dock-background-color);
}

/* ↑👆👇↓ */
#toolbar,
#dockTop,
#dockBottom,
#status {}

/* ↑↓ */
#toolbar,
#status {
    height: @tool-height;

    .b3-tooltips {
        /* 边栏按钮 */
        margin-top: 0;
        margin-bottom: 0;
    }
}

/* 👆👇 */
#dockTop,
#dockBottom {
    height: var(--custom-dock-width);
    padding: 0;
}

/* 👈👉 */
#dockLeft,
#dockRight {
    width: var(--custom-dock-width);
}

#toolbar {
    /* ↑顶部工具栏↑ */
    background-color: var(--custom-tool-bar-background-color);

    // macOS 系统桌面端窗口控件位置
    body:not(.body--win32) &:not(.toolbar--browser) {
        padding-left: 69px;
    }

    .toolbar__item {
        /* 顶部工具栏按钮 */
        @margin-height: 0px;
        @margin-width: 4px;

        margin: @margin-height @margin-width;

        &.toolbar__item--active {
            /* 顶部工具栏激活的按钮 */
            @offset: 2px; // 调整量

            margin: (calc(@margin-height + @offset)) calc(@margin-width + @offset);
            padding: calc(var(--custom-dock-item-padding-width) - @offset)
        }
    }

    #windowAppIcon {
        /* 应用图标 */
        padding: 6px;
        width: 36px;
    }

    #drag {
        /* 顶部工具栏标题 */
        padding: 0;
    }

    #windowControls {
        /* 窗口控件 */
        z-index: 196;
        // margin: 0 !important;

        .b3-tooltips {
            @offset: 2px; // 窗口控件大小调整量

            margin: 0;
            // padding: calc(var(--custom-dock-item-margin-width) + var(--custom-dock-item-padding-width)) !important;
            padding: calc(var(--custom-dock-item-padding-width) + @offset) calc(var(--custom-dock-item-margin-width) + var(--custom-dock-item-padding-width) + @offset);
            border-radius: 0;

            >svg {
                /* 按钮图标 */
                width: calc(var(--custom-dock-item-icon-size) - @offset * 2) !important;
                height: calc(var(--custom-dock-item-icon-size) - @offset * 2) !important;
            }
        }

        #closeWindow {
            /* 窗口关闭控件 */
            // padding-right: 6px;
        }
    }
}

/* 被激活的控件 */
.block__icon--active,
.toolbar__item--active {
    color: var(--custom-toolbar-tiem-active-color);
    background-color: var(--custom-toolbar-tiem-active-background-color);
    /* outline: 1px solid var(--custom-toolbar-tiem-active-color); */
    box-shadow: 0 0 var(--custom-toolbar-tiem-active-box-shadow-spread) var(--custom-box-shadow-color);
}

/* ↑顶部工具栏↑ */

/* ↓底部状态栏↓ */

#status {

    #barDock,
    #barHelp {
        .b3-menu {
            /* 左下右下菜单 */
            bottom: @tool-height !important;
        }
    }

    .status__msg,
    .status__counter {
        line-height: @tool-height;
    }
}
