/* 嵌入块 */


.protyle-wysiwyg {
    .render-node[data-node-id][data-type="NodeBlockQueryEmbed"] {
        /* 嵌入块 */
        margin: 0;
        padding: 0;
        border: none;
        // outline: 2px solid var(--custom-line-color);
        background-color: transparent;

        +.render-node[data-node-id][data-type="NodeBlockQueryEmbed"] {
            /* 两个连续的嵌入块 */
            margin-top: 0.5em;
        }

        // 显示面包屑
        &[breadcrumb="true"] {
            // padding-top: 0;
            // padding-bottom: 0;
            // box-sizing: border-box;
        }

        >.protyle-icons {
            /* 悬浮显示的控件 */
            z-index: 2;
        }

        >.protyle-wysiwyg__embed {
            // border-top: none;
            // box-sizing: content-box;
            border: 2px solid var(--custom-line-color) !important;
            background-color: var(--custom-block-embed-background-color);

            .code-block:hover {

                .protyle-icon,
                .protyle-icons {
                    /* 嵌入块内部的代码块控件常显 */
                    opacity: unset !important;
                }
            }

            &:hover {
                /* 查询结果鼠标悬停时显示边框 */
                border-color: var(--b3-theme-on-surface) !important;
            }

            &+.protyle-wysiwyg__embed {
                margin-top: 0.25em;
            }

            &:not(:nth-last-child(3)) {
                /* 嵌入块间分隔线 */
                // position: relative;
                // border-top: 1px dashed var(--custom-line-color);
                // border-bottom: 4px double var(--custom-line-color);
            }
        }
    }

    // 横排超级块
    .sb[data-node-id][data-sb-layout=col] {
        >.render-node[data-node-id][data-type="NodeBlockQueryEmbed"] {
            +.render-node[data-node-id][data-type="NodeBlockQueryEmbed"] {
                /* 移除横排超级块内两个连续的嵌入块的间距 */
                margin-top: initial;
            }
        }
    }
}
