/* 代码块 */

@import url(/appearance/themes/Dark+/style/module/config.css);
@import url(/widgets/custom.css);

.b3-typography .code-block,
.protyle-wysiwyg [data-node-id].code-block {
    background-color: var(--custom-block-code-background-color);
}

/* 行号 */
.b3-typography .protyle-linenumber__rows,
.protyle-wysiwyg [data-node-id].code-block>.protyle-linenumber__rows {
    background-color: var(--custom-block-code-linenumber-background-color);
    /* padding-top: 0; */
    /* padding-bottom: 0; */
}

/* 被选中块的行号 */
.protyle-wysiwyg--hl .protyle-linenumber__rows,
.protyle-wysiwyg--select .protyle-linenumber__rows {
    background-color: var(--b3-theme-primary-lightest) !important;
}

/* 编辑区 */
.b3-typography .hljs,
.protyle-wysiwyg [data-node-id].code-block>.hljs {
    background-color: transparent;
    /* padding-top: 0; */
    /* padding-bottom: 0; */
}

/* 块属性位置 */
.protyle-wysiwyg [data-node-id].code-block>.protyle-attr {
    top: -16px;
}

/* 行号标签 */
.protyle-linenumber {
    background-color: transparent;
}

/* 功能标签栏 */
.b3-typography .code-block .protyle-action,
.protyle-wysiwyg [data-node-id].code-block .protyle-action {
    left: auto;
    right: 4px;
    /* float: right; */
    /* position: relative; */
}

/* 间隔 */
.b3-typography .code-block .protyle-action>span.fn__flex-1,
.protyle-wysiwyg [data-node-id].code-block .protyle-action>span.fn__flex-1 {
    flex: 0;
}

/* 语言标签 */
.b3-typography .code-block .protyle-action .protyle-action__language,
.protyle-wysiwyg .code-block .protyle-action .protyle-action__language {
    margin-left: 0.5em !important;
    margin-right: 0.5em;
    /* margin-top: -6px; */
    font-size: 100%;
}

.b3-typography .code-block .protyle-icons,
.protyle-wysiwyg [data-node-id].code-block .protyle-icons {
    top: 0;
    right: 0;
}



/* 代码块编辑时不闪(v1.8.9 已修复)
 * REF https: //github.com/Achuan-2/siyuan-themes-tsundoku-light/blob/1aaa19fa3e6eebca4cb59606317d4bf1a23b0109/theme.css#L982
 */
/* .code-block .protyle-icons,
.code-block .protyle-icons .protyle-action__copy,
.code-block:hover .protyle-icons,
.code-block:hover .protyle-icons .protyle-action__copy {
    opacity: 1 !important;
} */
