/* 超级块 */


.protyle-wysiwyg {
    [data-node-id].sb {
        /* 调整超级块中元素间距 */
        // REF [roeseth/Siyuan-Golden-Topaz-Refined](https://github.com/roeseth/Siyuan-Golden-Topaz-Refined)
        border-radius: var(--custom-border-radius);
        background-color: var(--custom-block-super-background-color);
        box-shadow: 0 0 var(--custom-block-super-margin) 0 var(--b3-theme-on-surface-light);

        &,
        & [data-node-id].sb {
            /* 超级块边距 */
            margin: var(--custom-block-super-margin);
            padding: var(--custom-block-super-padding);
        }

        &:hover {
            /* 超级块鼠标悬停时显示边框 */
            outline: 1px solid var(--b3-theme-on-surface);
        }
    }
}
