/* 列表 */
.protyle-wysiwyg [data-node-id].li,
.protyle-wysiwyg [data-node-id].list {
  margin: 0;
}
.protyle-wysiwyg [data-node-id].li > .protyle-action {
  /* 列表标志 */
}
.protyle-wysiwyg [data-node-id].li > .protyle-action::after {
  /* 标志阴影 */
}
.protyle-wysiwyg [data-node-id].li > .protyle-action:hover::after {
  background-color: var(--b3-list-hover);
}
.protyle-wysiwyg [data-node-id].li::before {
  /* 缩进辅助线样式 */
  border-left-width: var(--custom-list-guides-line-width);
  border-left-color: var(--custom-list-guides-line-color);
  left: 16px;
}
.protyle-wysiwyg [data-node-id].li > [data-node-id]::before {
  /* 缩进辅助线样式 */
  border-left: var(--custom-list-guides-line-width) solid var(--custom-list-guides-line-color);
  background-color: transparent;
  left: calc(16px - 2em);
  top: 0;
}
.protyle-wysiwyg [data-node-id].li > [data-node-id]:nth-child(2)::before {
  top: 30px !important;
}
.protyle-wysiwyg [data-node-id].li > [data-node-id].list {
  /* 列表缩进(列表块) */
  margin-left: 1em !important;
  padding-left: 1em;
}
.protyle-wysiwyg [data-node-id].li > [data-node-id]:not(.list, [data-type="NodeHeading"]) {
  /* 列表缩进 */
  margin-left: 2em !important;
}
.protyle-wysiwyg [data-node-id].li > [data-node-id].list::before {
  /* 修正下级列表块辅助线错位 */
  left: calc(16px - 1em);
}
.protyle-wysiwyg [data-node-id].li > [data-node-id].bq::before {
  /* 修正列表内引用块辅助线错位 */
  left: calc(13px - 2em);
}
.protyle-wysiwyg [data-node-id].li > [data-node-id][data-type="NodeHeading"]::before {
  /* 修正列表内标题辅助线错位 */
  left: -21px;
}
.protyle-wysiwyg [data-node-id].li > [data-node-id].render-node[data-type="NodeBlockQueryEmbed"]::before {
  /* 修正列表内嵌入块辅助线错位 */
  left: calc(16px - 2em);
}
.protyle-wysiwyg [data-node-id].li > [data-node-id].render-node[data-type="NodeMathBlock"]::before {
  /* 修正公式块块辅助线错位 */
  left: calc(16px - 2em);
}
.protyle-wysiwyg [data-node-id].li > [data-node-id]:first-child::before {
  /* 修正列表接头处辅助线错误 */
  top: calc(12px + 1em) !important;
  height: calc(100% - 8px - 1em) !important;
}
.protyle-wysiwyg [data-node-id].li.protyle-task--done > [data-node-id].p {
  /* 移除删除线默认样式 */
  color: currentColor;
  text-decoration: initial;
}
.protyle-wysiwyg [data-node-id].li.protyle-task--done > [data-node-id].h1 [contenteditable][spellcheck],
.protyle-wysiwyg [data-node-id].li.protyle-task--done > [data-node-id].h2 [contenteditable][spellcheck],
.protyle-wysiwyg [data-node-id].li.protyle-task--done > [data-node-id].h3 [contenteditable][spellcheck],
.protyle-wysiwyg [data-node-id].li.protyle-task--done > [data-node-id].h4 [contenteditable][spellcheck],
.protyle-wysiwyg [data-node-id].li.protyle-task--done > [data-node-id].h5 [contenteditable][spellcheck],
.protyle-wysiwyg [data-node-id].li.protyle-task--done > [data-node-id].h6 [contenteditable][spellcheck],
.protyle-wysiwyg [data-node-id].li.protyle-task--done > [data-node-id].p [contenteditable][spellcheck] {
  /* 已完成任务列表项删除线 */
  text-decoration: var(--custom-list-task-done-text-decoration);
  opacity: var(--custom-list-task-done-opacity);
}
