/* 代码块 */

/* 👇编辑区与导出预览共用样式👇 */
.b3-typography,
.protyle-wysiwyg {

    pre,
    .code-block {
        /* 块背景颜色 */
        background-color: var(--custom-block-code-background-color);

        >.hljs {
            /* 编辑区 */
            background-color: transparent;
        }
    }
}

/* 👆编辑区与导出预览共用样式👆 */

/* 👇导出预览样式👇 */
.b3-typography {

    .protyle-linenumber__rows,
    .hljs {
        padding: 0.5em;
    }
}

/* 👆导出预览样式👆 */

/* 👇编辑区样式👇 */
.protyle-wysiwyg {
    [data-node-id].code-block {
        margin: 0.5em 0;
        padding: 0;
        flex-wrap: wrap;
        flex-direction: column;

        >.protyle-action {
            /* 功能按钮栏 */
            // float: right;
            // display: block;
            position: sticky;
            width: 100%;
            height: 24px;
            justify-content: end;

            // right: 0;
            // top: 0;

            >span {
                /* 功能按钮 */
                opacity: unset; // 按钮常显

                &.protyle-icon {
                    /* 按钮图标 */
                    // top: 0;
                    // right: 0;
                }

                &.protyle-action__language {
                    /* 语言标签 */
                    margin: 0 0.5em;
                    // font-size: unset;
                    line-height: normal;
                }

                &.fn__flex-1 {
                    /* 间隔 */
                    flex: 0;
                }
            }
        }

        >.hljs {
            /* 代码块主体 */
            padding: 0 0 1em;
            background-color: transparent;
            // flex-direction: row;
            // width: 100%;

            >.protyle-linenumber__rows {
                /* 行号 */                // left: 0;
                // font-size: unset;
                padding: 0 1em;
                border-right: var(--custom-block-code-linenumber-separator-width) solid var(--custom-block-code-linenumber-separator-color);
                // background-color: var(--custom-block-code-linenumber-background-color);
            }

            // >div[contenteditable][spellcheck] {
            //     min-height: unset;
            //     padding-left: 0.5em !important;
            //     padding-right: 0.5em;
            //     overflow-y: auto;
            // }
        }

        // >.protyle-attr {
        //     /* 块属性 */
        //     top: -16px;
        // }

        // 高亮的样式
        &.protyle-wysiwyg--hl,
        // 被选中的样式
        &.protyle-wysiwyg--select {

            .hljs,
            .protyle-linenumber__rows {
                /* 被选中代码块的样式 */
                background-color: transparent !important;
                border-color: var(--b3-theme-primary-lighter);
            }
        }

        // 焦点位于该代码块
        &[data-plugin-focus=true] {
            .protyle-linenumber__rows {
                border-color: var(--custom-focus-shadow-color);
            }
        }

        // 唯一焦点位于该代码块
        &#plugin-focus-unique-id {
            .protyle-linenumber__rows {
                border-color: var(--custom-focus-unique-shadow-color);
            }
        }
    }
}

.protyle-wysiwyg--hl .code-block .hljs {
    /* 上级块被选中的代码块样式 */
    background-color: transparent !important;
}

/* 👆编辑区样式👆 */

/* 代码块编辑时不闪(v1.8.9 已修复)
 * REF https: //github.com/Achuan-2/siyuan-themes-tsundoku-light/blob/1aaa19fa3e6eebca4cb59606317d4bf1a23b0109/theme.css#L982
 */
/* .code-block .protyle-icons,
.code-block .protyle-icons .protyle-action__copy,
.code-block:hover .protyle-icons,
.code-block:hover .protyle-icons .protyle-action__copy {
    opacity: 1 !important;
} */
