/* 列表 */

@import url(/appearance/themes/Dark+/style/module/config.css);
@import url(/widgets/custom.css);

/* 缩进线样式 */
.protyle-wysiwyg [data-node-id].li>[data-node-id]::before {
    border-left: var(--custom-list-guides-line-width) solid var(--b3-border-color);
    background-color: transparent;
    left: calc(16px - 2em);
}

.protyle-wysiwyg [data-node-id].li>[data-node-id].list::before {
    left: calc(16px - 1em);
}

/* 修正列表内标题辅助线错位 */
.protyle-wysiwyg [data-node-id].li>[data-node-id][data-type="NodeHeading"]::before {
    left: -21px;
}

/* 修正列表内引用块辅助线错位 */
.protyle-wysiwyg [data-node-id].li>[data-node-id][data-type="NodeBlockquote"]::before {
    /* left: -51px; */
    left: calc(13px - 2em);
}

/* 修正列表内嵌入块辅助线错位 */
.protyle-wysiwyg [data-node-id].li>[data-node-id][data-type="NodeBlockQueryEmbed"]::before {
    left: calc(15px - 2em);
}

.protyle-wysiwyg [data-node-id].li>div:nth-child(2)::before {
    top: calc(1em + 12px) !important;
    height: calc(100% - 1em) !important;
}

/* 列表缩进 */
.protyle-wysiwyg [data-node-id].li>.list {
    margin-left: 1em !important;
    padding-left: 1em;
}

.protyle-wysiwyg [data-node-id].li>[data-node-id]:not(.list, [data-type="NodeHeading"]) {
    margin-left: 2em !important;
}
