/* 表格块 */
.b3-typography table,
.protyle-wysiwyg table {
  /* 表格 */
  background-color: var(--custom-block-table-background-color);
}
.b3-typography table th,
.protyle-wysiwyg table th,
.b3-typography table td,
.protyle-wysiwyg table td {
  /* 单元格 */
  border-color: var(--custom-block-table-cell-border-color);
  background-color: transparent;
}
.b3-typography table colgroup,
.protyle-wysiwyg table colgroup {
  border: 2px solid var(--b3-border-color);
}
.b3-typography table thead,
.protyle-wysiwyg table thead {
  /* 表头 */
  background-color: var(--custom-block-table-thead-background-color);
}
.b3-typography table thead tr,
.protyle-wysiwyg table thead tr {
  /* 表头行 */
  background-color: transparent;
}
.b3-typography table tbody tr:nth-child(2n+1),
.protyle-wysiwyg table tbody tr:nth-child(2n+1) {
  /* 奇数行 */
  background-color: var(--custom-block-table-odd-background-color);
}
.b3-typography table tbody tr:nth-child(2n),
.protyle-wysiwyg table tbody tr:nth-child(2n) {
  /* 偶数行 */
  background-color: var(--custom-block-table-even-background-color);
}
.b3-typography table tr:hover,
.protyle-wysiwyg table tr:hover {
  /* 鼠标悬浮行 */
  outline: 1px solid var(--b3-theme-on-surface);
}
.b3-typography table tr th[colspan]:not([colspan="1"]),
.protyle-wysiwyg table tr th[colspan]:not([colspan="1"]),
.b3-typography table tr td[colspan]:not([colspan="1"]),
.protyle-wysiwyg table tr td[colspan]:not([colspan="1"]),
.b3-typography table tr th[rowspan]:not([rowspan="1"]),
.protyle-wysiwyg table tr th[rowspan]:not([rowspan="1"]),
.b3-typography table tr td[rowspan]:not([rowspan="1"]),
.protyle-wysiwyg table tr td[rowspan]:not([rowspan="1"]) {
  /* 合并的单元格 */
  box-shadow: 0 0 0 1px var(--b3-theme-on-surface-light) inset;
}
.b3-typography table tr th:hover,
.protyle-wysiwyg table tr th:hover,
.b3-typography table tr td:hover,
.protyle-wysiwyg table tr td:hover {
  /* 鼠标悬浮单元格 */
  box-shadow: 0 0 0 1px var(--b3-theme-secondary) inset;
}
