/* 嵌入块 */
.protyle-wysiwyg .render-node[data-node-id][data-type="NodeBlockQueryEmbed"] {
  /* 嵌入块 */
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
}
.protyle-wysiwyg .render-node[data-node-id][data-type="NodeBlockQueryEmbed"] + .render-node[data-node-id][data-type="NodeBlockQueryEmbed"] {
  /* 两个连续的嵌入块 */
  margin-top: 0.5em;
}
.protyle-wysiwyg .render-node[data-node-id][data-type="NodeBlockQueryEmbed"] > .protyle-icons {
  /* 悬浮显示的控件 */
  z-index: 2;
}
.protyle-wysiwyg .render-node[data-node-id][data-type="NodeBlockQueryEmbed"] > .protyle-wysiwyg__embed {
  border: 2px solid var(--custom-line-color) !important;
  background-color: var(--custom-block-embed-background-color);
}
.protyle-wysiwyg .render-node[data-node-id][data-type="NodeBlockQueryEmbed"] > .protyle-wysiwyg__embed .code-block:hover .protyle-icon,
.protyle-wysiwyg .render-node[data-node-id][data-type="NodeBlockQueryEmbed"] > .protyle-wysiwyg__embed .code-block:hover .protyle-icons {
  /* 嵌入块内部的代码块控件常显 */
  opacity: unset !important;
}
.protyle-wysiwyg .render-node[data-node-id][data-type="NodeBlockQueryEmbed"] > .protyle-wysiwyg__embed:hover {
  /* 查询结果鼠标悬停时显示边框 */
  border-color: var(--b3-theme-on-surface) !important;
}
.protyle-wysiwyg .render-node[data-node-id][data-type="NodeBlockQueryEmbed"] > .protyle-wysiwyg__embed + .protyle-wysiwyg__embed {
  margin-top: 0.25em;
}
.protyle-wysiwyg .render-node[data-node-id][data-type="NodeBlockQueryEmbed"] > .protyle-wysiwyg__embed:not(:nth-last-child(3)) {
  /* 嵌入块间分隔线 */
}
.protyle-wysiwyg .sb[data-node-id][data-sb-layout=col] > .render-node[data-node-id][data-type="NodeBlockQueryEmbed"] + .render-node[data-node-id][data-type="NodeBlockQueryEmbed"] {
  /* 移除横排超级块内两个连续的嵌入块的间距 */
  margin-top: initial;
}
