/* 表格块 */
@import url(/appearance/themes/Dark+/style/module/config.css);
@import url(/widgets/custom.css);
.b3-typography table,
.protyle-wysiwyg table {
  /* 表格 */
  background-color: var(--custom-block-table-background-color);
}
.b3-typography table thead,
.protyle-wysiwyg table thead {
  /* 表头 */
  background-color: var(--custom-block-table-thead-background-color);
}
.b3-typography table thead tr,
.protyle-wysiwyg table thead tr {
  /* 表头行 */
  background-color: transparent;
}
.b3-typography table tbody tr:nth-child(2n+1),
.protyle-wysiwyg table tbody tr:nth-child(2n+1) {
  /* 奇数行 */
  background-color: var(--custom-block-table-odd-background-color);
}
.b3-typography table tbody tr:nth-child(2n),
.protyle-wysiwyg table tbody tr:nth-child(2n) {
  /* 偶数行 */
  background-color: var(--custom-block-table-odd-background-color);
}
.b3-typography table tr:hover,
.protyle-wysiwyg table tr:hover {
  /* 鼠标悬浮行 */
  outline: 1px solid var(--b3-theme-on-surface);
}
