/* 超级块 */


.protyle-wysiwyg {
    .sb[data-node-id] {
        /* 调整超级块中元素间距 */
        // REF [roeseth/Siyuan-Golden-Topaz-Refined](https://github.com/roeseth/Siyuan-Golden-Topaz-Refined)
        border-radius: var(--custom-border-radius);
        background-color: var(--custom-block-super-background-color);
        box-shadow: 0 0 var(--custom-block-super-margin) 0 var(--b3-theme-on-surface-light);

        &,
        .sb[data-node-id] {
            /* 超级块边距 */
            margin: var(--custom-block-super-margin);
            padding: var(--custom-block-super-padding);
        }

        // 横排的超级块
        &[data-sb-layout=col] {
            >.sb[data-node-id] {
                /* 横排超级块内嵌套超级块 */
                margin-right: var(--custom-block-super-margin);

                +.sb[data-node-id] {
                    /* 横排超级块内相邻的超级块 */
                    // margin-left: calc(var(--custom-block-super-margin) * 1);
                }
            }
        }

        // 纵排的超级块
        &[data-sb-layout=row] {
            >.sb[data-node-id] {
                +.sb[data-node-id] {
                    /* 纵排超级块内相邻的超级块 */
                    margin-top: calc(var(--custom-block-super-margin) * 2);
                }
            }
        }

        &:hover {
            /* 超级块鼠标悬停时显示边框 */
            outline: 1px solid var(--b3-theme-on-surface);
        }

        >.protyle-attr {
            /* 超级块块属性标识 */
            // top: var(--custom-block-super-attr-offset);
        }
    }

}
