/* 属性视图 */
.protyle-wysiwyg .av[data-node-id] {
  background-color: var(--custom-block-av-background-color);
}
.protyle-wysiwyg .av[data-node-id] .av__scroll .av__row--header,
.protyle-wysiwyg .av[data-node-id] .av__scroll .av__row--footer {
  border-top: 1px solid var(--custom-block-av-cell-color);
  border-bottom: 1px solid var(--custom-block-av-cell-color);
}
.protyle-wysiwyg .av[data-node-id] .av__scroll .av__row .av__cell {
  border-right-color: var(--custom-block-av-cell-color);
}
.protyle-wysiwyg .av[data-node-id] .av__scroll .av__row .av__cell .b3-chip[data-type~=block-ref] {
  background-color: transparent;
  padding: 0;
  top: 10px;
  right: 0;
}
.protyle-wysiwyg .av[data-node-id] .av__scroll .av__row .av__cell .b3-chip[data-type~=block-more] {
  outline: 1px solid currentColor;
  padding: 0 0.25em;
}
.protyle-wysiwyg .av[data-node-id] .av__scroll .av__row .av__cell .av__celltext .b3-chip {
  outline: 1px solid currentColor;
}
.protyle-wysiwyg .av[data-node-id] .av__scroll .av__row:not(.av__row--header) {
  border-bottom-color: var(--custom-block-av-cell-color);
}
.protyle-wysiwyg .av[data-node-id] .av__scroll .av__row:not(.av__row--header):not(.av__row--select):hover {
  /* 鼠标悬浮行 */
  background-color: var(--b3-list-icon-hover);
}
.protyle-wysiwyg .av[data-node-id] .av__scroll .av__row:not(.av__row--header) .av__cell:hover {
  /* 鼠标悬浮单元格 */
  box-shadow: 0 0 0 1px var(--b3-theme-secondary) inset;
}
.protyle-wysiwyg .av[data-node-id] .av__scroll .av__row--footer .av__calc--ashow,
.protyle-wysiwyg .av[data-node-id] .av__scroll .av__row--footer:hover .av__calc {
  outline: 1px solid var(--custom-block-av-cell-color);
}
.protyle-wysiwyg .av[data-node-id] .av__scroll .av__firstcol {
  border-right: 1px solid var(--custom-block-av-cell-color);
}
