/* 块全局样式 */

.block() {
    margin-top: var(--custom-block-margin-top);
    margin-bottom: var(--custom-block-margin-bottom);
    border-radius: unset;
}

.b3-typography {
    p {
        .block();
    }
}

.protyle-wysiwyg {
    [data-node-id] {
        .block();
    }
}
