/* 各级标题 */

@import url(/appearance/themes/Dark+/style/module/config.css);
@import url(/widgets/custom.css);

/* 标题自动编号 */
/* body {
    counter-reset: h1-counter 0;
} */

.protyle-wysiwyg,
.b3-typography {
    counter-reset: h1-counter 0 h2-counter 0 h3-counter 0 h4-counter 0 h5-counter 0 h6-counter 0;
}

.protyle-wysiwyg>.h1,
.b3-typography>h1 {
    counter-increment: h1-counter;
    counter-reset: h2-counter 0;
}

.protyle-wysiwyg>.h2,
.b3-typography>h2 {
    counter-increment: h2-counter;
    counter-reset: h3-counter 0;
}

.protyle-wysiwyg>.h3,
.b3-typography>h3 {
    counter-increment: h3-counter;
    counter-reset: h4-counter 0;
}

.protyle-wysiwyg>.h4,
.b3-typography>h4 {
    counter-increment: h4-counter;
    counter-reset: h5-counter 0;
}

.protyle-wysiwyg>.h5,
.b3-typography>h5 {
    counter-increment: h5-counter;
    counter-reset: h6-counter 0;
}

.protyle-wysiwyg>.h6,
.b3-typography>h6 {
    counter-increment: h6-counter;
}

.protyle-wysiwyg>.h1::before,
.b3-typography>h1::before {
    display: block;
    float: left;
    font-size: var(--custom-h-num-font-size);
    content: counter(h1-counter) "\00A0";
}

.protyle-wysiwyg>.h2::before,
.b3-typography>h2::before {
    display: block;
    float: left;
    font-size: var(--custom-h-num-font-size);
    content: counter(h1-counter) "."counter(h2-counter) "\00A0";
}

.protyle-wysiwyg>.h3::before,
.b3-typography>h3::before {
    display: block;
    float: left;
    font-size: var(--custom-h-num-font-size);
    content: counter(h1-counter) "."counter(h2-counter) "."counter(h3-counter) "\00A0";
}

.protyle-wysiwyg>.h4::before,
.b3-typography>h4::before {
    display: block;
    float: left;
    font-size: var(--custom-h-num-font-size);
    content: counter(h1-counter) "."counter(h2-counter) "."counter(h3-counter) "."counter(h4-counter) "\00A0";
}

.protyle-wysiwyg>.h5::before,
.b3-typography>h5::before {
    display: block;
    float: left;
    font-size: var(--custom-h-num-font-size);
    content: counter(h1-counter) "."counter(h2-counter) "."counter(h3-counter) "."counter(h4-counter) "."counter(h5-counter) "\00A0";
}

.protyle-wysiwyg>.h6::before,
.b3-typography>h6::before {
    display: block;
    float: left;
    font-size: var(--custom-h-num-font-size);
    content: counter(h1-counter) "."counter(h2-counter) "."counter(h3-counter) "."counter(h4-counter) "."counter(h5-counter) "."counter(h6-counter) "\00A0";
}

/* 调整标题空行光标位置 */
.protyle-wysiwyg>.h1>[contenteditable][spellcheck]:empty {
    padding-left: 0.5em;
}

.protyle-wysiwyg>.h2>[contenteditable][spellcheck]:empty {
    padding-left: 1em;
}

.protyle-wysiwyg>.h3>[contenteditable][spellcheck]:empty {
    padding-left: 1.5em;
}

.protyle-wysiwyg>.h4>[contenteditable][spellcheck]:empty {
    padding-left: 2em;
}

.protyle-wysiwyg>.h5>[contenteditable][spellcheck]:empty {
    padding-left: 2.5em;
}

.protyle-wysiwyg>.h6>[contenteditable][spellcheck]:empty {
    padding-left: 3em;
}

/* 标题颜色标识 */

.protyle-wysiwyg [data-node-id].h1,
.b3-typography h1 {
    /* font-size: 1.6em !important; */
    color: var(--custom-h1-color);
    border-left: 3px solid var(--custom-h1-color);
    padding-left: 9px;
}

.protyle-wysiwyg [data-node-id].h2,
.b3-typography h2 {
    /* font-size: 1.5em !important; */
    color: var(--custom-h2-color);
    border-left: 3px solid var(--custom-h2-color);
    padding-left: 9px;
}

.protyle-wysiwyg [data-node-id].h3,
.b3-typography h3 {
    /* font-size: 1.4em !important; */
    color: var(--custom-h3-color);
    border-left: 3px solid var(--custom-h3-color);
    padding-left: 9px;

}

.protyle-wysiwyg [data-node-id].h4,
.b3-typography h4 {
    /* font-size: 1.3em !important; */
    color: var(--custom-h4-color);
    border-left: 3px solid var(--custom-h4-color);
    padding-left: 9px;
}

.protyle-wysiwyg [data-node-id].h5,
.b3-typography h5 {
    /* font-size: 1.2em !important; */
    color: var(--custom-h5-color);
    border-left: 3px solid var(--custom-h5-color);
    padding-left: 9px;
}

.protyle-wysiwyg [data-node-id].h6,
.b3-typography h6 {
    /* font-size: 1.1em !important; */
    color: var(--custom-h6-color);
    border-left: 3px solid var(--custom-h6-color);
    padding-left: 9px;

}

/* 标题前方标注级别编号 */
/* .protyle-wysiwyg [data-node-id].h1::before,
.b3-typography h1::before {
    content: var(--custom-h1-mark);
    display: block;
    float: left;
    margin-right: var(--custom-h-mark-blank);
}

.protyle-wysiwyg .h1>[contenteditable][spellcheck]:focus:empty {
    padding-left: 1rem;
}


.protyle-wysiwyg [data-node-id].h2::before,
.b3-typography h2::before {
    content: var(--custom-h2-mark);
    display: block;
    float: left;
    margin-right: var(--custom-h-mark-blank);
}

.protyle-wysiwyg .h2>[contenteditable][spellcheck]:focus:empty {
    padding-left: 1rem;
}


.protyle-wysiwyg [data-node-id].h3::before,
.b3-typography h3::before {
    content: var(--custom-h3-mark);
    display: block;
    float: left;
    margin-right: var(--custom-h-mark-blank);
}

.protyle-wysiwyg .h3>[contenteditable][spellcheck]:focus:empty {
    padding-left: 1rem;
}


.protyle-wysiwyg [data-node-id].h4::before,
.b3-typography h4::before {
    content: var(--custom-h4-mark);
    display: block;
    float: left;
    margin-right: var(--custom-h-mark-blank);
}

.protyle-wysiwyg .h4>[contenteditable][spellcheck]:focus:empty {
    padding-left: 1rem;
}


.protyle-wysiwyg [data-node-id].h5::before,
.b3-typography h5::before {
    content: var(--custom-h5-mark);
    display: block;
    float: left;
    margin-right: var(--custom-h-mark-blank);
}

.protyle-wysiwyg .h5>[contenteditable][spellcheck]:focus:empty {
    padding-left: 1rem;
}


.protyle-wysiwyg [data-node-id].h6::before,
.b3-typography h6::before {
    content: var(--custom-h6-mark);
    display: block;
    float: left;
    margin-right: var(--custom-h-mark-blank);
}

.protyle-wysiwyg .h6>[contenteditable][spellcheck]:focus:empty {
    padding-left: 1rem;
} */
