/* 列表 */

.protyle-wysiwyg {

    [data-node-id].li,
    [data-node-id].list {
        margin: 0;
    }

    [data-node-id].li {
        >.protyle-action {
            /* 列表标志 */
            // z-index: 0;

            &::after {
                /* 标志阴影 */
                // z-index: 0;
            }
            &:hover {
                &::after {
                    background-color: var(--b3-list-hover);
                }
            }
        }

        &::before {
            /* 缩进辅助线样式 */
            border-left-width: var(--custom-list-guides-line-width);
            border-left-color: var(--custom-list-guides-line-color);
            left: 16px;
        }

        >[data-node-id] {
            &::before {
                /* 缩进辅助线样式 */
                // border-left: var(--custom-list-guides-line-width) solid var(--b3-border-color);
                border-left: var(--custom-list-guides-line-width) solid var(--custom-list-guides-line-color);
                background-color: transparent;
                left: calc(16px - 2em);
                top: 0;
            }

            &:nth-child(2)::before {
                top: 30px !important;
            }

            &.list {
                /* 列表缩进(列表块) */
                margin-left: 1em !important;
                padding-left: 1em;
            }

            &:not(.list, [data-type="NodeHeading"]) {
                /* 列表缩进 */
                margin-left: 2em !important;
            }

            &.list::before {
                /* 修正下级列表块辅助线错位 */
                left: calc(16px - 1em);
            }

            &.bq::before {
                /* 修正列表内引用块辅助线错位 */
                left: calc(13px - 2em);
            }

            &[data-type="NodeHeading"]::before {
                /* 修正列表内标题辅助线错位 */
                left: -21px;
            }

            &.render-node {
                &[data-type="NodeBlockQueryEmbed"]::before {
                    /* 修正列表内嵌入块辅助线错位 */
                    left: calc(16px - 2em);
                }

                &[data-type="NodeMathBlock"]::before {
                    /* 修正公式块块辅助线错位 */
                    left: calc(16px - 2em);
                }
            }

            &:first-child::before {
                /* 修正列表接头处辅助线错误 */
                top: calc(12px + 1em) !important;
                height: calc(100% - 8px - 1em) !important;
            }
        }

        &.protyle-task--done {
            >[data-node-id] {

                &.p {
                    /* 移除删除线默认样式 */
                    // color: var(--b3-theme-on-surface-light);
                    color: currentColor;
                    text-decoration: initial;
                }

                &.h1,
                &.h2,
                &.h3,
                &.h4,
                &.h5,
                &.h6,
                &.p {
                    [contenteditable][spellcheck] {
                        /* 已完成任务列表项删除线 */
                        text-decoration: var(--custom-list-task-done-text-decoration);
                        opacity: var(--custom-list-task-done-opacity);
                    }
                }
            }

        }
    }
}
