/* 超级块 */
@import url(/appearance/themes/Dark+/style/module/config.css);
@import url(/widgets/custom.css);
.protyle-wysiwyg [data-node-id].sb {
  /* 调整超级块中元素间距 */
  border-radius: var(--custom-border-radius);
  padding: var(--custom-block-padding);
  background-color: var(--custom-block-super-background-color);
  box-shadow: var(--b3-theme-on-surface-light) 0 0 var(--custom-box-shadow-spread);
}
.protyle-wysiwyg [data-node-id].sb:hover {
  /* 超级块鼠标悬停时显示边框 */
  outline: 1px solid var(--b3-theme-on-surface);
}
.protyle-wysiwyg [data-node-id].sb [data-node-id].sb {
  border-radius: var(--custom-border-radius);
  margin: var(--custom-block-padding);
}
