/* 块全局样式 */

.b3-typography,
.protyle-wysiwyg {

    p,
    [data-node-id] {
        margin-bottom: 0;
        border-radius: unset;

        .protyle-attr {
            z-index: 2;
        }
    }
}
