/* 水平分隔线 */

@import url(/appearance/themes/Dark+/style/module/config.css);
@import url(/widgets/custom.css);

.b3-typography hr,
.protyle-wysiwyg [data-node-id].hr>div {
    border-bottom: 4px double var(--custom-line-color);
}
