/* 代码块 */

@import url(/appearance/themes/Dark+/style/module/config.css);
@import url(/widgets/custom.css);

.b3-typography .code-block,
.protyle-wysiwyg .code-block {
    background-color: var(--custom-block-code-background-color);
}

.b3-typography .hljs,
.protyle-wysiwyg .hljs {
    background-color: transparent;
}

.protyle-linenumber {
    background-color: transparent;
}