/* 面包屑 */
.protyle-breadcrumb {
  /* 导航栏(面包屑) */
  padding: 0 2px 0 0;
  background-color: var(--custom-editor-breadcrumb-bar-background-color);
  /* box-shadow: 0 15px 10px -10px rgba(0, 0, 0, 0.5); */
}
.protyle-breadcrumb .protyle-breadcrumb__space {
  /* 面包屑与右侧按钮之间的间距 */
  min-width: none;
}
.protyle-breadcrumb .block__icon {
  /* 面包屑右侧按钮 */
  margin: 0 5px;
  padding: 4px;
}
.protyle-breadcrumb .block__icon > svg {
  width: 16px;
  height: 16px;
}
.protyle-breadcrumb .block__icon + .fn__space {
  display: none;
}
.protyle-breadcrumb .protyle-breadcrumb__bar {
  margin: 0 4px;
}
.protyle-wysiwyg .protyle-breadcrumb__bar {
  margin: 0;
  padding: 0 3px;
}
.sy__backlink .protyle-breadcrumb__bar {
  outline: 1px dotted var(--b3-theme-on-surface);
  margin-bottom: 4px;
}
.protyle-wysiwyg__embed .protyle-breadcrumb__bar {
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: var(--custom-editor-breadcrumb-bar-background-color);
}
.protyle-breadcrumb__bar .protyle-breadcrumb__item {
  /* 导航栏文字 */
  line-height: normal;
  border: 1px solid var(--b3-theme-on-surface-light);
}
.protyle-breadcrumb__bar .protyle-breadcrumb__item:first-child {
  border-color: var(--b3-theme-on-surface);
}
.protyle-breadcrumb__bar .protyle-breadcrumb__item:first-child,
.protyle-breadcrumb__bar .protyle-breadcrumb__item:first-child .protyle-breadcrumb__text--ellipsis {
  /* 文档路径完整显示 */
  max-width: none;
}
.protyle-breadcrumb__bar .protyle-breadcrumb__item .protyle-breadcrumb__text:empty {
  /* 无内容的面包屑项 */
  margin-left: 0;
}
.protyle-breadcrumb__bar .protyle-breadcrumb__item .protyle-breadcrumb__text:first-child {
  /* 无图标的面包屑项 */
  margin-left: 0;
}
