/* 文档提示 */

.protyle-wysiwyg[custom-prompt]::before {
    content: "\00A0"attr(custom-prompt)"\00A0";
    font-size: 0.75em;
    border: 1px solid var(--b3-theme-secondary);
    position: absolute;
    top: var(--custom-breadcrumb-height);
    right: 1em;
    z-index: 1;
}
