/* 自定义文档背景图片 */
.protyle-wysiwyg[custom-background] {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}
.protyle-wysiwyg[custom-background="01"] {
  background-image: var(--custom-background-01);
}
.protyle-wysiwyg[custom-background="02"] {
  background-image: var(--custom-background-02);
}
.protyle-wysiwyg[custom-background="03"] {
  background-image: var(--custom-background-03);
}
.protyle-wysiwyg[custom-background="04"] {
  background-image: var(--custom-background-04);
}
.protyle-wysiwyg[custom-background="05"] {
  background-image: var(--custom-background-05);
}
.protyle-wysiwyg[custom-background="06"] {
  background-image: var(--custom-background-06);
}
.protyle-wysiwyg[custom-background="07"] {
  background-image: var(--custom-background-07);
}
.protyle-wysiwyg[custom-background="08"] {
  background-image: var(--custom-background-08);
}
.protyle-wysiwyg[custom-background="09"] {
  background-image: var(--custom-background-09);
}
.protyle-wysiwyg[custom-background="10"] {
  background-image: var(--custom-background-10);
}
.protyle-wysiwyg[custom-background="11"] {
  background-image: var(--custom-background-11);
}
.protyle-wysiwyg[custom-background="12"] {
  background-image: var(--custom-background-12);
}
.protyle-wysiwyg[custom-background="01"] {
  background-image: var(--custom-background-01);
}
.protyle-wysiwyg[custom-background="02"] {
  background-image: var(--custom-background-02);
}
.protyle-wysiwyg[custom-background="03"] {
  background-image: var(--custom-background-03);
}
.protyle-wysiwyg[custom-background="04"] {
  background-image: var(--custom-background-04);
}
.protyle-wysiwyg[custom-background="05"] {
  background-image: var(--custom-background-05);
}
.protyle-wysiwyg[custom-background="06"] {
  background-image: var(--custom-background-06);
}
.protyle-wysiwyg[custom-background="07"] {
  background-image: var(--custom-background-07);
}
.protyle-wysiwyg[custom-background="08"] {
  background-image: var(--custom-background-08);
}
.protyle-wysiwyg[custom-background="09"] {
  background-image: var(--custom-background-09);
}
.protyle-wysiwyg[custom-background="10"] {
  background-image: var(--custom-background-10);
}
.protyle-wysiwyg[custom-background="11"] {
  background-image: var(--custom-background-11);
}
.protyle-wysiwyg[custom-background="12"] {
  background-image: var(--custom-background-12);
}
