/* 块过长时设置块内纵向滚动条 */
.protyle-content [data-node-id][custom-render~=scroll] > .protyle-action,
.protyle-content [data-node-id][custom-render~="滚屏"] > .protyle-action,
.protyle-content [data-node-id][custom-render~="滚动"] > .protyle-action {
  /* 右上角悬浮控件 */
  position: sticky;
}
.protyle-content [data-node-id][custom-render~=scroll].table table,
.protyle-content [data-node-id][custom-render~="滚屏"].table table,
.protyle-content [data-node-id][custom-render~="滚动"].table table,
.protyle-content [data-node-id][custom-render~=scroll]:not(.table),
.protyle-content [data-node-id][custom-render~="滚屏"]:not(.table),
.protyle-content [data-node-id][custom-render~="滚动"]:not(.table) {
  /* 纵向滚动条 */
  overflow-y: auto;
  max-height: var(--custom-scroll-max-height);
}
.protyle-content [data-node-id][custom-render~=scroll].table table::-webkit-scrollbar-track,
.protyle-content [data-node-id][custom-render~="滚屏"].table table::-webkit-scrollbar-track,
.protyle-content [data-node-id][custom-render~="滚动"].table table::-webkit-scrollbar-track,
.protyle-content [data-node-id][custom-render~=scroll]:not(.table)::-webkit-scrollbar-track,
.protyle-content [data-node-id][custom-render~="滚屏"]:not(.table)::-webkit-scrollbar-track,
.protyle-content [data-node-id][custom-render~="滚动"]:not(.table)::-webkit-scrollbar-track {
  /* 滚动条轨道样式 */
  background-color: var(--custom-scroll-track-background-color);
  border-radius: var(--custom-border-radius);
}
.protyle-content [data-node-id][custom-render~=scroll].table table > thead,
.protyle-content [data-node-id][custom-render~="滚屏"].table table > thead,
.protyle-content [data-node-id][custom-render~="滚动"].table table > thead {
  /* 冻结表头 */
  position: sticky;
  top: 1px;
  z-index: 1;
  outline: 1px solid var(--b3-theme-primary);
  box-shadow: unset;
}
.protyle-content [data-node-id][custom-pinthead=true].table table > thead {
  /* 冻结表头 */
  position: sticky;
  top: 1px;
  z-index: 1;
  outline: 1px solid var(--b3-theme-primary);
  box-shadow: unset;
}
