/* 自定义块字体 */
.protyle-wysiwyg[custom-font-family="等线"],
.protyle-wysiwyg [data-node-id][custom-font-family="等线"] {
  font-family: "等线" !important;
}
.protyle-wysiwyg[custom-font-family="方正舒体"],
.protyle-wysiwyg [data-node-id][custom-font-family="方正舒体"] {
  font-family: "方正舒体" !important;
}
.protyle-wysiwyg[custom-font-family="方正姚体"],
.protyle-wysiwyg [data-node-id][custom-font-family="方正姚体"] {
  font-family: "方正姚体" !important;
}
.protyle-wysiwyg[custom-font-family="仿宋"],
.protyle-wysiwyg [data-node-id][custom-font-family="仿宋"] {
  font-family: "仿宋" !important;
}
.protyle-wysiwyg[custom-font-family="黑体"],
.protyle-wysiwyg [data-node-id][custom-font-family="黑体"] {
  font-family: "黑体" !important;
}
.protyle-wysiwyg[custom-font-family="华文彩云"],
.protyle-wysiwyg [data-node-id][custom-font-family="华文彩云"] {
  font-family: "华文彩云" !important;
}
.protyle-wysiwyg[custom-font-family="华文仿宋"],
.protyle-wysiwyg [data-node-id][custom-font-family="华文仿宋"] {
  font-family: "华文仿宋" !important;
}
.protyle-wysiwyg[custom-font-family="华文琥珀"],
.protyle-wysiwyg [data-node-id][custom-font-family="华文琥珀"] {
  font-family: "华文琥珀" !important;
}
.protyle-wysiwyg[custom-font-family="华文楷体"],
.protyle-wysiwyg [data-node-id][custom-font-family="华文楷体"] {
  font-family: "华文楷体" !important;
}
.protyle-wysiwyg[custom-font-family="华文隶书"],
.protyle-wysiwyg [data-node-id][custom-font-family="华文隶书"] {
  font-family: "华文隶书" !important;
}
.protyle-wysiwyg[custom-font-family="华文宋体"],
.protyle-wysiwyg [data-node-id][custom-font-family="华文宋体"] {
  font-family: "华文宋体" !important;
}
.protyle-wysiwyg[custom-font-family="华文细黑"],
.protyle-wysiwyg [data-node-id][custom-font-family="华文细黑"] {
  font-family: "华文细黑" !important;
}
.protyle-wysiwyg[custom-font-family="华文新魏"],
.protyle-wysiwyg [data-node-id][custom-font-family="华文新魏"] {
  font-family: "华文新魏" !important;
}
.protyle-wysiwyg[custom-font-family="华文行楷"],
.protyle-wysiwyg [data-node-id][custom-font-family="华文行楷"] {
  font-family: "华文行楷" !important;
}
.protyle-wysiwyg[custom-font-family="华文中宋"],
.protyle-wysiwyg [data-node-id][custom-font-family="华文中宋"] {
  font-family: "华文中宋" !important;
}
.protyle-wysiwyg[custom-font-family="楷体"],
.protyle-wysiwyg [data-node-id][custom-font-family="楷体"] {
  font-family: "楷体" !important;
}
.protyle-wysiwyg[custom-font-family="隶书"],
.protyle-wysiwyg [data-node-id][custom-font-family="隶书"] {
  font-family: "隶书" !important;
}
.protyle-wysiwyg[custom-font-family="宋体"],
.protyle-wysiwyg [data-node-id][custom-font-family="宋体"] {
  font-family: "宋体" !important;
}
.protyle-wysiwyg[custom-font-family="微软雅黑"],
.protyle-wysiwyg [data-node-id][custom-font-family="微软雅黑"] {
  font-family: "微软雅黑" !important;
}
.protyle-wysiwyg[custom-font-family="新宋体"],
.protyle-wysiwyg [data-node-id][custom-font-family="新宋体"] {
  font-family: "新宋体" !important;
}
.protyle-wysiwyg[custom-font-family="幼圆"],
.protyle-wysiwyg [data-node-id][custom-font-family="幼圆"] {
  font-family: "幼圆" !important;
}
