/* 表格自动调整宽度 */


.protyle-wysiwyg {

    .table[data-node-id] {

        &[custom-table-width~=auto],
        &[custom-table-width~="自动"] {
            /* 自动宽度 */
            width: 100%;

            table {
                /* 自动宽度 */
                width: auto;
            }
        }

        &[custom-table-width~=equal],
        &[custom-table-width~="等宽"] {
            table {
                /* 等宽 */
                table-layout: fixed;

                td {
                    /* 等宽 */
                    width: var(--custom-table-cell-equal-width);
                }
            }
        }

    }

}
