/**
 * 以表格的形式显示列表块
 * 需要对一个列表容器设置自定义属性 type: table
 * 详情请参考: [土法列表表格-这回原理我也说不清了 · 语雀](https: //www.yuque.com/siyuannote/docs/yev84m)
 * REF [UserZYF](https://github.com/UserZYF) 修复上述实现方案
 */

@import url(/appearance/themes/Dark+/style/module/config.css);
@import url(/widgets/custom.css);

/* --------------------------------------用自定义属性，列表转化为表格------------------------------------------- */
.protyle-wysiwyg *[custom-type~=table] .protyle-action {
    display: table-cell;
}

.protyle-wysiwyg div.list[custom-type~=table] div.list,
.protyle-wysiwyg div.list[custom-type~=table] div.li {
    border: 0;
    padding: 0;
    margin: 0;
    height: 100%;
    outline: 1px solid var(--b3-theme-on-surface);
}

/* 顶层列表块 */
/* .protyle-wysiwyg div.list[custom-type~=table] {} */

/* 嵌套列表块 */
.protyle-wysiwyg div.list[custom-type~=table] div.list {
    width: 100%;
}

/* 列表项 */
.protyle-wysiwyg div.list[custom-type~=table] div.li {
    width: auto;
    display: flex;
    overflow-x: auto;
}

/* 列表项内容 */
.protyle-wysiwyg div.list[custom-type~=table] div[data-node-id]:not(.li, .list) {
    min-width: 128px;
    width: auto;
    text-align: justify;
}

/* 去除辅助线 */
.protyle-wysiwyg div.list[custom-type~=table] div.li>div:before {
    display: none;
}

/* --------------------------------------用自定义属性，列表转化为表格 END------------------------------------------- */
