/* 滚动弹幕块 */
@import url(/appearance/themes/Dark+/style/module/config.css);
@import url(/widgets/custom.css);
.protyle-wysiwyg[custom-render~=danmaku] > [data-node-id],
.protyle-wysiwyg[custom-render~="弹幕"] > [data-node-id],
.protyle-wysiwyg [custom-render~=danmaku][data-node-id],
.protyle-wysiwyg [custom-render~="弹幕"][data-node-id] {
  /* 使用滚动动画 */
  animation: var(--custom-render-danmaku-time) danmaku linear infinite normal;
}
.protyle-wysiwyg[custom-render~=danmaku] > [data-node-id]:hover,
.protyle-wysiwyg[custom-render~="弹幕"] > [data-node-id]:hover,
.protyle-wysiwyg [custom-render~=danmaku][data-node-id]:hover,
.protyle-wysiwyg [custom-render~="弹幕"][data-node-id]:hover {
  /* 鼠标悬浮时暂停 */
  animation-play-state: paused;
}
