/* 浮动块 */

@import url(/appearance/themes/Dark+/style/module/config.css);
@import url(/widgets/custom.css);

.protyle-wysiwyg [data-node-id]:is([custom-position~=top], [custom-position~=bottom]) {
    position: absolute;
    left: var(--custom-editor-padding-left);
    right: var(--custom-editor-padding-right);
    z-index: 1;
}

.protyle-wysiwyg [data-node-id][custom-position~=top] {
    top: var(--custom-breadcrumb-height);
}

.protyle-wysiwyg [data-node-id][custom-position~=bottom] {
    bottom: var(--custom-position-bottom);
}

/* 文档下顶层块需要留出面包屑的高度 */
.protyle-wysiwyg>[data-node-id][custom-position~=top] {
    top: calc(var(--custom-breadcrumb-height) + var(--custom-position-root-block-top));
}
