/**
 * 以表格的形式显示列表块
 * 需要对一个列表容器设置自定义属性 type: table
 * 详情请参考: [土法列表表格-这回原理我也说不清了 · 语雀](https: //www.yuque.com/siyuannote/docs/yev84m)
 * REF [UserZYF](https://github.com/UserZYF) 修复上述实现方案
 */

@import url(/appearance/themes/Dark+/style/module/config.css);
@import url(/widgets/custom.css);

/* --------------------------------------用自定义属性，列表转化为表格------------------------------------------- */

.protyle-content *[custom-type~=table] [data-node-id].list,
.protyle-content *[custom-type~=表格] [data-node-id].list,
.protyle-content *[custom-type~=table] [data-node-id].li,
.protyle-content *[custom-type~=表格] [data-node-id].li {
    border: 0;
    padding: 0;
    margin: 0 !important;
    height: 100%;
    outline: 1px solid var(--b3-theme-on-surface);
}

/* 顶层列表块 */
/* .protyle-content *[custom-type~=table].list {} */
/* .protyle-content *[custom-type~=表格].list {} */

/* 嵌套列表块 */
.protyle-content *[custom-type~=table] [data-node-id].list,
.protyle-content *[custom-type~=表格] [data-node-id].list {
    width: 100%;
}

/* 列表项 */
.protyle-content *[custom-type~=table] [data-node-id].li,
.protyle-content *[custom-type~=表格] [data-node-id].li {
    width: auto;
    display: flex;
    /* overflow-x: auto; */
}

/* 最顶层的列表项滚动 */
.protyle-content *[custom-type~=table]>[data-node-id].list>[data-node-id].li,
.protyle-content *[custom-type~=表格]>[data-node-id].list>[data-node-id].li,
.protyle-content *[custom-type~=table]>[data-node-id].li,
.protyle-content *[custom-type~=表格]>[data-node-id].li {
    overflow-x: auto;
}

/* 列表项内容 */
.protyle-content *[custom-type~=table] [data-node-id].li>[data-node-id]:not(.li, .list),
.protyle-content *[custom-type~=表格] [data-node-id].li>[data-node-id]:not(.li, .list) {
    margin-right: 0.5em;
    align-items: center;
    display: flex;
    min-width: 128px;
    text-align: justify;
    flex-shrink: 0;
}

/* 列表项内的容器块与嵌入恢复上下排列 */
.protyle-content *[custom-type~=table] [data-node-id].li>[data-node-id][data-type="NodeBlockQueryEmbed"],
.protyle-content *[custom-type~=表格] [data-node-id].li>[data-node-id][data-type="NodeBlockQueryEmbed"],

.protyle-content *[custom-type~=table] [data-node-id].li>[data-node-id].sb,
.protyle-content *[custom-type~=表格] [data-node-id].li>[data-node-id].sb,

.protyle-content *[custom-type~=table] [data-node-id].li>[data-node-id].bq,
.protyle-content *[custom-type~=表格] [data-node-id].li>[data-node-id].bq {
    display: block;
}

/* 列表项标志居中 */
.protyle-content *[custom-type~=table] [data-node-id].li>div.protyle-action,
.protyle-content *[custom-type~=表格] [data-node-id].li>div.protyle-action {
    position: absolute;
    top: calc(50% - 0.125em);
    transform: translate(0, -50%);
}

/* 去除辅助线 */
.protyle-content *[custom-type~=table] [data-node-id].li>div:before,
.protyle-content *[custom-type~=表格] [data-node-id].li>div:before {
    display: none;
}

/* --------------------------------------用自定义属性，列表转化为表格 END------------------------------------------- */
