/**
 * 列表转看板
 * REF [notion-theme/list2board.css](https://github.com/royc01/notion-theme/blob/main/style/list2board.css)
 */
.b3-dialog__content [custom-type~="看板"][data-node-id].list,
.protyle-content [custom-type~="看板"][data-node-id].list,
.b3-dialog__content [custom-type~=board][data-node-id].list,
.protyle-content [custom-type~=board][data-node-id].list,
.b3-dialog__content [custom-type~="看板"] > [data-node-index][data-node-id].list,
.protyle-content [custom-type~="看板"] > [data-node-index][data-node-id].list,
.b3-dialog__content [custom-type~=board] > [data-node-index][data-node-id].list,
.protyle-content [custom-type~=board] > [data-node-index][data-node-id].list {
  /* 看板块样式 */
  display: flex;
  overflow-x: auto;
}
.b3-dialog__content [custom-type~="看板"][data-node-id].list > [data-node-id].li,
.protyle-content [custom-type~="看板"][data-node-id].list > [data-node-id].li,
.b3-dialog__content [custom-type~=board][data-node-id].list > [data-node-id].li,
.protyle-content [custom-type~=board][data-node-id].list > [data-node-id].li,
.b3-dialog__content [custom-type~="看板"] > [data-node-index][data-node-id].list > [data-node-id].li,
.protyle-content [custom-type~="看板"] > [data-node-index][data-node-id].list > [data-node-id].li,
.b3-dialog__content [custom-type~=board] > [data-node-index][data-node-id].list > [data-node-id].li,
.protyle-content [custom-type~=board] > [data-node-index][data-node-id].list > [data-node-id].li {
  /* 子看板 */
  min-width: var(--custom-list-board-min-width);
  margin-left: 0.25em;
  margin-right: 0.25em;
}
.b3-dialog__content [custom-type~="看板"][data-node-id].list > [data-node-id].li[fold="1"] > [data-node-id]:not(.list),
.protyle-content [custom-type~="看板"][data-node-id].list > [data-node-id].li[fold="1"] > [data-node-id]:not(.list),
.b3-dialog__content [custom-type~=board][data-node-id].list > [data-node-id].li[fold="1"] > [data-node-id]:not(.list),
.protyle-content [custom-type~=board][data-node-id].list > [data-node-id].li[fold="1"] > [data-node-id]:not(.list),
.b3-dialog__content [custom-type~="看板"] > [data-node-index][data-node-id].list > [data-node-id].li[fold="1"] > [data-node-id]:not(.list),
.protyle-content [custom-type~="看板"] > [data-node-index][data-node-id].list > [data-node-id].li[fold="1"] > [data-node-id]:not(.list),
.b3-dialog__content [custom-type~=board] > [data-node-index][data-node-id].list > [data-node-id].li[fold="1"] > [data-node-id]:not(.list),
.protyle-content [custom-type~=board] > [data-node-index][data-node-id].list > [data-node-id].li[fold="1"] > [data-node-id]:not(.list) {
  outline: 2px dashed;
}
.b3-dialog__content [custom-type~="看板"][data-node-id].list > [data-node-id].li:nth-child(12n + 1) > .protyle-action,
.protyle-content [custom-type~="看板"][data-node-id].list > [data-node-id].li:nth-child(12n + 1) > .protyle-action,
.b3-dialog__content [custom-type~=board][data-node-id].list > [data-node-id].li:nth-child(12n + 1) > .protyle-action,
.protyle-content [custom-type~=board][data-node-id].list > [data-node-id].li:nth-child(12n + 1) > .protyle-action,
.b3-dialog__content [custom-type~="看板"] > [data-node-index][data-node-id].list > [data-node-id].li:nth-child(12n + 1) > .protyle-action,
.protyle-content [custom-type~="看板"] > [data-node-index][data-node-id].list > [data-node-id].li:nth-child(12n + 1) > .protyle-action,
.b3-dialog__content [custom-type~=board] > [data-node-index][data-node-id].list > [data-node-id].li:nth-child(12n + 1) > .protyle-action,
.protyle-content [custom-type~=board] > [data-node-index][data-node-id].list > [data-node-id].li:nth-child(12n + 1) > .protyle-action {
  visibility: hidden;
}
.b3-dialog__content [custom-type~="看板"][data-node-id].list > [data-node-id].li:nth-child(12n + 1) > [data-node-id]:not(.list),
.protyle-content [custom-type~="看板"][data-node-id].list > [data-node-id].li:nth-child(12n + 1) > [data-node-id]:not(.list),
.b3-dialog__content [custom-type~=board][data-node-id].list > [data-node-id].li:nth-child(12n + 1) > [data-node-id]:not(.list),
.protyle-content [custom-type~=board][data-node-id].list > [data-node-id].li:nth-child(12n + 1) > [data-node-id]:not(.list),
.b3-dialog__content [custom-type~="看板"] > [data-node-index][data-node-id].list > [data-node-id].li:nth-child(12n + 1) > [data-node-id]:not(.list),
.protyle-content [custom-type~="看板"] > [data-node-index][data-node-id].list > [data-node-id].li:nth-child(12n + 1) > [data-node-id]:not(.list),
.b3-dialog__content [custom-type~=board] > [data-node-index][data-node-id].list > [data-node-id].li:nth-child(12n + 1) > [data-node-id]:not(.list),
.protyle-content [custom-type~=board] > [data-node-index][data-node-id].list > [data-node-id].li:nth-child(12n + 1) > [data-node-id]:not(.list) {
  margin-left: 0 !important;
  border-radius: var(--custom-border-radius);
  background-color: var(--b3-font-background1);
}
.b3-dialog__content [custom-type~="看板"][data-node-id].list > [data-node-id].li:nth-child(12n + 2) > .protyle-action,
.protyle-content [custom-type~="看板"][data-node-id].list > [data-node-id].li:nth-child(12n + 2) > .protyle-action,
.b3-dialog__content [custom-type~=board][data-node-id].list > [data-node-id].li:nth-child(12n + 2) > .protyle-action,
.protyle-content [custom-type~=board][data-node-id].list > [data-node-id].li:nth-child(12n + 2) > .protyle-action,
.b3-dialog__content [custom-type~="看板"] > [data-node-index][data-node-id].list > [data-node-id].li:nth-child(12n + 2) > .protyle-action,
.protyle-content [custom-type~="看板"] > [data-node-index][data-node-id].list > [data-node-id].li:nth-child(12n + 2) > .protyle-action,
.b3-dialog__content [custom-type~=board] > [data-node-index][data-node-id].list > [data-node-id].li:nth-child(12n + 2) > .protyle-action,
.protyle-content [custom-type~=board] > [data-node-index][data-node-id].list > [data-node-id].li:nth-child(12n + 2) > .protyle-action {
  visibility: hidden;
}
.b3-dialog__content [custom-type~="看板"][data-node-id].list > [data-node-id].li:nth-child(12n + 2) > [data-node-id]:not(.list),
.protyle-content [custom-type~="看板"][data-node-id].list > [data-node-id].li:nth-child(12n + 2) > [data-node-id]:not(.list),
.b3-dialog__content [custom-type~=board][data-node-id].list > [data-node-id].li:nth-child(12n + 2) > [data-node-id]:not(.list),
.protyle-content [custom-type~=board][data-node-id].list > [data-node-id].li:nth-child(12n + 2) > [data-node-id]:not(.list),
.b3-dialog__content [custom-type~="看板"] > [data-node-index][data-node-id].list > [data-node-id].li:nth-child(12n + 2) > [data-node-id]:not(.list),
.protyle-content [custom-type~="看板"] > [data-node-index][data-node-id].list > [data-node-id].li:nth-child(12n + 2) > [data-node-id]:not(.list),
.b3-dialog__content [custom-type~=board] > [data-node-index][data-node-id].list > [data-node-id].li:nth-child(12n + 2) > [data-node-id]:not(.list),
.protyle-content [custom-type~=board] > [data-node-index][data-node-id].list > [data-node-id].li:nth-child(12n + 2) > [data-node-id]:not(.list) {
  margin-left: 0 !important;
  border-radius: var(--custom-border-radius);
  background-color: var(--b3-font-background2);
}
.b3-dialog__content [custom-type~="看板"][data-node-id].list > [data-node-id].li:nth-child(12n + 3) > .protyle-action,
.protyle-content [custom-type~="看板"][data-node-id].list > [data-node-id].li:nth-child(12n + 3) > .protyle-action,
.b3-dialog__content [custom-type~=board][data-node-id].list > [data-node-id].li:nth-child(12n + 3) > .protyle-action,
.protyle-content [custom-type~=board][data-node-id].list > [data-node-id].li:nth-child(12n + 3) > .protyle-action,
.b3-dialog__content [custom-type~="看板"] > [data-node-index][data-node-id].list > [data-node-id].li:nth-child(12n + 3) > .protyle-action,
.protyle-content [custom-type~="看板"] > [data-node-index][data-node-id].list > [data-node-id].li:nth-child(12n + 3) > .protyle-action,
.b3-dialog__content [custom-type~=board] > [data-node-index][data-node-id].list > [data-node-id].li:nth-child(12n + 3) > .protyle-action,
.protyle-content [custom-type~=board] > [data-node-index][data-node-id].list > [data-node-id].li:nth-child(12n + 3) > .protyle-action {
  visibility: hidden;
}
.b3-dialog__content [custom-type~="看板"][data-node-id].list > [data-node-id].li:nth-child(12n + 3) > [data-node-id]:not(.list),
.protyle-content [custom-type~="看板"][data-node-id].list > [data-node-id].li:nth-child(12n + 3) > [data-node-id]:not(.list),
.b3-dialog__content [custom-type~=board][data-node-id].list > [data-node-id].li:nth-child(12n + 3) > [data-node-id]:not(.list),
.protyle-content [custom-type~=board][data-node-id].list > [data-node-id].li:nth-child(12n + 3) > [data-node-id]:not(.list),
.b3-dialog__content [custom-type~="看板"] > [data-node-index][data-node-id].list > [data-node-id].li:nth-child(12n + 3) > [data-node-id]:not(.list),
.protyle-content [custom-type~="看板"] > [data-node-index][data-node-id].list > [data-node-id].li:nth-child(12n + 3) > [data-node-id]:not(.list),
.b3-dialog__content [custom-type~=board] > [data-node-index][data-node-id].list > [data-node-id].li:nth-child(12n + 3) > [data-node-id]:not(.list),
.protyle-content [custom-type~=board] > [data-node-index][data-node-id].list > [data-node-id].li:nth-child(12n + 3) > [data-node-id]:not(.list) {
  margin-left: 0 !important;
  border-radius: var(--custom-border-radius);
  background-color: var(--b3-font-background3);
}
.b3-dialog__content [custom-type~="看板"][data-node-id].list > [data-node-id].li:nth-child(12n + 4) > .protyle-action,
.protyle-content [custom-type~="看板"][data-node-id].list > [data-node-id].li:nth-child(12n + 4) > .protyle-action,
.b3-dialog__content [custom-type~=board][data-node-id].list > [data-node-id].li:nth-child(12n + 4) > .protyle-action,
.protyle-content [custom-type~=board][data-node-id].list > [data-node-id].li:nth-child(12n + 4) > .protyle-action,
.b3-dialog__content [custom-type~="看板"] > [data-node-index][data-node-id].list > [data-node-id].li:nth-child(12n + 4) > .protyle-action,
.protyle-content [custom-type~="看板"] > [data-node-index][data-node-id].list > [data-node-id].li:nth-child(12n + 4) > .protyle-action,
.b3-dialog__content [custom-type~=board] > [data-node-index][data-node-id].list > [data-node-id].li:nth-child(12n + 4) > .protyle-action,
.protyle-content [custom-type~=board] > [data-node-index][data-node-id].list > [data-node-id].li:nth-child(12n + 4) > .protyle-action {
  visibility: hidden;
}
.b3-dialog__content [custom-type~="看板"][data-node-id].list > [data-node-id].li:nth-child(12n + 4) > [data-node-id]:not(.list),
.protyle-content [custom-type~="看板"][data-node-id].list > [data-node-id].li:nth-child(12n + 4) > [data-node-id]:not(.list),
.b3-dialog__content [custom-type~=board][data-node-id].list > [data-node-id].li:nth-child(12n + 4) > [data-node-id]:not(.list),
.protyle-content [custom-type~=board][data-node-id].list > [data-node-id].li:nth-child(12n + 4) > [data-node-id]:not(.list),
.b3-dialog__content [custom-type~="看板"] > [data-node-index][data-node-id].list > [data-node-id].li:nth-child(12n + 4) > [data-node-id]:not(.list),
.protyle-content [custom-type~="看板"] > [data-node-index][data-node-id].list > [data-node-id].li:nth-child(12n + 4) > [data-node-id]:not(.list),
.b3-dialog__content [custom-type~=board] > [data-node-index][data-node-id].list > [data-node-id].li:nth-child(12n + 4) > [data-node-id]:not(.list),
.protyle-content [custom-type~=board] > [data-node-index][data-node-id].list > [data-node-id].li:nth-child(12n + 4) > [data-node-id]:not(.list) {
  margin-left: 0 !important;
  border-radius: var(--custom-border-radius);
  background-color: var(--b3-font-background4);
}
.b3-dialog__content [custom-type~="看板"][data-node-id].list > [data-node-id].li:nth-child(12n + 5) > .protyle-action,
.protyle-content [custom-type~="看板"][data-node-id].list > [data-node-id].li:nth-child(12n + 5) > .protyle-action,
.b3-dialog__content [custom-type~=board][data-node-id].list > [data-node-id].li:nth-child(12n + 5) > .protyle-action,
.protyle-content [custom-type~=board][data-node-id].list > [data-node-id].li:nth-child(12n + 5) > .protyle-action,
.b3-dialog__content [custom-type~="看板"] > [data-node-index][data-node-id].list > [data-node-id].li:nth-child(12n + 5) > .protyle-action,
.protyle-content [custom-type~="看板"] > [data-node-index][data-node-id].list > [data-node-id].li:nth-child(12n + 5) > .protyle-action,
.b3-dialog__content [custom-type~=board] > [data-node-index][data-node-id].list > [data-node-id].li:nth-child(12n + 5) > .protyle-action,
.protyle-content [custom-type~=board] > [data-node-index][data-node-id].list > [data-node-id].li:nth-child(12n + 5) > .protyle-action {
  visibility: hidden;
}
.b3-dialog__content [custom-type~="看板"][data-node-id].list > [data-node-id].li:nth-child(12n + 5) > [data-node-id]:not(.list),
.protyle-content [custom-type~="看板"][data-node-id].list > [data-node-id].li:nth-child(12n + 5) > [data-node-id]:not(.list),
.b3-dialog__content [custom-type~=board][data-node-id].list > [data-node-id].li:nth-child(12n + 5) > [data-node-id]:not(.list),
.protyle-content [custom-type~=board][data-node-id].list > [data-node-id].li:nth-child(12n + 5) > [data-node-id]:not(.list),
.b3-dialog__content [custom-type~="看板"] > [data-node-index][data-node-id].list > [data-node-id].li:nth-child(12n + 5) > [data-node-id]:not(.list),
.protyle-content [custom-type~="看板"] > [data-node-index][data-node-id].list > [data-node-id].li:nth-child(12n + 5) > [data-node-id]:not(.list),
.b3-dialog__content [custom-type~=board] > [data-node-index][data-node-id].list > [data-node-id].li:nth-child(12n + 5) > [data-node-id]:not(.list),
.protyle-content [custom-type~=board] > [data-node-index][data-node-id].list > [data-node-id].li:nth-child(12n + 5) > [data-node-id]:not(.list) {
  margin-left: 0 !important;
  border-radius: var(--custom-border-radius);
  background-color: var(--b3-font-background5);
}
.b3-dialog__content [custom-type~="看板"][data-node-id].list > [data-node-id].li:nth-child(12n + 6) > .protyle-action,
.protyle-content [custom-type~="看板"][data-node-id].list > [data-node-id].li:nth-child(12n + 6) > .protyle-action,
.b3-dialog__content [custom-type~=board][data-node-id].list > [data-node-id].li:nth-child(12n + 6) > .protyle-action,
.protyle-content [custom-type~=board][data-node-id].list > [data-node-id].li:nth-child(12n + 6) > .protyle-action,
.b3-dialog__content [custom-type~="看板"] > [data-node-index][data-node-id].list > [data-node-id].li:nth-child(12n + 6) > .protyle-action,
.protyle-content [custom-type~="看板"] > [data-node-index][data-node-id].list > [data-node-id].li:nth-child(12n + 6) > .protyle-action,
.b3-dialog__content [custom-type~=board] > [data-node-index][data-node-id].list > [data-node-id].li:nth-child(12n + 6) > .protyle-action,
.protyle-content [custom-type~=board] > [data-node-index][data-node-id].list > [data-node-id].li:nth-child(12n + 6) > .protyle-action {
  visibility: hidden;
}
.b3-dialog__content [custom-type~="看板"][data-node-id].list > [data-node-id].li:nth-child(12n + 6) > [data-node-id]:not(.list),
.protyle-content [custom-type~="看板"][data-node-id].list > [data-node-id].li:nth-child(12n + 6) > [data-node-id]:not(.list),
.b3-dialog__content [custom-type~=board][data-node-id].list > [data-node-id].li:nth-child(12n + 6) > [data-node-id]:not(.list),
.protyle-content [custom-type~=board][data-node-id].list > [data-node-id].li:nth-child(12n + 6) > [data-node-id]:not(.list),
.b3-dialog__content [custom-type~="看板"] > [data-node-index][data-node-id].list > [data-node-id].li:nth-child(12n + 6) > [data-node-id]:not(.list),
.protyle-content [custom-type~="看板"] > [data-node-index][data-node-id].list > [data-node-id].li:nth-child(12n + 6) > [data-node-id]:not(.list),
.b3-dialog__content [custom-type~=board] > [data-node-index][data-node-id].list > [data-node-id].li:nth-child(12n + 6) > [data-node-id]:not(.list),
.protyle-content [custom-type~=board] > [data-node-index][data-node-id].list > [data-node-id].li:nth-child(12n + 6) > [data-node-id]:not(.list) {
  margin-left: 0 !important;
  border-radius: var(--custom-border-radius);
  background-color: var(--b3-font-background6);
}
.b3-dialog__content [custom-type~="看板"][data-node-id].list > [data-node-id].li:nth-child(12n + 7) > .protyle-action,
.protyle-content [custom-type~="看板"][data-node-id].list > [data-node-id].li:nth-child(12n + 7) > .protyle-action,
.b3-dialog__content [custom-type~=board][data-node-id].list > [data-node-id].li:nth-child(12n + 7) > .protyle-action,
.protyle-content [custom-type~=board][data-node-id].list > [data-node-id].li:nth-child(12n + 7) > .protyle-action,
.b3-dialog__content [custom-type~="看板"] > [data-node-index][data-node-id].list > [data-node-id].li:nth-child(12n + 7) > .protyle-action,
.protyle-content [custom-type~="看板"] > [data-node-index][data-node-id].list > [data-node-id].li:nth-child(12n + 7) > .protyle-action,
.b3-dialog__content [custom-type~=board] > [data-node-index][data-node-id].list > [data-node-id].li:nth-child(12n + 7) > .protyle-action,
.protyle-content [custom-type~=board] > [data-node-index][data-node-id].list > [data-node-id].li:nth-child(12n + 7) > .protyle-action {
  visibility: hidden;
}
.b3-dialog__content [custom-type~="看板"][data-node-id].list > [data-node-id].li:nth-child(12n + 7) > [data-node-id]:not(.list),
.protyle-content [custom-type~="看板"][data-node-id].list > [data-node-id].li:nth-child(12n + 7) > [data-node-id]:not(.list),
.b3-dialog__content [custom-type~=board][data-node-id].list > [data-node-id].li:nth-child(12n + 7) > [data-node-id]:not(.list),
.protyle-content [custom-type~=board][data-node-id].list > [data-node-id].li:nth-child(12n + 7) > [data-node-id]:not(.list),
.b3-dialog__content [custom-type~="看板"] > [data-node-index][data-node-id].list > [data-node-id].li:nth-child(12n + 7) > [data-node-id]:not(.list),
.protyle-content [custom-type~="看板"] > [data-node-index][data-node-id].list > [data-node-id].li:nth-child(12n + 7) > [data-node-id]:not(.list),
.b3-dialog__content [custom-type~=board] > [data-node-index][data-node-id].list > [data-node-id].li:nth-child(12n + 7) > [data-node-id]:not(.list),
.protyle-content [custom-type~=board] > [data-node-index][data-node-id].list > [data-node-id].li:nth-child(12n + 7) > [data-node-id]:not(.list) {
  margin-left: 0 !important;
  border-radius: var(--custom-border-radius);
  background-color: var(--b3-font-background7);
}
.b3-dialog__content [custom-type~="看板"][data-node-id].list > [data-node-id].li:nth-child(12n + 8) > .protyle-action,
.protyle-content [custom-type~="看板"][data-node-id].list > [data-node-id].li:nth-child(12n + 8) > .protyle-action,
.b3-dialog__content [custom-type~=board][data-node-id].list > [data-node-id].li:nth-child(12n + 8) > .protyle-action,
.protyle-content [custom-type~=board][data-node-id].list > [data-node-id].li:nth-child(12n + 8) > .protyle-action,
.b3-dialog__content [custom-type~="看板"] > [data-node-index][data-node-id].list > [data-node-id].li:nth-child(12n + 8) > .protyle-action,
.protyle-content [custom-type~="看板"] > [data-node-index][data-node-id].list > [data-node-id].li:nth-child(12n + 8) > .protyle-action,
.b3-dialog__content [custom-type~=board] > [data-node-index][data-node-id].list > [data-node-id].li:nth-child(12n + 8) > .protyle-action,
.protyle-content [custom-type~=board] > [data-node-index][data-node-id].list > [data-node-id].li:nth-child(12n + 8) > .protyle-action {
  visibility: hidden;
}
.b3-dialog__content [custom-type~="看板"][data-node-id].list > [data-node-id].li:nth-child(12n + 8) > [data-node-id]:not(.list),
.protyle-content [custom-type~="看板"][data-node-id].list > [data-node-id].li:nth-child(12n + 8) > [data-node-id]:not(.list),
.b3-dialog__content [custom-type~=board][data-node-id].list > [data-node-id].li:nth-child(12n + 8) > [data-node-id]:not(.list),
.protyle-content [custom-type~=board][data-node-id].list > [data-node-id].li:nth-child(12n + 8) > [data-node-id]:not(.list),
.b3-dialog__content [custom-type~="看板"] > [data-node-index][data-node-id].list > [data-node-id].li:nth-child(12n + 8) > [data-node-id]:not(.list),
.protyle-content [custom-type~="看板"] > [data-node-index][data-node-id].list > [data-node-id].li:nth-child(12n + 8) > [data-node-id]:not(.list),
.b3-dialog__content [custom-type~=board] > [data-node-index][data-node-id].list > [data-node-id].li:nth-child(12n + 8) > [data-node-id]:not(.list),
.protyle-content [custom-type~=board] > [data-node-index][data-node-id].list > [data-node-id].li:nth-child(12n + 8) > [data-node-id]:not(.list) {
  margin-left: 0 !important;
  border-radius: var(--custom-border-radius);
  background-color: var(--b3-font-background8);
}
.b3-dialog__content [custom-type~="看板"][data-node-id].list > [data-node-id].li:nth-child(12n + 9) > .protyle-action,
.protyle-content [custom-type~="看板"][data-node-id].list > [data-node-id].li:nth-child(12n + 9) > .protyle-action,
.b3-dialog__content [custom-type~=board][data-node-id].list > [data-node-id].li:nth-child(12n + 9) > .protyle-action,
.protyle-content [custom-type~=board][data-node-id].list > [data-node-id].li:nth-child(12n + 9) > .protyle-action,
.b3-dialog__content [custom-type~="看板"] > [data-node-index][data-node-id].list > [data-node-id].li:nth-child(12n + 9) > .protyle-action,
.protyle-content [custom-type~="看板"] > [data-node-index][data-node-id].list > [data-node-id].li:nth-child(12n + 9) > .protyle-action,
.b3-dialog__content [custom-type~=board] > [data-node-index][data-node-id].list > [data-node-id].li:nth-child(12n + 9) > .protyle-action,
.protyle-content [custom-type~=board] > [data-node-index][data-node-id].list > [data-node-id].li:nth-child(12n + 9) > .protyle-action {
  visibility: hidden;
}
.b3-dialog__content [custom-type~="看板"][data-node-id].list > [data-node-id].li:nth-child(12n + 9) > [data-node-id]:not(.list),
.protyle-content [custom-type~="看板"][data-node-id].list > [data-node-id].li:nth-child(12n + 9) > [data-node-id]:not(.list),
.b3-dialog__content [custom-type~=board][data-node-id].list > [data-node-id].li:nth-child(12n + 9) > [data-node-id]:not(.list),
.protyle-content [custom-type~=board][data-node-id].list > [data-node-id].li:nth-child(12n + 9) > [data-node-id]:not(.list),
.b3-dialog__content [custom-type~="看板"] > [data-node-index][data-node-id].list > [data-node-id].li:nth-child(12n + 9) > [data-node-id]:not(.list),
.protyle-content [custom-type~="看板"] > [data-node-index][data-node-id].list > [data-node-id].li:nth-child(12n + 9) > [data-node-id]:not(.list),
.b3-dialog__content [custom-type~=board] > [data-node-index][data-node-id].list > [data-node-id].li:nth-child(12n + 9) > [data-node-id]:not(.list),
.protyle-content [custom-type~=board] > [data-node-index][data-node-id].list > [data-node-id].li:nth-child(12n + 9) > [data-node-id]:not(.list) {
  margin-left: 0 !important;
  border-radius: var(--custom-border-radius);
  background-color: var(--b3-font-background9);
}
.b3-dialog__content [custom-type~="看板"][data-node-id].list > [data-node-id].li:nth-child(12n + 10) > .protyle-action,
.protyle-content [custom-type~="看板"][data-node-id].list > [data-node-id].li:nth-child(12n + 10) > .protyle-action,
.b3-dialog__content [custom-type~=board][data-node-id].list > [data-node-id].li:nth-child(12n + 10) > .protyle-action,
.protyle-content [custom-type~=board][data-node-id].list > [data-node-id].li:nth-child(12n + 10) > .protyle-action,
.b3-dialog__content [custom-type~="看板"] > [data-node-index][data-node-id].list > [data-node-id].li:nth-child(12n + 10) > .protyle-action,
.protyle-content [custom-type~="看板"] > [data-node-index][data-node-id].list > [data-node-id].li:nth-child(12n + 10) > .protyle-action,
.b3-dialog__content [custom-type~=board] > [data-node-index][data-node-id].list > [data-node-id].li:nth-child(12n + 10) > .protyle-action,
.protyle-content [custom-type~=board] > [data-node-index][data-node-id].list > [data-node-id].li:nth-child(12n + 10) > .protyle-action {
  visibility: hidden;
}
.b3-dialog__content [custom-type~="看板"][data-node-id].list > [data-node-id].li:nth-child(12n + 10) > [data-node-id]:not(.list),
.protyle-content [custom-type~="看板"][data-node-id].list > [data-node-id].li:nth-child(12n + 10) > [data-node-id]:not(.list),
.b3-dialog__content [custom-type~=board][data-node-id].list > [data-node-id].li:nth-child(12n + 10) > [data-node-id]:not(.list),
.protyle-content [custom-type~=board][data-node-id].list > [data-node-id].li:nth-child(12n + 10) > [data-node-id]:not(.list),
.b3-dialog__content [custom-type~="看板"] > [data-node-index][data-node-id].list > [data-node-id].li:nth-child(12n + 10) > [data-node-id]:not(.list),
.protyle-content [custom-type~="看板"] > [data-node-index][data-node-id].list > [data-node-id].li:nth-child(12n + 10) > [data-node-id]:not(.list),
.b3-dialog__content [custom-type~=board] > [data-node-index][data-node-id].list > [data-node-id].li:nth-child(12n + 10) > [data-node-id]:not(.list),
.protyle-content [custom-type~=board] > [data-node-index][data-node-id].list > [data-node-id].li:nth-child(12n + 10) > [data-node-id]:not(.list) {
  margin-left: 0 !important;
  border-radius: var(--custom-border-radius);
  background-color: var(--b3-font-background10);
}
.b3-dialog__content [custom-type~="看板"][data-node-id].list > [data-node-id].li:nth-child(12n + 11) > .protyle-action,
.protyle-content [custom-type~="看板"][data-node-id].list > [data-node-id].li:nth-child(12n + 11) > .protyle-action,
.b3-dialog__content [custom-type~=board][data-node-id].list > [data-node-id].li:nth-child(12n + 11) > .protyle-action,
.protyle-content [custom-type~=board][data-node-id].list > [data-node-id].li:nth-child(12n + 11) > .protyle-action,
.b3-dialog__content [custom-type~="看板"] > [data-node-index][data-node-id].list > [data-node-id].li:nth-child(12n + 11) > .protyle-action,
.protyle-content [custom-type~="看板"] > [data-node-index][data-node-id].list > [data-node-id].li:nth-child(12n + 11) > .protyle-action,
.b3-dialog__content [custom-type~=board] > [data-node-index][data-node-id].list > [data-node-id].li:nth-child(12n + 11) > .protyle-action,
.protyle-content [custom-type~=board] > [data-node-index][data-node-id].list > [data-node-id].li:nth-child(12n + 11) > .protyle-action {
  visibility: hidden;
}
.b3-dialog__content [custom-type~="看板"][data-node-id].list > [data-node-id].li:nth-child(12n + 11) > [data-node-id]:not(.list),
.protyle-content [custom-type~="看板"][data-node-id].list > [data-node-id].li:nth-child(12n + 11) > [data-node-id]:not(.list),
.b3-dialog__content [custom-type~=board][data-node-id].list > [data-node-id].li:nth-child(12n + 11) > [data-node-id]:not(.list),
.protyle-content [custom-type~=board][data-node-id].list > [data-node-id].li:nth-child(12n + 11) > [data-node-id]:not(.list),
.b3-dialog__content [custom-type~="看板"] > [data-node-index][data-node-id].list > [data-node-id].li:nth-child(12n + 11) > [data-node-id]:not(.list),
.protyle-content [custom-type~="看板"] > [data-node-index][data-node-id].list > [data-node-id].li:nth-child(12n + 11) > [data-node-id]:not(.list),
.b3-dialog__content [custom-type~=board] > [data-node-index][data-node-id].list > [data-node-id].li:nth-child(12n + 11) > [data-node-id]:not(.list),
.protyle-content [custom-type~=board] > [data-node-index][data-node-id].list > [data-node-id].li:nth-child(12n + 11) > [data-node-id]:not(.list) {
  margin-left: 0 !important;
  border-radius: var(--custom-border-radius);
  background-color: var(--b3-font-background11);
}
.b3-dialog__content [custom-type~="看板"][data-node-id].list > [data-node-id].li:nth-child(12n + 12) > .protyle-action,
.protyle-content [custom-type~="看板"][data-node-id].list > [data-node-id].li:nth-child(12n + 12) > .protyle-action,
.b3-dialog__content [custom-type~=board][data-node-id].list > [data-node-id].li:nth-child(12n + 12) > .protyle-action,
.protyle-content [custom-type~=board][data-node-id].list > [data-node-id].li:nth-child(12n + 12) > .protyle-action,
.b3-dialog__content [custom-type~="看板"] > [data-node-index][data-node-id].list > [data-node-id].li:nth-child(12n + 12) > .protyle-action,
.protyle-content [custom-type~="看板"] > [data-node-index][data-node-id].list > [data-node-id].li:nth-child(12n + 12) > .protyle-action,
.b3-dialog__content [custom-type~=board] > [data-node-index][data-node-id].list > [data-node-id].li:nth-child(12n + 12) > .protyle-action,
.protyle-content [custom-type~=board] > [data-node-index][data-node-id].list > [data-node-id].li:nth-child(12n + 12) > .protyle-action {
  visibility: hidden;
}
.b3-dialog__content [custom-type~="看板"][data-node-id].list > [data-node-id].li:nth-child(12n + 12) > [data-node-id]:not(.list),
.protyle-content [custom-type~="看板"][data-node-id].list > [data-node-id].li:nth-child(12n + 12) > [data-node-id]:not(.list),
.b3-dialog__content [custom-type~=board][data-node-id].list > [data-node-id].li:nth-child(12n + 12) > [data-node-id]:not(.list),
.protyle-content [custom-type~=board][data-node-id].list > [data-node-id].li:nth-child(12n + 12) > [data-node-id]:not(.list),
.b3-dialog__content [custom-type~="看板"] > [data-node-index][data-node-id].list > [data-node-id].li:nth-child(12n + 12) > [data-node-id]:not(.list),
.protyle-content [custom-type~="看板"] > [data-node-index][data-node-id].list > [data-node-id].li:nth-child(12n + 12) > [data-node-id]:not(.list),
.b3-dialog__content [custom-type~=board] > [data-node-index][data-node-id].list > [data-node-id].li:nth-child(12n + 12) > [data-node-id]:not(.list),
.protyle-content [custom-type~=board] > [data-node-index][data-node-id].list > [data-node-id].li:nth-child(12n + 12) > [data-node-id]:not(.list) {
  margin-left: 0 !important;
  border-radius: var(--custom-border-radius);
  background-color: var(--b3-font-background12);
}
.b3-dialog__content [custom-type~="看板"][data-node-id].list > [data-node-id].li::before,
.protyle-content [custom-type~="看板"][data-node-id].list > [data-node-id].li::before,
.b3-dialog__content [custom-type~=board][data-node-id].list > [data-node-id].li::before,
.protyle-content [custom-type~=board][data-node-id].list > [data-node-id].li::before,
.b3-dialog__content [custom-type~="看板"] > [data-node-index][data-node-id].list > [data-node-id].li::before,
.protyle-content [custom-type~="看板"] > [data-node-index][data-node-id].list > [data-node-id].li::before,
.b3-dialog__content [custom-type~=board] > [data-node-index][data-node-id].list > [data-node-id].li::before,
.protyle-content [custom-type~=board] > [data-node-index][data-node-id].list > [data-node-id].li::before {
  /* 子看板列表辅助线 */
  content: unset;
}
.b3-dialog__content [custom-type~="看板"][data-node-id].list > [data-node-id].li > [data-node-id].list,
.protyle-content [custom-type~="看板"][data-node-id].list > [data-node-id].li > [data-node-id].list,
.b3-dialog__content [custom-type~=board][data-node-id].list > [data-node-id].li > [data-node-id].list,
.protyle-content [custom-type~=board][data-node-id].list > [data-node-id].li > [data-node-id].list,
.b3-dialog__content [custom-type~="看板"] > [data-node-index][data-node-id].list > [data-node-id].li > [data-node-id].list,
.protyle-content [custom-type~="看板"] > [data-node-index][data-node-id].list > [data-node-id].li > [data-node-id].list,
.b3-dialog__content [custom-type~=board] > [data-node-index][data-node-id].list > [data-node-id].li > [data-node-id].list,
.protyle-content [custom-type~=board] > [data-node-index][data-node-id].list > [data-node-id].li > [data-node-id].list {
  /* 子看板内容 */
  margin-left: 0 !important;
  padding-left: 0 !important;
}
.b3-dialog__content [custom-type~="看板"][data-node-id].list > [data-node-id].li > [data-node-id].list > [data-node-id].li,
.protyle-content [custom-type~="看板"][data-node-id].list > [data-node-id].li > [data-node-id].list > [data-node-id].li,
.b3-dialog__content [custom-type~=board][data-node-id].list > [data-node-id].li > [data-node-id].list > [data-node-id].li,
.protyle-content [custom-type~=board][data-node-id].list > [data-node-id].li > [data-node-id].list > [data-node-id].li,
.b3-dialog__content [custom-type~="看板"] > [data-node-index][data-node-id].list > [data-node-id].li > [data-node-id].list > [data-node-id].li,
.protyle-content [custom-type~="看板"] > [data-node-index][data-node-id].list > [data-node-id].li > [data-node-id].list > [data-node-id].li,
.b3-dialog__content [custom-type~=board] > [data-node-index][data-node-id].list > [data-node-id].li > [data-node-id].list > [data-node-id].li,
.protyle-content [custom-type~=board] > [data-node-index][data-node-id].list > [data-node-id].li > [data-node-id].list > [data-node-id].li {
  /* 子看板项 */
  margin-top: 0.5em;
  border-radius: var(--custom-border-radius);
  background-color: var(--b3-font-background5);
}
