/* 反色 */

@import url(/appearance/themes/Dark+/style/module/config.css);
@import url(/widgets/custom.css);

/* 图片反色 */
.protyle-content [data-node-id][custom-render~=invert] img:not(.emoji),
.protyle-content [data-node-id][custom-render~=反色] img:not(.emoji) {
    filter: var(--custom-image-filter-invert);
}
