/* 块标题 */

@import url(/appearance/themes/Dark+/style/module/config.css);
@import url(/widgets/custom.css);

.protyle-content [data-node-id][custom-title]::before {
    content: attr(custom-title);
    position: absolute;
    top: -1.25em;
    text-align: center;
    font-weight: bolder;
    width: 100%;
}
