/* 图标题/表标题自动编号 */

@import url(/appearance/themes/Dark+/style/module/config.css);
@import url(/widgets/custom.css);

/* 章标题自动计数
 * 需要设置属性
 * type: table-title
 * type: figure-title
 * type: 表标题
 * type: 图标题
 */
.protyle-wysiwyg,
.b3-typography {
    counter-reset: table-counter 0 figure-counter 0;
}

div[custom-type~=table-title]>div[contenteditable]::before {
    color: var(--b3-theme-on-surface);
    counter-increment: table-counter;
    content: "Table\0020"counter(table-counter)"\0020";
}

div[custom-type~=figure-title]>div[contenteditable]::before {
    color: var(--b3-theme-on-surface);
    counter-increment: figure-counter;
    content: "Figure\0020"counter(figure-counter)"\0020";
}

div[custom-type~=表标题]>div[contenteditable]::before {
    color: var(--b3-theme-on-surface);
    counter-increment: table-counter;
    content: "表\0020"counter(table-counter)"\0020";
}

div[custom-type~=图标题]>div[contenteditable]::before {
    color: var(--b3-theme-on-surface);
    counter-increment: figure-counter;
    content: "图\0020"counter(figure-counter)"\0020";
}
