/* 表格自动调整宽度 */
.protyle-wysiwyg .table[data-node-id][custom-table-width~=auto],
.protyle-wysiwyg .table[data-node-id][custom-table-width~="自动"] {
  /* 自动宽度 */
  width: 100%;
}
.protyle-wysiwyg .table[data-node-id][custom-table-width~=auto] table,
.protyle-wysiwyg .table[data-node-id][custom-table-width~="自动"] table {
  /* 自动宽度 */
  width: auto;
}
.protyle-wysiwyg .table[data-node-id][custom-table-width~=equal] table,
.protyle-wysiwyg .table[data-node-id][custom-table-width~="等宽"] table {
  /* 等宽 */
  table-layout: fixed;
}
.protyle-wysiwyg .table[data-node-id][custom-table-width~=equal] table td,
.protyle-wysiwyg .table[data-node-id][custom-table-width~="等宽"] table td {
  /* 等宽 */
  width: var(--custom-table-cell-equal-width);
}
