/* 浮动块 */
.protyle-wysiwyg [data-node-id][custom-position~=top],
.protyle-wysiwyg [data-node-id][custom-position~=bottom] {
  position: absolute;
  left: var(--custom-editor-padding-left);
  right: var(--custom-editor-padding-right);
  z-index: 1;
}
.protyle-wysiwyg [data-node-id][custom-position~=top] {
  top: var(--custom-position-top);
}
.protyle-wysiwyg [data-node-id][custom-position~=bottom] {
  bottom: var(--custom-position-bottom);
}
.protyle-wysiwyg > [data-node-id][custom-position~=top] {
  /* 文档下顶层块需要留出面包屑的高度 */
  top: var(--custom-breadcrumb-height);
}
