/* 图片标题自动编号 */
.protyle-wysiwyg[custom-auto-num-f] {
  counter-reset: f-counter;
}
.protyle-wysiwyg[custom-auto-num-f] [data-node-id] span.protyle-action__title::before {
  color: var(--b3-theme-on-surface);
  counter-increment: f-counter;
}
.protyle-wysiwyg[custom-auto-num-f="图"] [data-node-id] span.protyle-action__title::before {
  content: "图\0020" counter(f-counter) "\0020";
}
.protyle-wysiwyg[custom-auto-num-f="图片"] [data-node-id] span.protyle-action__title::before {
  content: "图片\0020" counter(f-counter) "\0020";
}
.protyle-wysiwyg[custom-auto-num-f="Fig."] [data-node-id] span.protyle-action__title::before {
  content: "Fig.\0020" counter(f-counter) "\0020";
}
.protyle-wysiwyg[custom-auto-num-f="figure"] [data-node-id] span.protyle-action__title::before {
  content: "figure\0020" counter(f-counter) "\0020";
}
.protyle-wysiwyg[custom-auto-num-f="Figure"] [data-node-id] span.protyle-action__title::before {
  content: "Figure\0020" counter(f-counter) "\0020";
}
.protyle-wysiwyg[custom-auto-num-f="FIGURE"] [data-node-id] span.protyle-action__title::before {
  content: "FIGURE\0020" counter(f-counter) "\0020";
}
