/* 对话框 */
.dialog-background {
  background-image: var(--custom-background-image-dialog);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-color: transparent;
}
#keymapList .b3-list .b3-list-item.toggle:nth-last-child(2) {
  /* 最后一项可展开的项 */
  margin-bottom: 0 !important;
}
#keymapList .b3-list .b3-list__panel {
  margin-top: 4px;
}
#keymapList .b3-list .b3-list__panel::before {
  border-left: var(--custom-list-guides-line-width) solid var(--custom-list-guides-line-color);
}
.b3-dialog__container {
  background-image: var(--custom-background-image-dialog);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-color: transparent;
  border: unset;
}
.b3-dialog__container > .b3-dialog__close:hover {
  /* 关闭按钮 */
}
.b3-dialog__container > .b3-dialog__header {
  background-color: var(--custom-dialog-background-color);
}
.b3-dialog__container > .b3-dialog__header + div {
  background-color: var(--custom-dialog-background-color);
  border-radius: inherit;
}
.b3-dialog__container .b3-dialog__content {
  background-color: transparent !important;
}
.b3-dialog__container .config__panel .b3-tab-bar .b3-form__icon {
  /* 设置搜索输入框 */
}
.b3-dialog__container .config__panel .b3-tab-bar .config__tab-hr {
  /* 设置对话框分割线 */
  margin: 8px 0;
}
.b3-dialog__container .config__panel .b3-tab-bar .b3-list-item {
  /* 设置页签项 */
  margin: 8px !important;
}
.b3-dialog__container .config__panel .config__tab-wrap {
  background-color: transparent;
}
.b3-dialog__container .config__panel .config__tab-container {
  background-color: transparent;
}
.b3-dialog__container .config__panel .config__tab-container[data-name=bazaar] .b3-card {
  background-color: transparent;
}
.b3-dialog__container .config__panel .config__tab-container[data-name=bazaar] .config-bazaar__readme {
  background-color: var(--custom-dialog-bazaar-readme-background-color);
}
.b3-dialog__container .config__panel .config__tab-container[data-name=bazaar] .config-bazaar__readme .item__side {
  border-right: 2px solid var(--b3-border-color);
}
.b3-dialog__container .config__panel .config__tab-container .config-account__center--text {
  background-color: transparent;
  border-left: 1px solid var(--b3-border-color);
}
.b3-dialog__container .b3-label:not(.b3-label--inner) {
  box-shadow: initial;
  padding-bottom: 16px;
  border-bottom: 1px solid var(--b3-border-color);
  margin-bottom: 16px;
}
.b3-dialog__container .history__panel .history__text {
  /* 历史对话框内容框 */
  background-color: transparent;
}
.b3-dialog__container .custom-attr[data-type=attr] .b3-label {
  border-bottom: 1px solid var(--b3-border-color);
}
.b3-dialog__container .custom-attr[data-type=NodeAttributeView] .custom-attr__avheader:not(:first-child) {
  border-top: 2px solid var(--b3-border-color);
}
.b3-dialog__container .custom-attr[data-type=NodeAttributeView] .block__icons {
  border-bottom: 1px solid var(--b3-border-color);
}
.b3-dialog__container .custom-attr[data-type=custom] .b3-label {
  border-bottom: 1px solid var(--b3-border-color);
}
.b3-dialog__container .fn__flex-column {
  border-radius: inherit;
}
.b3-dialog__container .fn__flex-column #criteria {
  background-color: transparent !important;
  border-bottom: 1px solid var(--b3-theme-surface-lighter);
}
.b3-dialog__container .fn__flex-column .search__header,
.b3-dialog__container .fn__flex-column .search__header > input {
  background-color: transparent;
}
.b3-dialog__container .fn__flex-column .layout-tab-bar {
  background-color: transparent;
}
.b3-dialog__container .fn__flex-column .layout-tab-bar .item .item__text {
  /* 对话框页签 */
  padding: 0 0.5em;
}
.b3-dialog__container .fn__flex > .b3-list > .b3-list-item:not(.b3-list-item--focus) {
  background-color: transparent;
}
.b3-dialog__container .fn__flex > .b3-tab-container,
.b3-dialog__container .fn__flex > .b3-tab-container .config-account__center--text {
  background-color: transparent;
}
.b3-dialog__container .fn__flex > .b3-tab-container .config-bazaar__readme {
  /* 主题预览对话框 */
  background-color: var(--custom-dialog-readme-background-color);
}
.b3-dialog__container label.customItem > span.ft__on-surface.fn__flex-center {
  /* 自定义属性名称全宽显示 */
  min-width: 100px;
  width: auto !important;
}
.search__header .search__path {
  height: 16px;
}
.search__header .search__path .search__rmpath {
  /* 搜索路径移除按钮 */
  top: 0;
  background-color: transparent;
}
.search__header .search__path .search__rmpath:hover {
  color: var(--b3-theme-surface);
  background-color: var(--b3-theme-on-surface);
}
#searchList > .b3-list-item[data-type="search-item"],
.search__list > .b3-list-item[data-type="search-item"] {
  /* 未分组 */
  padding-bottom: calc(1.25em + 1px);
}
#searchList > .b3-list-item[data-type="search-item"] .b3-list-item__text,
.search__list > .b3-list-item[data-type="search-item"] .b3-list-item__text {
  display: var(--custom-search-display);
}
#searchList > .b3-list-item[data-type="search-item"] .b3-list-item__meta.b3-list-item__meta--ellipsis,
.search__list > .b3-list-item[data-type="search-item"] .b3-list-item__meta.b3-list-item__meta--ellipsis {
  position: absolute;
  right: 4px;
  bottom: 0.25em;
  max-width: calc(100% - 12px);
  line-height: 1.25em;
}
#searchList > .b3-list-item:not([data-type="search-item"]),
.search__list > .b3-list-item:not([data-type="search-item"]) {
  outline-color: var(--b3-theme-on-surface);
}
#searchList > .b3-list-item:not([data-type="search-item"]) .b3-list-item__text,
.search__list > .b3-list-item:not([data-type="search-item"]) .b3-list-item__text {
  color: var(--custom-popover-menu-path-color) !important;
}
.b3-list.b3-list--background > .b3-list-item[data-type="card-item"] {
  /* 卡包列表 */
  padding-bottom: calc(1.25em + 1px);
}
.b3-list.b3-list--background > .b3-list-item[data-type="card-item"] .b3-list-item__text {
  display: var(--custom-search-display);
}
.b3-list.b3-list--background > .b3-list-item[data-type="card-item"] .b3-list-item__meta.b3-list-item__meta--ellipsis {
  position: absolute;
  right: 4px;
  bottom: 0.25em;
  max-width: calc(100% - 12px);
  line-height: 1.25em;
}
/* 搜索输入框 */
.search__header,
#searchInput,
#replaceInput,
#searchList,
#searchPreview,
#searchAssetPreview {
  background-color: transparent;
}
/* 历史容器 */
#historyContainer > * {
  background-color: transparent !important;
}
#historyContainer .history__repo .history__repoheader {
  /* 历史控件栏 */
  border-top: 1px solid var(--b3-scroll-color);
  border-bottom: 1px solid var(--b3-scroll-color);
}
#historyContainer .history__repo[data-type=repo] .b3-list .b3-list-item[data-type=repoitem] [data-type=hCreated] {
  color: var(--custom-snapshot-created-time-color);
}
#historyContainer .history__repo[data-type=repo] .b3-list .b3-list-item[data-type=repoitem] .b3-list-item__meta {
  color: var(--custom-snapshot-additional-info-color);
  line-height: 1.5em;
}
#historyContainer .history__repo[data-type=repo] .b3-list .b3-list-item[data-type=repoitem] .b3-list-item__meta + .b3-list-item__meta {
  color: var(--custom-snapshot-file-info-color);
}
#historyContainer .history__asset,
#historyContainer .history__text {
  /* 历史对话框内容框 */
  background-color: transparent;
}
#dialogContainer .dialog {
  background-color: var(--custom-editor-background-color);
}
.b3-dialog__scrim {
  /* 对话框遮罩 */
  background-color: var(--custom-scrim-background-color) !important;
}
/* 闪卡显示容器 */
.b3-dialog__cardblock {
  outline: 1px solid var(--b3-scroll-color);
}
/* 搜索控件 */
/* div.b3-dialog__container div.fn__flex-column>div.b3-form__space--small {
    background-color: var(--custom-editor-breadcrumb-bar-background-color);
} */
/** 搜索对话框
 *  REF: [siyuan-themes-tsundoku-dark/ctrlP.css at main · Achuan-2/siyuan-themes-tsundoku-dark](https: //github.com/Achuan-2/siyuan-themes-tsundoku-dark/blob/main/style/ctrlP.css)
 *  REF: [自定义样式：搜索窗口改造（窗口放大+左右布局） - 链滴](https: //ld246.com/article/1648269766832)
 */
/* 搜索对话框尺寸 */
/* 制卡(添加到卡包)对话框 */
.b3-dialog--open[data-key=makeCard] .b3-dialog__container .b3-list.b3-list--background > .b3-list-item > .b3-list-item__meta {
  margin-left: 8px;
  font-size: unset;
}
.b3-dialog--open[data-key=makeCard] .b3-dialog__container .b3-list.b3-list--background > .b3-list-item > .b3-list-item__action {
  height: 24px;
}
/* 闪卡复习对话框 */
.b3-dialog--open:has(.card__block, #cardPreview) .b3-dialog__container .card__block.protyle {
  border-bottom: 2px solid var(--b3-border-color);
}
.b3-dialog--open:has(.card__block, #cardPreview) .b3-dialog__container .card__empty {
  background-color: transparent;
}
.b3-dialog--open:has(.card__block, #cardPreview) .b3-dialog__container .card__action > div {
  /* 复习按钮容器 */
  text-align: center;
}
.b3-dialog--open:has(.card__block, #cardPreview) .b3-dialog__container .card__action > div .b3-button {
  /* 复习按钮 */
  padding: 0;
  display: inline-flex;
}
.b3-dialog--open:has(.card__block, #cardPreview) .b3-dialog__container .card__action > div .b3-button > div {
  /* 按钮 emoji */
  font-size: 1.5em;
  line-height: 2em;
  margin: 0;
}
.b3-dialog--open:has(.card__block, #cardPreview) .b3-dialog__container .card__action > .b3-button--cancel {
  /* 撤销复习按钮 */
  opacity: unset;
  outline: 1px solid var(--b3-theme-primary);
}
/* 窗口较宽时并排显示搜索结果 */
/* @deprecated: [搜索界面支持左右布局 · Issue #6744 · siyuan-note/siyuan · GitHub](https://github.com/siyuan-note/siyuan/issues/6744) */
