/* 对话框 */

@import url(/appearance/themes/Dark+/style/module/config.css);
@import url(/widgets/custom.css);

/* 对话框透明元素 */
div.b3-dialog__container #searchList,
div.b3-dialog__container #searchPreview,
/* div.b3-dialog__container>div:nth-child(3), */
/* div.b3-dialog__container>div:nth-child(3)>div.fn__flex-column, */
div.b3-dialog__container div.search__header,
div.b3-dialog__container div.search__header>input,
div.b3-dialog__container div.fn__flex>ul.b3-list>li.b3-list-item:not(.b3-list-item--focus),
div.b3-dialog__container div.fn__flex>div.b3-tab-container,
div.b3-dialog__container div.fn__flex>div.b3-tab-container div.config-account__center--text {
    background-color: transparent;
}

/* 对话框遮罩 */
div.b3-dialog__scrim {
    background-color: var(--custom-dialog-scrim-background-color);
}

/* 搜索控件 */
/* div.b3-dialog__container div.fn__flex-column>div.b3-form__space--small {
    background-color: var(--custom-editor-breadcrumb-bar-background-color);
} */

/* 对话框背景图片 */
div.b3-dialog__container {
    background-image: var(--custom-background-image-dialog);
    background-size: cover !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
    background-attachment: fixed !important;
    background-color: transparent !important;
}

/* 对话框半透明颜色 */
div.b3-dialog__container>div:nth-child(3),
div.b3-dialog__container div.b3-dialog__header {
    background-color: var(--custom-dialog-background-color);
}
