/* 对话框 */
#keymapList .b3-list--border > .b3-list-item.toggle {
  margin: 0 !important;
}
#keymapList .b3-list--border > .b3-list-item.toggle ~ div .b3-list-item::before {
  left: -23px;
  border-left: var(--custom-list-guides-line-width) solid var(--custom-list-guides-line-color);
}
#keymapList .b3-list--border > .b3-list-item.toggle ~ div .b3-list-item + div::before {
  left: -57px;
  border-left: var(--custom-list-guides-line-width) solid var(--custom-list-guides-line-color);
}
.b3-dialog__container {
  /* 对话框图片 */
  background-image: var(--custom-background-image-dialog);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-color: transparent;
  border-radius: var(--custom-border-radius) !important;
}
.b3-dialog__container > .b3-dialog__close:hover {
  /* 关闭按钮 */
  background-color: var(--b3-theme-on-surface);
}
.b3-dialog__container > .b3-dialog__header {
  background-color: var(--custom-dialog-background-color);
}
.b3-dialog__container > .b3-dialog__header + div {
  border-radius: inherit;
}
.b3-dialog__container .fn__flex-column {
  background-color: var(--custom-dialog-background-color);
  border-radius: inherit;
}
.b3-dialog__container .fn__flex-column .search__header,
.b3-dialog__container .fn__flex-column .search__header > input {
  background-color: transparent;
}
.b3-dialog__container .fn__flex-column .layout-tab-bar {
  background-color: transparent;
}
.b3-dialog__container .fn__flex-column .layout-tab-bar .item .item__text {
  /* 对话框页签 */
  padding: 0 0.5em;
}
.b3-dialog__container .fn__flex > .b3-list > .b3-list-item:not(.b3-list-item--focus) {
  background-color: transparent;
}
.b3-dialog__container .fn__flex > .b3-tab-container,
.b3-dialog__container .fn__flex > .b3-tab-container .config-account__center--text {
  background-color: transparent;
}
.b3-dialog__container .fn__flex > .b3-tab-container .config-bazaar__readme {
  /* 主题预览对话框 */
  background-color: var(--custom-dialog-readme-background-color);
}
.b3-dialog__container label.customItem > span.ft__on-surface.fn__flex-center {
  /* 自定义属性名称全宽显示 */
  min-width: 100px;
  width: auto !important;
}
.b3-form__space--small > span {
  font-size: 1em;
}
.b3-form__space--small .search__path .search__rmpath {
  /* 搜索路径移除按钮 */
  top: 0;
  background-color: transparent;
}
.b3-form__space--small .search__path .search__rmpath:hover {
  color: var(--b3-theme-surface);
  background-color: var(--b3-theme-on-surface);
}
.b3-form__space--small .block__icon {
  padding: 0 !important;
}
#searchList > .b3-list-item[data-type="search-item"],
.search__list > .b3-list-item[data-type="search-item"] {
  /* 未分组 */
  padding-bottom: calc(1.25em + 1px);
}
#searchList > .b3-list-item[data-type="search-item"] .b3-list-item__text,
.search__list > .b3-list-item[data-type="search-item"] .b3-list-item__text {
  display: var(--custom-search-display);
}
#searchList > .b3-list-item[data-type="search-item"] .b3-list-item__meta,
.search__list > .b3-list-item[data-type="search-item"] .b3-list-item__meta {
  position: absolute;
  right: 8px;
  bottom: 0.25em;
  max-width: calc(100% - 12px);
  line-height: 1.25em;
}
#searchList > .b3-list-item:not([data-type="search-item"]) .b3-list-item__text,
.search__list > .b3-list-item:not([data-type="search-item"]) .b3-list-item__text {
  color: var(--custom-popover-menu-path-color);
}
/* 搜索输入框 */
.search__header,
#searchInput,
#replaceInput,
#searchList,
#searchPreview {
  background-color: transparent;
}
/* 历史容器 */
#historyContainer > * {
  background-color: transparent !important;
}
#historyContainer .history__asset,
#historyContainer .history__text {
  /* 历史对话框内容框 */
  background-color: transparent;
}
#historyContainer .b3-dialog__scrim {
  /* 对话框遮罩 */
  background-color: var(--custom-scrim-background-color);
}
/* 搜索控件 */
/* div.b3-dialog__container div.fn__flex-column>div.b3-form__space--small {
    background-color: var(--custom-editor-breadcrumb-bar-background-color);
} */
/** 搜索对话框
 *  REF: [siyuan-themes-tsundoku-dark/ctrlP.css at main · Achuan-2/siyuan-themes-tsundoku-dark](https: //github.com/Achuan-2/siyuan-themes-tsundoku-dark/blob/main/style/ctrlP.css)
 *  REF: [自定义样式：搜索窗口改造（窗口放大+左右布局） - 链滴](https: //ld246.com/article/1648269766832)
 */
/* 搜索对话框尺寸 */
body > div[data-key] > .b3-dialog > .b3-dialog__container,
body > div[data-key] > .b3-dialog > .b3-dialog__container > div[style*="height"] {
  width: var(--custom-dialog-search-width) !important;
  height: var(--custom-dialog-search-height) !important;
}
body > div[data-key] > .b3-dialog > .b3-dialog__container > .b3-dialog__close {
  /* 调整搜索框关闭按钮位置, 避免被遮挡 */
  right: calc((100vw - var(--custom-dialog-search-width)) / -2);
}
/* 窗口较宽时并排显示搜索结果 */
@media screen and (min-width: 960px) {
  body > div[data-key] > .b3-dialog > .b3-dialog__container .fn__flex-column {
    /* 弹性盒子模式: 水平显示, 必要时折行 */
    flex-direction: row !important;
    flex-wrap: wrap;
  }
  body > div[data-key] > .b3-dialog > .b3-dialog__container .fn__flex-column .search__header,
  body > div[data-key] > .b3-dialog > .b3-dialog__container .fn__flex-column .b3-form__space--small {
    /* 设置需要占满一行的项目 */
    width: 100%;
  }
  body > div[data-key] > .b3-dialog > .b3-dialog__container .fn__flex-column .search__header {
    /* 搜索栏 */
    border-bottom-color: var(--b3-theme-on-surface-light);
  }
  body > div[data-key] > .b3-dialog > .b3-dialog__container .fn__flex-column #searchList,
  body > div[data-key] > .b3-dialog > .b3-dialog__container .fn__flex-column #searchPreview {
    /* 搜索结果与搜索结果预览分栏 */
    float: left;
    width: 50% !important;
  }
  body > div[data-key] > .b3-dialog > .b3-dialog__container .fn__flex-column .search__header:first-child + .search__header:is(.fn__none) ~ #searchList,
  body > div[data-key] > .b3-dialog > .b3-dialog__container .fn__flex-column .search__header:first-child + .search__header:is(.fn__none) ~ #searchPreview {
    height: calc(100% - 92px) !important;
  }
  body > div[data-key] > .b3-dialog > .b3-dialog__container .fn__flex-column .search__header:first-child + .search__header:not(.fn__none) ~ #searchList,
  body > div[data-key] > .b3-dialog > .b3-dialog__container .fn__flex-column .search__header:first-child + .search__header:not(.fn__none) ~ #searchPreview {
    height: calc(100% - 142px) !important;
  }
}
