/* 侧边菜单栏 */
@import url(/appearance/themes/Dark+/style/module/config.css);
@import url(/widgets/custom.css);
.dock#dockTop,
.dock#dockBottom,
.dock#dockLeft,
.dock#dockRight {
  background-color: var(--custom-dock-background-color);
  border: 0;
}
.dock#dockTop .dock__item,
.dock#dockBottom .dock__item {
  margin: 3px;
  border: 0;
  padding: 4px;
  display: inline-block;
}
.dock#dockTop .dock__item.b3-tooltips:hover,
.dock#dockBottom .dock__item.b3-tooltips:hover {
  overflow: hidden;
}
/* 聚焦的侧边面板标题 */
.block__icons--active {
  background-color: var(--b3-list-hover);
}
