.dock {
    .dock__item {
        // 侧边栏图标
        width: var(--custom-dock-item-icon-size);
        height: var(--custom-dock-item-icon-size);
        padding: var(--custom-dock-item-padding-width);
    }

    .dock__split {
        &::after {
            left: 3px;
        }
    }
}
