/* 侧边菜单栏 */
@import url("./config.css");

/* 左侧菜单栏 */
#dockLeft {
    background-color: var(--custom-components) !important;
    box-shadow: 5px 0px 5px 2px rgba(0, 0, 0, 0.7);
}

/* .block__icons--active {
    background-color: none;
} */

/* 右侧菜单栏 */
#dockRight {
    background-color: var(--custom-components) !important;
    box-shadow: -5px 0px 5px 2px rgba(0, 0, 0, 0.7);
}