/* 自定义元素 */
/* 拖拽按钮 */
#custom-toolbar-more {
  cursor: move;
}
/* 自定义悬浮菜单栏 */
.float-tooldock {
  position: absolute;
  width: var(--custom-dock-width);
  z-index: var(--custom-z-index-max);
}
.float-tooldock > * {
  display: inline;
}
#toolbar .float-tooldock .toolbar__item {
  display: inline;
  box-sizing: content-box;
  width: var(--custom-dock-item-icon-size);
  height: var(--custom-dock-item-icon-size);
  margin: 4px 8px !important;
  padding: 2px !important;
}
#toolbar .float-tooldock .toolbar__item#custom-toolbar-more {
  margin: 2px 6px !important;
  padding: 4px !important;
  box-shadow: 0 0 2px 2px var(--custom-striking-color);
}
/* 自定义工具栏 */
#custom-toolbar {
  transition: all 500ms;
}
