/* 自定义元素 */

@tool-height: calc(var(--custom-dock-width) - var(--custom-dock-item-margin-width) * 2);

/* 拖拽按钮 */
#custom-toolbar-more {
    cursor: move; // 鼠标悬浮时变换为移动样式
}

/* 自定义悬浮菜单栏 */
.float-tooldock {
    position: absolute;
    // top: var(--custom-dock-width);
    // right: var(--custom-dock-width);

    width: var(--custom-dock-width);
    height: var(--custom-bar-height);
    z-index: 201;

    // overflow: visible;
    // outline: 1px solid white;
    // pointer-events: none;

    -webkit-app-region: no-drag; // 顶部时无法交互

    >* {
        display: inline;
    }

    #toolbar & .toolbar__item {
        display: inline;
        height: -webkit-fill-available;
        height: -moz-available;
        height: fill-available;
        // box-sizing: content-box;

        &#custom-toolbar-more {
            // box-shadow: 0 0 2px 2px var(--b3-theme-on-surface-light);
            box-shadow: 0 0 2px 2px var(--custom-striking-color);
        }
    }
}

/* 自定义工具栏 */
#custom-toolbar {
    transition: all 500ms;
}
