/* 空白提示 */

@import (css) url(/appearance/themes/Dark+/style/config/config.css);
@import (css) url(/appearance/themes/Dark+/style/config/light.css);
@import (css) url(/appearance/themes/Dark+/style/config/dark.css);
@import (css) url(/widgets/custom.css);

.empty(@content, @content-focus, @color) {

    // 内容为空的块
    &:empty::after {
        content: var(@content);
        color: var(@color);
    }

    // 焦点在内容为空的块
    &:focus:empty::after {
        content: var(@content-focus);
    }
}

/* 👇聚焦提示👇 */
.protyle-wysiwyg {

    // 聚焦提示👇
    [data-node-id]:not(.code-block)>[contenteditable][spellcheck] {
        // 空段落
        .empty(--custom-empty-p, --custom-empty-focus-p, --b3-theme-on-surface);
    }

    [data-node-id].code-block>[contenteditable][spellcheck].hljs {
        // 空代码块
        .empty(--custom-empty-c, --custom-empty-focus-c, --b3-theme-on-surface);
    }

    [data-node-id][data-subtype="t"].li>.p:nth-of-type(2)>[contenteditable][spellcheck] {
        // 空任务列表
        .empty(--custom-empty-t, --custom-empty-focus-t, --b3-theme-on-surface);
    }

    [data-node-id][data-subtype="u"].li>.p:nth-of-type(2)>[contenteditable][spellcheck] {
        // 空无序列表
        .empty(--custom-empty-u, --custom-empty-focus-u, --b3-theme-on-surface);
    }

    [data-node-id][data-subtype="o"].li>.p:nth-of-type(2)>[contenteditable][spellcheck] {
        // 空有序列表
        .empty(--custom-empty-o, --custom-empty-focus-o, --b3-theme-on-surface);
    }

}

/*不打开文档时的界面*/
.layout__empty.b3-list {
    background: transparent;
}
