/* PDF 导出页面 */
#action {
  background: initial !important;
}
#preview {
  border-right: 1px solid var(--b3-theme-on-surface);
}
#preview.protyle-wysiwyg mark,
#preview.protyle-wysiwyg span[data-type~=mark],
#preview.protyle-wysiwyg mark:hover,
#preview.protyle-wysiwyg span[data-type~=mark]:hover {
  background-color: var(--cusotm-span-mark-background-color);
  color: var(--b3-protyle-inline-mark-color);
  text-shadow: none;
}
