/* PDF 导出页面 */
#action,
#preview {
  background: initial !important;
  background-color: var(--custom-editor-background-color) !important;
  backdrop-filter: var(--custom-backdrop-filter);
}
#preview {
  border-right: 1px solid var(--b3-theme-on-surface);
}
