/* 图片导出对话框 */
.b3-dialog .b3-dialog__container .b3-dialog__content #preview.export-img {
  background-color: var(--b3-theme-background);
}
/* PDF 导出页面 */
#action {
  background-color: var(--custom-editor-background-color) !important;
}
#action + #preview {
  /* 仅应用于导出预览界面的样式 */
  border: 1px dashed var(--b3-theme-on-surface);
}
#preview {
  background-color: white;
}
#preview.protyle-wysiwyg mark,
#preview.protyle-wysiwyg span[data-type~=mark],
#preview.protyle-wysiwyg mark:hover,
#preview.protyle-wysiwyg span[data-type~=mark]:hover {
  background-color: var(--cusotm-span-mark-background-color);
  color: var(--b3-protyle-inline-mark-color);
  text-shadow: none;
}
