/* 全局页面 */

/* 背景图片 */
// 桌面端 & 移动端
html,
// 文档业内全屏模式
.protyle.fullscreen {
    background-image: var(--custom-background-image);
    background-attachment: var(--custom-background-attachment);
    background-blend-mode: var(--custom-background-blend-mode);
    background-clip: var(--custom-background-clip);
    background-origin: var(--custom-background-origin);
    background-position: var(--custom-background-position);
    background-repeat: var(--custom-background-repeat);
    background-size: var(--custom-background-size);

    background-color: var(--custom-background-color);
}

body {
    border: none;
    background-color: var(--custom-background-transparent-color);
}

/* 文本选择 */
::selection {
    background-color: var(--custom-selection-background-color);
    color: var(--custom-selection-color);
}

// 折叠/展开小三角样式
.b3-list-item__toggle {
    // padding-left: 3px;
    // padding-right: 3px;
    border-radius: 2px;
    z-index: 2;

    &:hover {
        outline: 1px solid var(--b3-theme-on-surface-light);
        background-color: var(--b3-theme-background-light);
    }
}

/* 悬浮提示 */
.tooltip {
    word-wrap: normal;
    max-width: none;
}

.b3-tooltips {
}

/* 文本输入框 */
textarea.b3-text-field {
    max-width: 100%;
}

/* 开关 */
input.b3-switch {
    border-radius: 12px;
}

/* 滑动器 */
input.b3-slider {
    border-radius: 12px;
}
