/* 全局页面 */

@import url(/appearance/themes/Dark+/style/module/config.css);
@import url(/widgets/custom.css);

/* 背景图片 */
body.fn__flex-column {
    background-image: var(--custom-background-image);
    background-size: cover !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
    background-attachment: fixed !important;
    background-color: var(--custom-background-color);
    border: none;
}

/* 全屏模式 */
.fn__flex-1.protyle.fullscreen {
    background-image: var(--custom-background-image);
    background-size: cover !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
    background-attachment: fixed !important;
    background-color: var(--custom-background-color);
}
