/* 全局页面 */
/* 背景图片 */
body.fn__flex-column,
.protyle.fullscreen {
  border: none;
  background-image: var(--custom-background-image);
  background-attachment: var(--custom-background-attachment);
  background-blend-mode: var(--custom-background-blend-mode);
  background-clip: var(--custom-background-clip);
  background-origin: var(--custom-background-origin);
  background-position: var(--custom-background-position);
  background-repeat: var(--custom-background-repeat);
  background-size: var(--custom-background-size);
  background-color: var(--custom-background-color);
}
/* 文本选择 */
::selection {
  background-color: var(--custom-selection-background-color);
  color: var(--custom-selection-color);
}
.b3-list-item__toggle {
  padding-right: 3px;
  border-radius: 2px;
  z-index: 2;
}
.b3-list-item__toggle:hover {
  outline: 1px solid var(--b3-theme-on-surface-light);
  background-color: var(--b3-theme-background-light);
}
/* 悬浮提示 */
.tooltip {
  word-wrap: normal;
  max-width: none !important;
}
/* 文本输入框 */
textarea.b3-text-field {
  max-width: 100%;
}
