/* 悬浮输入文本框 */
.protyle .protyle-util {
  background-color: var(--custom-popover-background-color);
}
.protyle .protyle-util > .fn__flex > .fn__flex-column + div {
  /* 模板预览窗口宽度 */
  width: var(--custom-template-preview-width) !important;
  min-width: var(--custom-template-preview-min-width);
}
.protyle .protyle-util textarea.b3-text-field {
  background-color: transparent;
}
