/* 块引用卡片 */
@import url(/appearance/themes/Dark+/style/module/config.css);
@import url(/widgets/custom.css);
.block__popover {
  background-color: transparent;
}
.block__popover.block__popover--move.block__popover--open {
  min-height: var(--custom-popover-min-height);
  max-width: var(--custom-popover-max-width);
  border-radius: var(--custom-border-radius);
  background-color: var(--custom-popover-background-color);
  backdrop-filter: var(--custom-backdrop-popover-filter);
}
.block__popover.block__popover--top > .block__icons--border {
  background-color: var(--b3-list-hover);
}
.block__popover .block__icons--border {
  background-color: var(--custom-popover-title-bar-background-color);
}
