/* 块引用卡片 */


.block__popover {
    background-color: transparent;

    &.block__popover--open {
        min-height: var(--custom-popover-min-height);
        max-width: var(--custom-popover-max-width);
        // border-radius: var(--custom-border-radius);
        background-color: var(--custom-popover-background-color);
        backdrop-filter: var(--custom-backdrop-popover-filter);
    }

    // 顶部窗口
    &.block__popover--top {
        >.block__icons {
            background-color: var(--b3-list-hover);
        }
    }

    // 被钉住的面板
    &[data-pin=true] {
        .block__icons {
            .block__icon {
                &[data-type=pin] {
                    /* 钉住/取消钉住 按钮 */
                    box-shadow: 0 0 var(--custom-toolbar-tiem-active-box-shadow-spread) var(--custom-box-shadow-color);
                }
            }
        }
    }

    // 面板尺寸调节控件
    >.resize__rd,
    >.resize__ld,
    >.resize__lt,
    >.resize__rt,
    >.resize__r,
    >.resize__d,
    >.resize__t,
    >.resize__l {
        border-radius: 1em;
        &:hover {
            background-color: var(--b3-theme-primary-lightest);
        }
    }

    // 窗口标题栏
    .block__icons {
        background-color: var(--custom-popover-title-bar-background-color);
        padding: 0 6px;

        .block__icon[data-type=close] {
            width: 1em;

            /* 关闭按钮 */
            >svg {
                width: unset !important;
            }
        }
    }
}
