/* 弹出菜单 */

@import url(/appearance/themes/Dark+/style/module/config.css);
@import url(/widgets/custom.css);

/* 菜单底色 */
#commonMenu,
#commonMenu>.b3-menu__item>.b3-menu__submenu {
    background-color: var(--custom-popover-function-menu-background-color);
    backdrop-filter: var(--custom-backdrop-popover-filter);
}

/* 菜单项 */
#commonMenu>.b3-menu__item,
#commonMenu>.b3-menu__item>.b3-menu__submenu .b3-menu__item {
    background-color: transparent;
}

/* 菜单分割线 */
.b3-menu__separator {
    height: 2px;
    margin: 0;
    border: 0;
    padding: 0;
}
/* 搜索菜单分隔线 */
div.b3-menu__separator {
    background-color: var(--custom-popover-search-menu-separator-color);
}

/* 鼠标悬停菜单项 */
.b3-menu__item--current {
    background-color: var(--b3-theme-background-light) !important;
}

/* 悬浮搜索菜单/功能菜单 */
.b3-menu.b3-list.b3-list--background {
    /* column-count: 4; */
    /* max-height: 395px !important; */
    background-color: var(--custom-popover-search-menu-background-color);
    backdrop-filter: var(--custom-backdrop-popover-filter);
    width: var(--custom-popover-menu-width) !important;
}

/* 悬浮搜索结果项 */
div.b3-list>.b3-list-item {
    padding-top: 0.25em;
    border-bottom: 1px solid var(--b3-theme-on-surface);
}

/* 悬浮搜索结果文档可读路径 */
div.b3-list>.b3-list-item>.b3-list-item__meta:not(.fn__flex) {
    color: var(--b3-card-info-color);
    padding: 0;
    margin: 0;
    border: 0;
}
div.b3-list>.b3-list-item>.b3-list-item__meta:not(.fn__flex) mark {
    outline-color: var(--b3-card-info-color);
}

/* 悬浮搜索结果块属性 */
div.b3-list>.b3-list-item>.b3-list-item__meta.fn__flex {
    color: var(--b3-card-warning-color);
}
div.b3-list>.b3-list-item>.b3-list-item__meta.fn__flex mark {
    outline-color: var(--b3-card-warning-color);
}

/* 悬浮搜索结果匹配关键词样式 */
div.protyle-wysiwyg div[data-node-id] span[data-type="search-mark"],
div.b3-list>.b3-list-item mark {
    margin: 0 0.25em;
    padding: 0 0.125em;
    color: inherit;
    background-color: transparent;
    outline-width: 1px;
    outline-style: solid;
}

/* 菜单分栏 */
/* .b3-list.fn__flex-1.b3-list--background:not(#globalSearchList) {
    column-count: 4;
    column-gap: 5px;
    min-width: 50vw !important;
    font-size: 90%;
    border: 0.05em solid #ffffff4d;
}

.b3-menu.b3-list.b3-list--background {
    column-count: 4;
    column-gap: 5px;
    min-width: 50vw !important;
    max-height: 480px !important;
    border: var(--b3-border-column);
    padding: 4px;
} */
