/* 悬浮输入文本框 */
@import url(/appearance/themes/Dark+/style/module/config.css);
@import url(/widgets/custom.css);
#editor .protyle-util,
.layout-tab-container .protyle-util {
  background-color: var(--custom-popover-background-color);
}
#editor .protyle-util textarea.b3-text-field,
.layout-tab-container .protyle-util textarea.b3-text-field {
  background-color: transparent;
}
