/* 悬浮输入文本框 */

@import url(/appearance/themes/Dark+/style/module/config.css);
@import url(/widgets/custom.css);

div.layout-tab-container div.protyle-util {
    background-color: transparent;
}

div.layout-tab-container div.protyle-util>div>textarea {
    background-color: var(--custom-popover-background-color);
}
