/* 块引用卡片 */


.block__popover {
    background-color: transparent;

    &.block__popover--open {
        min-height: var(--custom-popover-min-height);
        max-width: var(--custom-popover-max-width);
        // border-radius: var(--custom-border-radius);
        background-color: var(--custom-popover-background-color);
        backdrop-filter: var(--custom-backdrop-popover-filter);
    }

    // 顶部窗口
    &.block__popover--top {
        >.block__icons {
            background-color: var(--b3-list-hover);
        }
    }

    // 窗口标题栏
    .block__icons {
        background-color: var(--custom-popover-title-bar-background-color);
        padding: 0 6px;

        .block__icon[data-type=close] {
            width: 1em;

            /* 关闭按钮 */
            >svg {
                width: unset !important;
            }
        }
    }

}
