/* 弹出菜单 */
.b3-menu {
  background-color: var(--custom-popover-function-menu-background-color);
  backdrop-filter: var(--custom-backdrop-popover-filter);
}
.b3-menu:not(#menu) {
  padding: var(--custom-popover-menu-padding-width);
}
.b3-menu .b3-menu__item {
  /* 菜单项 */
  background-color: transparent;
}
.b3-menu .b3-menu__item.b3-menu__item--current {
  /* 鼠标悬停菜单项 */
  background-color: var(--b3-theme-background-light) !important;
}
.b3-menu .b3-menu__item > .b3-menu__submenu {
  /* 子菜单 */
  background-color: var(--custom-popover-function-menu-background-color);
  backdrop-filter: var(--custom-backdrop-popover-filter);
  padding: var(--custom-popover-menu-padding-width);
}
.b3-menu .b3-menu__item .b3-menu__accelerator {
  /* 输入框后面的捷径提示 */
  line-height: normal;
  align-self: center;
}
.b3-menu .b3-menu__item .b3-menu__action:hover {
  /* 菜单按钮控件 */
  color: var(--b3-theme-surface);
  background-color: var(--b3-theme-on-surface);
}
.b3-menu .b3-menu__item .b3-menu__icon.fn__a {
  width: 8px;
  height: 8px;
  padding: 4px;
  border-radius: 8px;
}
.b3-menu .b3-menu__item .b3-menu__icon.fn__a:hover {
  /* 菜单按钮控件 */
  color: var(--b3-theme-surface);
  background-color: var(--b3-theme-on-surface);
}
.b3-menu .b3-menu__separator {
  /* 菜单分割线 */
  height: 2px;
  background-color: var(--custom-popover-menu-separator-color);
}
.b3-menu > *:not(.emojis) input.b3-text-field {
  /* 输入框 */
  min-width: var(--custom-popover-menu-input-min-width);
}
.b3-menu > *:not(.emojis) textarea.b3-text-field {
  /* 输入区域 */
  min-width: var(--custom-popover-menu-textarea-min-width);
}
.protyle-util .protyle-font .b3-color__square[data-type=color] {
  /* 字体颜色 */
  border-radius: 100%;
}
.protyle-util .protyle-font .b3-color__square[data-type=backgroundColor] {
  /* 背景颜色 */
  border-radius: unset;
}
.b3-list.b3-list--background {
  /* REF: [第一个子元素在未超过父元素高度的情况下设置margin-top导致出现竖向滚动条的问题_Andrasen的博客-CSDN博客](https://blog.csdn.net/Andrasen/article/details/105676175) */
  padding: var(--custom-popover-menu-padding-width) !important;
  background-color: transparent !important;
  backdrop-filter: none;
  width: var(--custom-popover-menu-width) !important;
  outline: var(--custom-popover-menu-outline-width) var(--custom-popover-menu-outline-style) var(--custom-popover-menu-outline-color);
  overflow-x: visible !important;
}
.b3-list.b3-list--background .b3-list-item {
  /* 菜单项 */
  margin: 0 !important;
  border-radius: var(--custom-border-radius);
}
.b3-list.b3-list--background.b3-menu.hint--menu,
.protyle > .b3-list.b3-list--background,
.b3-list.b3-list--background#searchHistoryList,
.b3-list.b3-list--background#replaceHistoryList,
.b3-list.b3-list--background#menu {
  background-color: var(--custom-popover-function-menu-background-color) !important;
  backdrop-filter: var(--custom-backdrop-popover-filter);
  box-sizing: border-box;
}
.b3-list.b3-list--background.protyle-hint {
  /* 块引用搜索菜单 */
}
.b3-list.b3-list--background.protyle-hint > .b3-list-item {
  width: 100% !important;
}
.b3-list.b3-list--background.hint--menu {
  /* '/' 菜单 */
  column-count: 4;
  column-gap: 1em;
  column-rule: var(--custom-list-guides-line-width) solid var(--b3-border-color);
  max-height: none !important;
}
.b3-list.b3-list--background.hint--menu > .b3-list-item {
  width: 100% !important;
}
.b3-list.b3-list--background.hint--menu > .emojis {
  /* 表情菜单 */
  /* REF https: //github.com/siyuan-note/siyuan/issues/4575#issuecomment-1152490468 */
  column-span: all;
}
.b3-list.b3-list--background.hint--menu > div.b3-menu__separator {
  /* 分割线 */
  background-color: var(--b3-theme-on-surface);
}
.b3-list.b3-list--background.hint--menu > div.b3-menu__separator:first-of-type + button *:is(.b3-list-item__graphic, .b3-list-item__text) {
  /* 一级子标题 */
  color: var(--custom-h1-color);
}
.b3-list.b3-list--background.hint--menu > div.b3-menu__separator:first-of-type + button + button *:is(.b3-list-item__graphic, .b3-list-item__text) {
  /* 二级子标题 */
  color: var(--custom-h2-color);
}
.b3-list.b3-list--background.hint--menu > div.b3-menu__separator:first-of-type + button + button + button *:is(.b3-list-item__graphic, .b3-list-item__text) {
  /* 三级子标题 */
  color: var(--custom-h3-color);
}
.b3-list.b3-list--background.hint--menu > div.b3-menu__separator:first-of-type + button + button + button + button *:is(.b3-list-item__graphic, .b3-list-item__text) {
  /* 四级子标题 */
  color: var(--custom-h4-color);
}
.b3-list.b3-list--background.hint--menu > div.b3-menu__separator:first-of-type + button + button + button + button + button *:is(.b3-list-item__graphic, .b3-list-item__text) {
  /* 五级子标题 */
  color: var(--custom-h5-color);
}
.b3-list.b3-list--background.hint--menu > div.b3-menu__separator:first-of-type + button + button + button + button + button + button *:is(.b3-list-item__graphic, .b3-list-item__text) {
  /* 六级子标题 */
  color: var(--custom-h6-color);
}
.b3-list.b3-list--background.hint--menu > div.b3-menu__separator:nth-of-type(4) {
  /* 第4条分割线 */
  display: none;
}
.b3-list.b3-list--background:not(ul) > .b3-list-item,
.b3-list.b3-list--background.b3-tab-bar > .b3-list-item,
.sy__backlink .b3-list.b3-list--background > .b3-list-item,
.b3-dialog__container .b3-list.b3-list--background > .b3-list-item,
#historyContainer .b3-list.b3-list--background > .b3-list-item {
  /* padding-top: var(--custom-popover-menu-margin-width); */
  /* border-bottom: var(--custom-popover-menu-outline-width) var(--custom-popover-menu-outline-style) var(--b3-theme-on-surface); */
  margin: var(--custom-popover-menu-margin-width) 0 !important;
  border-radius: var(--custom-border-radius);
  outline: var(--custom-popover-menu-outline-width) var(--custom-popover-menu-outline-style) var(--custom-popover-menu-outline-color);
}
.b3-list.b3-list--background:not(ul) > .b3-list-item:first-child,
.b3-list.b3-list--background.b3-tab-bar > .b3-list-item:first-child,
.sy__backlink .b3-list.b3-list--background > .b3-list-item:first-child,
.b3-dialog__container .b3-list.b3-list--background > .b3-list-item:first-child,
#historyContainer .b3-list.b3-list--background > .b3-list-item:first-child {
  /* 补偿第一项 */
  margin-top: 0 !important;
}
.b3-list.b3-list--background:not(ul) > .b3-list-item:last-child:not(.fn_none),
.b3-list.b3-list--background.b3-tab-bar > .b3-list-item:last-child:not(.fn_none),
.sy__backlink .b3-list.b3-list--background > .b3-list-item:last-child:not(.fn_none),
.b3-dialog__container .b3-list.b3-list--background > .b3-list-item:last-child:not(.fn_none),
#historyContainer .b3-list.b3-list--background > .b3-list-item:last-child:not(.fn_none) {
  /* 补偿最后一项 */
  margin-bottom: 0 !important;
}
.b3-list.b3-list--background:not(ul) > .b3-list-itembutton,
.b3-list.b3-list--background.b3-tab-bar > .b3-list-itembutton,
.sy__backlink .b3-list.b3-list--background > .b3-list-itembutton,
.b3-dialog__container .b3-list.b3-list--background > .b3-list-itembutton,
#historyContainer .b3-list.b3-list--background > .b3-list-itembutton {
  margin: var(--custom-popover-menu-margin-width) auto !important;
}
.b3-list.b3-list--background:not(ul) > .b3-list-item .b3-list-item__meta:not(.fn__flex),
.b3-list.b3-list--background.b3-tab-bar > .b3-list-item .b3-list-item__meta:not(.fn__flex),
.sy__backlink .b3-list.b3-list--background > .b3-list-item .b3-list-item__meta:not(.fn__flex),
.b3-dialog__container .b3-list.b3-list--background > .b3-list-item .b3-list-item__meta:not(.fn__flex),
#historyContainer .b3-list.b3-list--background > .b3-list-item .b3-list-item__meta:not(.fn__flex) {
  /* 文档可读路径 */
  color: var(--custom-popover-menu-path-color);
  margin: 0;
  border: 0;
  padding: 0;
}
.b3-list.b3-list--background:not(ul) > .b3-list-item .b3-list-item__meta.fn__flex,
.b3-list.b3-list--background.b3-tab-bar > .b3-list-item .b3-list-item__meta.fn__flex,
.sy__backlink .b3-list.b3-list--background > .b3-list-item .b3-list-item__meta.fn__flex,
.b3-dialog__container .b3-list.b3-list--background > .b3-list-item .b3-list-item__meta.fn__flex,
#historyContainer .b3-list.b3-list--background > .b3-list-item .b3-list-item__meta.fn__flex {
  /* 块属性 */
  padding: 0.5em;
  color: var(--custom-popover-menu-attribute-color);
}
.b3-list.b3-list--background.search__list > .b3-list-item + div:not(.b3-list-item) > .b3-list-item {
  /* padding-top: var(--custom-popover-menu-margin-width); */
  /* border-bottom: var(--custom-popover-menu-outline-width) var(--custom-popover-menu-outline-style) var(--b3-theme-on-surface); */
  margin: var(--custom-popover-menu-margin-width) 0 !important;
  border-radius: var(--custom-border-radius);
  outline: var(--custom-popover-menu-outline-width) var(--custom-popover-menu-outline-style) var(--custom-popover-menu-outline-color);
}
.b3-list.b3-list--background.search__list > .b3-list-item + div:not(.b3-list-item) > .b3-list-item:first-child {
  /* 补偿第一项 */
  margin-top: 0 !important;
}
.b3-list.b3-list--background.search__list > .b3-list-item + div:not(.b3-list-item) > .b3-list-item:last-child:not(.fn_none) {
  /* 补偿最后一项 */
  margin-bottom: 0 !important;
}
.b3-list.b3-list--background.search__list > .b3-list-item + div:not(.b3-list-item) > .b3-list-itembutton {
  margin: var(--custom-popover-menu-margin-width) auto !important;
}
.b3-list.b3-list--background.search__list > .b3-list-item + div:not(.b3-list-item) > .b3-list-item .b3-list-item__meta:not(.fn__flex) {
  /* 文档可读路径 */
  color: var(--custom-popover-menu-path-color);
  margin: 0;
  border: 0;
  padding: 0;
}
.b3-list.b3-list--background.search__list > .b3-list-item + div:not(.b3-list-item) > .b3-list-item .b3-list-item__meta.fn__flex {
  /* 块属性 */
  padding: 0.5em;
  color: var(--custom-popover-menu-attribute-color);
}
#historyContainer .b3-list.b3-list--background {
  outline: var(--custom-popover-menu-outline-width) var(--custom-popover-menu-outline-style) var(--custom-popover-menu-outline-color);
  padding-bottom: 0 !important;
}
#historyContainer .b3-list.b3-list--background > .b3-list-item:hover {
  background-color: var(--b3-list-hover);
}
#historyContainer .b3-list.b3-list--background > .b3-list-item.b3-list-item--focus {
  outline-color: var(--custom-popover-menu-focus-outline-color);
}
#historyContainer .b3-list.b3-list--background > .b3-list-item.b3-list-item--hide-action:not(:hover) .b3-list-item__action {
  /* 占空间并隐藏元素 */
  display: flex;
  visibility: hidden;
}
#searchPanel {
  /* REF: [第一个子元素在未超过父元素高度的情况下设置margin-top导致出现竖向滚动条的问题_Andrasen的博客-CSDN博客](https://blog.csdn.net/Andrasen/article/details/105676175) */
  padding: var(--custom-popover-menu-padding-width) !important;
  background-color: transparent !important;
  backdrop-filter: none;
  width: var(--custom-popover-menu-width) !important;
  outline: var(--custom-popover-menu-outline-width) var(--custom-popover-menu-outline-style) var(--custom-popover-menu-outline-color);
  overflow-x: visible !important;
}
#searchPanel > .b3-list-item {
  /* padding-top: var(--custom-popover-menu-margin-width); */
  /* border-bottom: var(--custom-popover-menu-outline-width) var(--custom-popover-menu-outline-style) var(--b3-theme-on-surface); */
  margin: var(--custom-popover-menu-margin-width) 0 !important;
  border-radius: var(--custom-border-radius);
  outline: var(--custom-popover-menu-outline-width) var(--custom-popover-menu-outline-style) var(--custom-popover-menu-outline-color);
}
#searchPanel > .b3-list-item:first-child {
  /* 补偿第一项 */
  margin-top: 0 !important;
}
#searchPanel > .b3-list-item:last-child:not(.fn_none) {
  /* 补偿最后一项 */
  margin-bottom: 0 !important;
}
#searchPanel > .b3-list-itembutton {
  margin: var(--custom-popover-menu-margin-width) auto !important;
}
#searchPanel > .b3-list-item .b3-list-item__meta:not(.fn__flex) {
  /* 文档可读路径 */
  color: var(--custom-popover-menu-path-color);
  margin: 0;
  border: 0;
  padding: 0;
}
#searchPanel > .b3-list-item .b3-list-item__meta.fn__flex {
  /* 块属性 */
  padding: 0.5em;
  color: var(--custom-popover-menu-attribute-color);
}
.b3-list-item mark,
.protyle-wysiwyg [data-node-id] span.def--mark,
.protyle-wysiwyg [data-node-id] span[data-type~=search-mark] {
  margin: 0 0.25em;
  border: 0;
  padding: 0 0.125em;
  color: var(--custom-matched-keyword-color);
  background-color: var(--custom-matched-keyword-background-color);
  outline-width: var(--custom-popover-menu-outline-width);
}
.b3-list-item mark:not(.def--mark),
.protyle-wysiwyg [data-node-id] span.def--mark:not(.def--mark),
.protyle-wysiwyg [data-node-id] span[data-type~=search-mark]:not(.def--mark) {
  outline-style: var(--custom-popover-menu-outline-style);
}
.b3-list-item mark:is(.def--mark),
.protyle-wysiwyg [data-node-id] span.def--mark:is(.def--mark),
.protyle-wysiwyg [data-node-id] span[data-type~=search-mark]:is(.def--mark) {
  border-width: var(--custom-popover-menu-outline-width);
  border-style: var(--custom-popover-menu-outline-style);
}
/* 块移动菜单 */
/* #foldList.b3-list.b3-list--background,
.b3-list.b3-list--background:not(ul, #searchList, #globalSearchList) {
    width: var(--custom-popover-menu-width) !important;
} */
/* 菜单分栏 */
/* .b3-list.fn__flex-1.b3-list--background:not(#globalSearchList) {
    column-count: 4;
    column-gap: 5px;
    min-width: 50vw !important;
    font-size: 90%;
    border: 0.05em solid #ffffff4d;
} */
/* .b3-menu.b3-list.b3-list--background.hint--menu>.b3-list-item:nth-of-type(1),
.b3-menu.b3-list.b3-list--background.hint--menu>.b3-list-item:nth-last-of-type(5),
.b3-menu.b3-list.b3-list--background.hint--menu>.b3-list-item:nth-last-of-type(4),
.b3-menu.b3-list.b3-list--background.hint--menu>.b3-list-item:nth-last-of-type(3),
.b3-menu.b3-list.b3-list--background.hint--menu>.b3-list-item:nth-last-of-type(2),
.b3-menu.b3-list.b3-list--background.hint--menu>.b3-list-item:nth-last-of-type(1) {
    column-span: all;
} */
/* .b3-menu.b3-list.b3-list--background.hint--menu>.b3-list-item:last-child>div.b3-list-item__first {
    margin: auto;
} */
