/* 悬浮搜索菜单 */

@import url(/appearance/themes/Dark+/style/module/config.css);
@import url(/widgets/custom.css);

/* 悬浮搜索菜单 */
.b3-menu.b3-list.b3-list--background {
    background-color: var(--custom-popover-search-menu-background-color);
    backdrop-filter: var(--custom-backdrop-popover-filter);
    width: var(--custom-popover-search-width) !important;
}
