/* 引入参数配置 */
.protyle-gutters button.ariaLabel.protyle-gutters__plus {
  border-radius: var(--custom-border-radius);
  outline: 1px solid var(--custom-control-button-hover-outline-color);
}
.protyle-gutters button.ariaLabel:not(.protyle-gutters__plus):hover::before {
  padding: 2px;
  outline: 1px solid var(--custom-control-button-hover-outline-color);
}
.protyle-attr--refcount.popover__block {
  padding: 4px 8px;
}
.b3-list-item__icon,
.dock__item,
.b3-tooltips,
.toolbar__item,
.b3-list-item__action,
.protyle-title__icon,
.counter,
.protyle-attr--refcount,
.b3-list-item__graphic,
.block__icon {
  transition: unset;
}
.b3-list-item__icon:hover,
.dock__item:hover,
.b3-tooltips:hover,
.toolbar__item:hover,
.b3-list-item__action:hover,
.protyle-title__icon:hover,
.counter:hover,
.protyle-attr--refcount:hover,
.b3-list-item__graphic:hover,
.block__icon:hover {
  outline: 1px solid var(--custom-control-button-hover-outline-color);
  outline-offset: -1px;
}
.b3-list-item__icon.popover__block:hover,
.counter.popover__block:hover,
.protyle-attr--refcount.popover__block:hover,
.b3-list-item__graphic.popover__block:hover {
  outline-color: var(--custom-control-button-hover-preview-outline-color);
}
.protyle-breadcrumb__item:has(>.popover__block:hover) {
  border-color: var(--custom-control-button-hover-preview-outline-color);
}
