/* 图标 */

// 文档树图标
.b3-list-item__icon {
    width: 1em;
    padding-left: 2px;
    padding-right: 6px;

    svg,
    img {
        margin-left: 2px;
        margin-right: -2px;
    }
}

// 图标选择菜单图标
.emojis {
    .emojis__panel {
        .emojis__content {
            .emojis__item {
                /* 图标 */
                width: calc(1em + 8px);

                padding-left: 0px;
                padding-right: 8px;

                svg,
                img {
                    padding-left: 4px;
                    padding-right: -4px;
                }
            }
        }
    }
}

// 文档内 emoji 图标
.sy__outline [data-node-id],
.protyle-wysiwyg [data-node-id],
.b3-typography {
    .emoji {
        /* 文档内容中的 emoji 图标 */
        font-size: unset;
        width: 1em;
    }
}
