/* 引入参数配置 */

.popover() {
    transform: scale(1.25);
    transition: all 0.1s ease-in-out;
}

.popover-font() {
    font-size: 150%;
}

// 悬浮预览图标
svg,
// 文章引用计数
// .counter,
// 块引用计数
.protyle-attr--refcount {
    &.popover__block:hover {
        .popover();
    }
}

// 页签项图标
// .layout-tab-bar .item .item__icon:hover :is(svg, img),
// 文档树文档图标
.b3-list-item__icon,
// 停靠栏图标
.dock__item,
// 工具栏按钮
.b3-tooltips,
.toolbar__item,
// 按钮
.b3-list-item__action,
.block__icon {
    &:hover {

        img,
        svg:not(.b3-list-item__arrow) {
            .popover();
        }

        &:not(:has(*)) {
            // 放大整个元素
            &:not(.counter) {
                // 不放大数字
                .popover();
                // .popover-font();
            }
        }
    }
}
