/* 缩进 */

@import url(/appearance/themes/Dark+/style/module/config.css);
@import url(/widgets/custom.css);

/* 缩进线样式 */
/* .protyle-wysiwyg [data-node-id].li>[data-node-id]:before {
    width: 2px;
    background-color: var(--b3-border-color);
} */

.protyle-wysiwyg [data-node-id].li>[data-node-id].list:before {
    left: var(--custom-list-guides-distance-compensation);
}

/* 列表缩进 */

.protyle-wysiwyg [data-node-id].li>.list {
    margin-left: 1em !important;
    padding-left: 1em;
}