/* 移动端优化 */
/* 移动端编辑区 */
#editor {
  background-color: var(--custom-editor-background-color);
  backdrop-filter: var(--custom-backdrop-filter);
}
/* 移动端工具栏 */
#keyboardToolbar,
.toolbar--border {
  background-color: var(--custom-editor-background-color);
}
#sidebar {
  background-color: var(--custom-popover-background-color);
}
#model {
  background-color: var(--custom-transparent-deeper);
}
/* 移动端隐藏状态栏 */
.status--hide {
  bottom: -36px;
}
