/* 移动端优化 */


/* 移动端编辑区 */
#editor {
    background-color: var(--custom-editor-background-color);
    backdrop-filter: var(--custom-backdrop-filter);
}

/* 移动端侧边面板 */
#sidebar {
    background-color: var(--custom-popover-background-color);
}

/* 移动端隐藏状态栏 */
.status--hide {
    bottom: -36px;
}
