/* 移动端优化 */

/* 移动端编辑区 */
#editor {
    // margin-bottom: 0 !important; // 留出底部控件栏

    // 移动端侧边面板
    ~#sidebar {
        background-color: var(--custom-popover-background-color);
    }

    // 移动端设置面板
    ~#model {
        // background-color: var(--custom-popover-background-color);
        background-color: var(--custom-transparent-deeper);

        // 移动端搜索面板
        #modelMain {
            .toolbar {
                /* 移动端搜索控件栏 */
                background-color: transparent;
            }
        }
    }

    // 移动端底部状态栏
    #status {
        height: initial;

        &.status--hide {
            /* 移动端隐藏状态栏 */
            bottom: -36px;
        }
    }

    // 移动端工具栏
    ~#keyboardToolbar,
    .toolbar--border {
        background-color: var(--custom-editor-background-color);
    }
}
