/* 大纲面板 */

@import url(/appearance/themes/Dark+/style/module/config.css);
@import url(/widgets/custom.css);

/* 过长子标题名显示样式 */
.sy__outline .b3-list-item__text {
    display: var(--custom-outline-display);
}

/* 区分大纲中的各级标题 */

/* 文档标题 */
.sy__outline ul.b3-list.b3-list--background [data-type="NodeDocument"][data-treetype="outline"] .b3-list-item__text,
.sy__outline ul.b3-list.b3-list--background [data-type="NodeDocument"][data-treetype="outline"] {
    color: var(--b3-theme-on-primary);
}

.sy__outline ul.b3-list.b3-list--background [data-subtype="h1"] .b3-list-item__text,
.sy__outline ul.b3-list.b3-list--background [data-subtype="h1"] {
    color: var(--custom-h1-color);
}

.sy__outline ul.b3-list.b3-list--background [data-subtype="h2"] .b3-list-item__text,
.sy__outline ul.b3-list.b3-list--background [data-subtype="h2"] {
    color: var(--custom-h2-color);
}

.sy__outline ul.b3-list.b3-list--background [data-subtype="h3"] .b3-list-item__text,
.sy__outline ul.b3-list.b3-list--background [data-subtype="h3"] {
    color: var(--custom-h3-color);
}

.sy__outline ul.b3-list.b3-list--background [data-subtype="h4"] .b3-list-item__text,
.sy__outline ul.b3-list.b3-list--background [data-subtype="h4"] {
    color: var(--custom-h4-color);
}

.sy__outline ul.b3-list.b3-list--background [data-subtype="h5"] .b3-list-item__text,
.sy__outline ul.b3-list.b3-list--background [data-subtype="h5"] {
    color: var(--custom-h5-color);
}

.sy__outline ul.b3-list.b3-list--background [data-subtype="h6"] .b3-list-item__text,
.sy__outline ul.b3-list.b3-list--background [data-subtype="h6"] {
    color: var(--custom-h6-color);
}
