/* 收集箱 */
.sy__inbox > .inboxDetails {
  background-color: transparent !important;
}
.sy__inbox .inbox__list {
  background-color: transparent;
}
.sy__inbox .b3-list-item__text {
  /* 过长收集箱标题显示样式 */
  display: var(--custom-inbox-display);
}
