/* 收集箱 */
.sy__inbox > .inbox__details {
  background-color: var(--custom-inbox-background-color);
}
.sy__inbox .inbox__list {
  background-color: transparent;
}
.sy__inbox .b3-list-item__text {
  /* 过长收集箱标题显示样式 */
  display: var(--custom-inbox-display);
}
