/*关系图面板*/
@import url(/appearance/themes/Dark+/style/module/config.css);
@import url(/widgets/custom.css);
.graph {
  background: transparent;
}
/* 全屏关系图 */
.fullscreen .sy__graph > .block__icons,
.fullscreen .sy__globalGraph > .block__icons {
  /* 关系图标题栏 */
  background-color: var(--custom-panel-graph-fullscreen-toolbar-background-color);
}
.fullscreen .sy__graph > .graph__svg,
.fullscreen .sy__globalGraph > .graph__svg {
  /* 关系图内容 */
  background-color: var(--custom-panel-graph-fullscreen-background-color);
}
