/* 编辑区面板 */
@import url(/appearance/themes/Dark+/style/module/config.css);
@import url(/widgets/custom.css);
.fn__flex-1.protyle.fullscreen .protyle-content {
  /* 全屏模式编辑区 */
  background-color: var(--custom-editor-background-color);
  backdrop-filter: var(--custom-backdrop-filter);
}
#editor,
.layout-tab-container {
  /* 编辑区 */
  background-color: var(--custom-editor-background-color);
}
.protyle {
  /*编辑区*/
  background: transparent;
}
.protyle-breadcrumb {
  /* 导航栏(面包屑) */
  background-color: var(--custom-editor-breadcrumb-bar-background-color);
  /* box-shadow: 0 15px 10px -10px rgba(0, 0, 0, 0.5); */
}
.protyle-breadcrumb .protyle-breadcrumb__bar .protyle-breadcrumb__item {
  /* 导航栏文字 */
  line-height: normal;
  border: 1px solid var(--b3-theme-on-surface-light);
}
.protyle-breadcrumb .protyle-breadcrumb__bar .protyle-breadcrumb__item:first-child {
  border-color: var(--b3-theme-on-surface);
}
.protyle-breadcrumb .protyle-breadcrumb__bar .protyle-breadcrumb__item:first-child,
.protyle-breadcrumb .protyle-breadcrumb__bar .protyle-breadcrumb__item:first-child .protyle-breadcrumb__text--ellipsis {
  /* 文档路径完整显示 */
  max-width: none;
}
.protyle-content[data-fullwidth="true"] > .protyle-background > .protyle-background__iconw {
  /* 文档标志 */
  left: var(--custom-editor-padding-left) !important;
}
.protyle-content[data-fullwidth="true"] > .protyle-title,
.protyle-content[data-fullwidth="true"] > .protyle-wysiwyg {
  margin-left: var(--custom-editor-padding-left) !important;
  margin-right: var(--custom-editor-padding-right) !important;
  padding-left: 0 !important;
  padding-right: 0 !important;
}
.protyle-content > .protyle-title {
  /* 标题 */
}
.protyle-content > .protyle-title .protyle-title__input {
  /*编辑区文件名*/
  background: transparent;
}
.protyle-content > .protyle-wysiwyg .dragover__top {
  box-shadow: 0 -4px 0 var(--custom-drag-top-shadow-color);
}
.protyle-content > .protyle-wysiwyg .dragover__bottom {
  box-shadow: 0 4px 0 var(--custom-drag-bottom-shadow-color);
}
.protyle-content > .protyle-wysiwyg .dragover__left {
  box-shadow: -4px 0 0 var(--custom-drag-left-shadow-color);
}
.protyle-content > .protyle-wysiwyg .dragover__right {
  box-shadow: 4px 0 0 var(--custom-drag-right-shadow-color);
}
.protyle-preview {
  /* 内容 */
  background-color: transparent;
  backdrop-filter: none;
}
.protyle-preview > .b3-typography {
  padding-left: var(--custom-editor-padding-left) !important;
  padding-right: var(--custom-editor-padding-right) !important;
}
