/* 面板全局设置 */
#sidebar .b3-list--mobile > [data-type^="sidebar"]:not([data-type="sidebar-file"]) ul {
  position: relative;
  top: 0;
  left: 0;
}
#sidebar .b3-list--mobile > [data-type^="sidebar"]:not([data-type="sidebar-file"]) ul.b3-list > ul::before {
  content: "";
  position: absolute;
  top: 0;
  left: 12px;
  width: var(--custom-list-guides-line-width);
  height: 100%;
  background-color: var(--custom-list-guides-line-color);
  z-index: 1;
}
#sidebar .b3-list--mobile > [data-type^="sidebar"]:not([data-type="sidebar-file"]) ul.b3-list > ul > ul::before {
  content: "";
  position: absolute;
  top: 0;
  left: 30px;
  width: var(--custom-list-guides-line-width);
  height: 100%;
  background-color: var(--custom-list-guides-line-color);
  z-index: 1;
}
#sidebar .b3-list--mobile > [data-type^="sidebar"]:not([data-type="sidebar-file"]) ul.b3-list > ul > ul > ul::before {
  content: "";
  position: absolute;
  top: 0;
  left: 48px;
  width: var(--custom-list-guides-line-width);
  height: 100%;
  background-color: var(--custom-list-guides-line-color);
  z-index: 1;
}
#sidebar .b3-list--mobile > [data-type^="sidebar"]:not([data-type="sidebar-file"]) ul.b3-list > ul > ul > ul > ul::before {
  content: "";
  position: absolute;
  top: 0;
  left: 66px;
  width: var(--custom-list-guides-line-width);
  height: 100%;
  background-color: var(--custom-list-guides-line-color);
  z-index: 1;
}
#sidebar .b3-list--mobile > [data-type^="sidebar"]:not([data-type="sidebar-file"]) ul.b3-list > ul > ul > ul > ul > ul::before {
  content: "";
  position: absolute;
  top: 0;
  left: 84px;
  width: var(--custom-list-guides-line-width);
  height: 100%;
  background-color: var(--custom-list-guides-line-color);
  z-index: 1;
}
#sidebar .b3-list--mobile > [data-type^="sidebar"]:not([data-type="sidebar-file"]) ul.b3-list > ul > ul > ul > ul > ul > ul::before {
  content: "";
  position: absolute;
  top: 0;
  left: 102px;
  width: var(--custom-list-guides-line-width);
  height: 100%;
  background-color: var(--custom-list-guides-line-color);
  z-index: 1;
}
#sidebar .b3-list--mobile > [data-type^="sidebar"]:not([data-type="sidebar-file"]) ul.b3-list > ul > ul > ul > ul > ul > ul > ul::before {
  content: "";
  position: absolute;
  top: 0;
  left: 120px;
  width: var(--custom-list-guides-line-width);
  height: 100%;
  background-color: var(--custom-list-guides-line-color);
  z-index: 1;
}
#sidebar .b3-list--mobile > [data-type^="sidebar"]:not([data-type="sidebar-file"]) ul.b3-list > ul > ul > ul > ul > ul > ul > ul > ul::before {
  content: "";
  position: absolute;
  top: 0;
  left: 138px;
  width: var(--custom-list-guides-line-width);
  height: 100%;
  background-color: var(--custom-list-guides-line-color);
  z-index: 1;
}
#sidebar .b3-list--mobile > [data-type^="sidebar"]:not([data-type="sidebar-file"]) ul.b3-list > ul > ul > ul > ul > ul > ul > ul > ul > ul::before {
  content: "";
  position: absolute;
  top: 0;
  left: 156px;
  width: var(--custom-list-guides-line-width);
  height: 100%;
  background-color: var(--custom-list-guides-line-color);
  z-index: 1;
}
#sidebar .b3-list--mobile > [data-type^="sidebar"]:not([data-type="sidebar-file"]) ul.b3-list > ul > ul > ul > ul > ul > ul > ul > ul > ul > ul::before {
  content: "";
  position: absolute;
  top: 0;
  left: 174px;
  width: var(--custom-list-guides-line-width);
  height: 100%;
  background-color: var(--custom-list-guides-line-color);
  z-index: 1;
}
#sidebar .b3-list--mobile > [data-type^="sidebar"]:not([data-type="sidebar-file"]) ul.b3-list ul:hover::before {
  background-color: var(--b3-theme-primary-lighter);
}
[data-type='wnd'][data-id] {
  min-height: 0%;
  margin: var(--custom-panel-distance);
  border-radius: var(--custom-border-radius);
  /* 侧边分栏面板 */
  /* 文档树面板(影响定位当前文档) */
}
[data-type='wnd'][data-id] .file-tree:not(.sy__file, .sy__outline) ul {
  position: relative;
  top: 0;
  left: 0;
}
[data-type='wnd'][data-id] .file-tree:not(.sy__file, .sy__outline) ul.b3-list > ul::before {
  content: "";
  position: absolute;
  top: 0;
  left: 12px;
  width: var(--custom-list-guides-line-width);
  height: 100%;
  background-color: var(--custom-list-guides-line-color);
  z-index: 1;
}
[data-type='wnd'][data-id] .file-tree:not(.sy__file, .sy__outline) ul.b3-list > ul > ul::before {
  content: "";
  position: absolute;
  top: 0;
  left: 28px;
  width: var(--custom-list-guides-line-width);
  height: 100%;
  background-color: var(--custom-list-guides-line-color);
  z-index: 1;
}
[data-type='wnd'][data-id] .file-tree:not(.sy__file, .sy__outline) ul.b3-list > ul > ul > ul::before {
  content: "";
  position: absolute;
  top: 0;
  left: 44px;
  width: var(--custom-list-guides-line-width);
  height: 100%;
  background-color: var(--custom-list-guides-line-color);
  z-index: 1;
}
[data-type='wnd'][data-id] .file-tree:not(.sy__file, .sy__outline) ul.b3-list > ul > ul > ul > ul::before {
  content: "";
  position: absolute;
  top: 0;
  left: 60px;
  width: var(--custom-list-guides-line-width);
  height: 100%;
  background-color: var(--custom-list-guides-line-color);
  z-index: 1;
}
[data-type='wnd'][data-id] .file-tree:not(.sy__file, .sy__outline) ul.b3-list > ul > ul > ul > ul > ul::before {
  content: "";
  position: absolute;
  top: 0;
  left: 76px;
  width: var(--custom-list-guides-line-width);
  height: 100%;
  background-color: var(--custom-list-guides-line-color);
  z-index: 1;
}
[data-type='wnd'][data-id] .file-tree:not(.sy__file, .sy__outline) ul.b3-list > ul > ul > ul > ul > ul > ul::before {
  content: "";
  position: absolute;
  top: 0;
  left: 92px;
  width: var(--custom-list-guides-line-width);
  height: 100%;
  background-color: var(--custom-list-guides-line-color);
  z-index: 1;
}
[data-type='wnd'][data-id] .file-tree:not(.sy__file, .sy__outline) ul.b3-list > ul > ul > ul > ul > ul > ul > ul::before {
  content: "";
  position: absolute;
  top: 0;
  left: 108px;
  width: var(--custom-list-guides-line-width);
  height: 100%;
  background-color: var(--custom-list-guides-line-color);
  z-index: 1;
}
[data-type='wnd'][data-id] .file-tree:not(.sy__file, .sy__outline) ul.b3-list > ul > ul > ul > ul > ul > ul > ul > ul::before {
  content: "";
  position: absolute;
  top: 0;
  left: 124px;
  width: var(--custom-list-guides-line-width);
  height: 100%;
  background-color: var(--custom-list-guides-line-color);
  z-index: 1;
}
[data-type='wnd'][data-id] .file-tree:not(.sy__file, .sy__outline) ul.b3-list > ul > ul > ul > ul > ul > ul > ul > ul > ul::before {
  content: "";
  position: absolute;
  top: 0;
  left: 140px;
  width: var(--custom-list-guides-line-width);
  height: 100%;
  background-color: var(--custom-list-guides-line-color);
  z-index: 1;
}
[data-type='wnd'][data-id] .file-tree:not(.sy__file, .sy__outline) ul.b3-list > ul > ul > ul > ul > ul > ul > ul > ul > ul > ul::before {
  content: "";
  position: absolute;
  top: 0;
  left: 156px;
  width: var(--custom-list-guides-line-width);
  height: 100%;
  background-color: var(--custom-list-guides-line-color);
  z-index: 1;
}
[data-type='wnd'][data-id] .file-tree:not(.sy__file, .sy__outline) ul.b3-list ul:hover::before {
  background-color: var(--b3-theme-primary-lighter);
}
[data-type='wnd'][data-id] .file-tree.sy__outline:hover ul {
  position: relative;
  top: 0;
  left: 0;
}
[data-type='wnd'][data-id] .file-tree.sy__outline:hover ul.b3-list > ul::before {
  content: "";
  position: absolute;
  top: 0;
  left: 12px;
  width: var(--custom-list-guides-line-width);
  height: 100%;
  background-color: var(--custom-list-guides-line-color);
  z-index: 1;
}
[data-type='wnd'][data-id] .file-tree.sy__outline:hover ul.b3-list > ul > ul::before {
  content: "";
  position: absolute;
  top: 0;
  left: 30px;
  width: var(--custom-list-guides-line-width);
  height: 100%;
  background-color: var(--custom-list-guides-line-color);
  z-index: 1;
}
[data-type='wnd'][data-id] .file-tree.sy__outline:hover ul.b3-list > ul > ul > ul::before {
  content: "";
  position: absolute;
  top: 0;
  left: 48px;
  width: var(--custom-list-guides-line-width);
  height: 100%;
  background-color: var(--custom-list-guides-line-color);
  z-index: 1;
}
[data-type='wnd'][data-id] .file-tree.sy__outline:hover ul.b3-list > ul > ul > ul > ul::before {
  content: "";
  position: absolute;
  top: 0;
  left: 66px;
  width: var(--custom-list-guides-line-width);
  height: 100%;
  background-color: var(--custom-list-guides-line-color);
  z-index: 1;
}
[data-type='wnd'][data-id] .file-tree.sy__outline:hover ul.b3-list > ul > ul > ul > ul > ul::before {
  content: "";
  position: absolute;
  top: 0;
  left: 84px;
  width: var(--custom-list-guides-line-width);
  height: 100%;
  background-color: var(--custom-list-guides-line-color);
  z-index: 1;
}
[data-type='wnd'][data-id] .file-tree.sy__outline:hover ul.b3-list > ul > ul > ul > ul > ul > ul::before {
  content: "";
  position: absolute;
  top: 0;
  left: 102px;
  width: var(--custom-list-guides-line-width);
  height: 100%;
  background-color: var(--custom-list-guides-line-color);
  z-index: 1;
}
[data-type='wnd'][data-id] .file-tree.sy__outline:hover ul.b3-list > ul > ul > ul > ul > ul > ul > ul::before {
  content: "";
  position: absolute;
  top: 0;
  left: 120px;
  width: var(--custom-list-guides-line-width);
  height: 100%;
  background-color: var(--custom-list-guides-line-color);
  z-index: 1;
}
[data-type='wnd'][data-id] .file-tree.sy__outline:hover ul.b3-list > ul > ul > ul > ul > ul > ul > ul > ul::before {
  content: "";
  position: absolute;
  top: 0;
  left: 138px;
  width: var(--custom-list-guides-line-width);
  height: 100%;
  background-color: var(--custom-list-guides-line-color);
  z-index: 1;
}
[data-type='wnd'][data-id] .file-tree.sy__outline:hover ul.b3-list > ul > ul > ul > ul > ul > ul > ul > ul > ul::before {
  content: "";
  position: absolute;
  top: 0;
  left: 156px;
  width: var(--custom-list-guides-line-width);
  height: 100%;
  background-color: var(--custom-list-guides-line-color);
  z-index: 1;
}
[data-type='wnd'][data-id] .file-tree.sy__outline:hover ul.b3-list > ul > ul > ul > ul > ul > ul > ul > ul > ul > ul::before {
  content: "";
  position: absolute;
  top: 0;
  left: 174px;
  width: var(--custom-list-guides-line-width);
  height: 100%;
  background-color: var(--custom-list-guides-line-color);
  z-index: 1;
}
[data-type='wnd'][data-id] .file-tree.sy__outline:hover ul.b3-list ul:hover::before {
  background-color: var(--b3-theme-primary-lighter);
}
/* 悬浮面板与面板标题栏 */
.block__popover .block__icons,
.layout-tab-container .block__icons {
  height: var(--custom-panel-title-height);
}
