/* 大纲面板 */
@import url(/appearance/themes/Dark+/style/module/config.css);
@import url(/widgets/custom.css);
/* 过长子标题名显示样式 */
.sy__outline .b3-list-item__text {
  display: var(--custom-outline-display);
}
/* 文档标题 */
#sidebar [data-type="sidebar-outline"] ul.b3-list.b3-list--background [data-type="NodeDocument"],
.sy__outline ul.b3-list.b3-list--background [data-type="NodeDocument"],
#sidebar [data-type="sidebar-outline"] ul.b3-list.b3-list--background [data-type="NodeDocument"] .b3-list-item__text,
.sy__outline ul.b3-list.b3-list--background [data-type="NodeDocument"] .b3-list-item__text {
  color: var(--b3-theme-on-background);
}
/* 各级子标题 */
#sidebar [data-type="sidebar-outline"] ul.b3-list.b3-list--background [data-type="NodeDocument"],
.sy__outline ul.b3-list.b3-list--background [data-type="NodeDocument"],
#sidebar [data-type="sidebar-outline"] ul.b3-list.b3-list--background [data-type="NodeDocument"] .b3-list-item__text,
.sy__outline ul.b3-list.b3-list--background [data-type="NodeDocument"] .b3-list-item__text {
  color: var(--b3-theme-on-background);
}
#sidebar [data-type="sidebar-outline"] ul.b3-list.b3-list--background [data-subtype="h1"],
.sy__outline ul.b3-list.b3-list--background [data-subtype="h1"],
#sidebar [data-type="sidebar-outline"] ul.b3-list.b3-list--background [data-subtype="h1"] .b3-list-item__text,
.sy__outline ul.b3-list.b3-list--background [data-subtype="h1"] .b3-list-item__text {
  color: var(--custom-h1-color);
}
#sidebar [data-type="sidebar-outline"] ul.b3-list.b3-list--background [data-subtype="h2"],
.sy__outline ul.b3-list.b3-list--background [data-subtype="h2"],
#sidebar [data-type="sidebar-outline"] ul.b3-list.b3-list--background [data-subtype="h2"] .b3-list-item__text,
.sy__outline ul.b3-list.b3-list--background [data-subtype="h2"] .b3-list-item__text {
  color: var(--custom-h2-color);
}
#sidebar [data-type="sidebar-outline"] ul.b3-list.b3-list--background [data-subtype="h3"],
.sy__outline ul.b3-list.b3-list--background [data-subtype="h3"],
#sidebar [data-type="sidebar-outline"] ul.b3-list.b3-list--background [data-subtype="h3"] .b3-list-item__text,
.sy__outline ul.b3-list.b3-list--background [data-subtype="h3"] .b3-list-item__text {
  color: var(--custom-h3-color);
}
#sidebar [data-type="sidebar-outline"] ul.b3-list.b3-list--background [data-subtype="h4"],
.sy__outline ul.b3-list.b3-list--background [data-subtype="h4"],
#sidebar [data-type="sidebar-outline"] ul.b3-list.b3-list--background [data-subtype="h4"] .b3-list-item__text,
.sy__outline ul.b3-list.b3-list--background [data-subtype="h4"] .b3-list-item__text {
  color: var(--custom-h4-color);
}
#sidebar [data-type="sidebar-outline"] ul.b3-list.b3-list--background [data-subtype="h5"],
.sy__outline ul.b3-list.b3-list--background [data-subtype="h5"],
#sidebar [data-type="sidebar-outline"] ul.b3-list.b3-list--background [data-subtype="h5"] .b3-list-item__text,
.sy__outline ul.b3-list.b3-list--background [data-subtype="h5"] .b3-list-item__text {
  color: var(--custom-h5-color);
}
#sidebar [data-type="sidebar-outline"] ul.b3-list.b3-list--background [data-subtype="h6"],
.sy__outline ul.b3-list.b3-list--background [data-subtype="h6"],
#sidebar [data-type="sidebar-outline"] ul.b3-list.b3-list--background [data-subtype="h6"] .b3-list-item__text,
.sy__outline ul.b3-list.b3-list--background [data-subtype="h6"] .b3-list-item__text {
  color: var(--custom-h6-color);
}
