/* 文档面板 */

@import url(/appearance/themes/Dark+/style/module/config.css);
@import url(/widgets/custom.css);

/* 文档名起始 */


/* ^* */
li[data-type="navigation-file"][data-name ^="*"]>.b3-list-item__text {
    color: var(--custom-doctree-begin-asterisk-color);
}

/* ^# */
li[data-type="navigation-file"][data-name ^="#"]>.b3-list-item__text {
    color: var(--custom-doctree-begin-sharp-color);
}

/* ^? */
li[data-type="navigation-file"][data-name ^="%?"]>.b3-list-item__text {
    color: var(--custom-doctree-begin-question-color);
}

/* ^! */
li[data-type="navigation-file"][data-name ^="!"]>.b3-list-item__text {
    color: var(--custom-doctree-begin-exclamation-color);
}

/* ^@ */
li[data-type="navigation-file"][data-name ^="@"]>.b3-list-item__text {
    color: var(--custom-doctree-begin-at-color);
}

/* ^. */
li[data-type="navigation-file"][data-name ^="."]>.b3-list-item__text {
    color: var(--custom-doctree-begin-period-color);
}

/** 文档名包含
 *  data-name *="<设置的字符的URL编码>"
 */

/* li[data-type="navigation-file"][data-name *="XXX"]>.b3-list-item__text {
    color: blue;
} */

/** 文档名末尾
 *  data-name $="<设置的字符的URL编码>.sy"
 */

/* li[data-type="navigation-file"][data-name $="XXX.sy"]>.b3-list-item__text {
    color: red;
} */

/* * $ */
li[data-type="navigation-file"][data-name $="*.sy"]>.b3-list-item__text {
    color: var(--custom-doctree-end-asterisk-color);
}

/* # $ */
li[data-type="navigation-file"][data-name $="#.sy"]>.b3-list-item__text {
    color: var(--custom-doctree-end-sharp-color);
}

/* ? $ */
li[data-type="navigation-file"][data-name $="?.sy"]>.b3-list-item__text {
    color: var(--custom-doctree-end-question-color);
}

/* ! $ */
li[data-type="navigation-file"][data-name $="!.sy"]>.b3-list-item__text {
    color: var(--custom-doctree-end-exclamation-color);
}