/* 文档面板 */
.sy__file .b3-list-item__text {
  /* 过长文档名显示样式 */
  display: var(--custom-file-display);
}
.sy__file li[data-type="navigation-file"][data-name^="*"] > .b3-list-item__text {
  color: var(--custom-doctree-begin-asterisk-color);
}
.sy__file li[data-type="navigation-file"][data-name^="#"] > .b3-list-item__text {
  color: var(--custom-doctree-begin-sharp-color);
}
.sy__file li[data-type="navigation-file"][data-name^="?"] > .b3-list-item__text {
  color: var(--custom-doctree-begin-question-color);
}
.sy__file li[data-type="navigation-file"][data-name^="!"] > .b3-list-item__text {
  color: var(--custom-doctree-begin-exclamation-color);
}
.sy__file li[data-type="navigation-file"][data-name^="@"] > .b3-list-item__text {
  color: var(--custom-doctree-begin-at-color);
}
.sy__file li[data-type="navigation-file"][data-name^="."] > .b3-list-item__text {
  color: var(--custom-doctree-begin-period-color);
}
.sy__file li[data-type="navigation-file"][data-name$="*.sy"] > .b3-list-item__text {
  color: var(--custom-doctree-end-asterisk-color);
}
.sy__file li[data-type="navigation-file"][data-name$="#.sy"] > .b3-list-item__text {
  color: var(--custom-doctree-end-sharp-color);
}
.sy__file li[data-type="navigation-file"][data-name$="?.sy"] > .b3-list-item__text {
  color: var(--custom-doctree-end-question-color);
}
.sy__file li[data-type="navigation-file"][data-name$="!.sy"] > .b3-list-item__text {
  color: var(--custom-doctree-end-exclamation-color);
}
/* ---------------------------------------文档树辅助线------------------------------------------ */
