/* 面板全局设置 */
#sidebar .b3-list--mobile > [data-type^="sidebar"] ul.b3-list > ul > li.b3-list-item > .b3-list-item__toggle {
  padding-left: calc(30px + 1em * 0) !important;
}
#sidebar .b3-list--mobile > [data-type^="sidebar"] ul.b3-list > ul > ul > li.b3-list-item > .b3-list-item__toggle {
  padding-left: calc(30px + 1em * 1) !important;
}
#sidebar .b3-list--mobile > [data-type^="sidebar"] ul.b3-list > ul > ul > ul > li.b3-list-item > .b3-list-item__toggle {
  padding-left: calc(30px + 1em * 2) !important;
}
#sidebar .b3-list--mobile > [data-type^="sidebar"] ul.b3-list > ul > ul > ul > ul > li.b3-list-item > .b3-list-item__toggle {
  padding-left: calc(30px + 1em * 3) !important;
}
#sidebar .b3-list--mobile > [data-type^="sidebar"] ul.b3-list > ul > ul > ul > ul > ul > li.b3-list-item > .b3-list-item__toggle {
  padding-left: calc(30px + 1em * 4) !important;
}
#sidebar .b3-list--mobile > [data-type^="sidebar"] ul.b3-list > ul > ul > ul > ul > ul > ul > li.b3-list-item > .b3-list-item__toggle {
  padding-left: calc(30px + 1em * 5) !important;
}
#sidebar .b3-list--mobile > [data-type^="sidebar"] ul.b3-list > ul > ul > ul > ul > ul > ul > ul > li.b3-list-item > .b3-list-item__toggle {
  padding-left: calc(30px + 1em * 6) !important;
}
#sidebar .b3-list--mobile > [data-type^="sidebar"] ul.b3-list > ul > ul > ul > ul > ul > ul > ul > ul > li.b3-list-item > .b3-list-item__toggle {
  padding-left: calc(30px + 1em * 7) !important;
}
#sidebar .b3-list--mobile > [data-type^="sidebar"] ul.b3-list > ul > ul > ul > ul > ul > ul > ul > ul > ul > li.b3-list-item > .b3-list-item__toggle {
  padding-left: calc(30px + 1em * 8) !important;
}
#sidebar .b3-list--mobile > [data-type^="sidebar"] ul.b3-list > ul > ul > ul > ul > ul > ul > ul > ul > ul > ul > li.b3-list-item > .b3-list-item__toggle {
  padding-left: calc(30px + 1em * 9) !important;
}
#sidebar .b3-list--mobile > [data-type^="sidebar"] ul.b3-list > ul > ul > ul > ul > ul > ul > ul > ul > ul > ul > ul > li.b3-list-item > .b3-list-item__toggle {
  padding-left: calc(30px + 1em * 10) !important;
}
#sidebar .b3-list--mobile > [data-type^="sidebar"] ul.b3-list > ul > ul > ul > ul > ul > ul > ul > ul > ul > ul > ul > ul > li.b3-list-item > .b3-list-item__toggle {
  padding-left: calc(30px + 1em * 11) !important;
}
#sidebar .b3-list--mobile > [data-type^="sidebar"] ul.b3-list > ul > ul > ul > ul > ul > ul > ul > ul > ul > ul > ul > ul > ul > li.b3-list-item > .b3-list-item__toggle {
  padding-left: calc(30px + 1em * 12) !important;
}
#sidebar .b3-list--mobile > [data-type^="sidebar"] ul.b3-list > ul > ul > ul > ul > ul > ul > ul > ul > ul > ul > ul > ul > ul > ul > li.b3-list-item > .b3-list-item__toggle {
  padding-left: calc(30px + 1em * 13) !important;
}
#sidebar .b3-list--mobile > [data-type^="sidebar"] ul.b3-list > ul > ul > ul > ul > ul > ul > ul > ul > ul > ul > ul > ul > ul > ul > ul > li.b3-list-item > .b3-list-item__toggle {
  padding-left: calc(30px + 1em * 14) !important;
}
#sidebar .b3-list--mobile > [data-type^="sidebar"] ul.b3-list > ul > ul > ul > ul > ul > ul > ul > ul > ul > ul > ul > ul > ul > ul > ul > ul > li.b3-list-item > .b3-list-item__toggle {
  padding-left: calc(30px + 1em * 15) !important;
}
#sidebar .b3-list--mobile > [data-type^="sidebar"]:not([data-type="sidebar-file"]) ul {
  position: relative;
  top: 0;
  left: 0;
}
#sidebar .b3-list--mobile > [data-type^="sidebar"]:not([data-type="sidebar-file"]) ul.b3-list > ul::before {
  content: "";
  position: absolute;
  top: 0;
  left: calc(23px + 1rem * 0);
  width: var(--custom-list-guides-line-width);
  height: 100%;
  background-color: var(--custom-list-guides-line-color);
  z-index: 1;
}
#sidebar .b3-list--mobile > [data-type^="sidebar"]:not([data-type="sidebar-file"]) ul.b3-list > ul > ul::before {
  content: "";
  position: absolute;
  top: 0;
  left: calc(23px + 1rem * 1);
  width: var(--custom-list-guides-line-width);
  height: 100%;
  background-color: var(--custom-list-guides-line-color);
  z-index: 1;
}
#sidebar .b3-list--mobile > [data-type^="sidebar"]:not([data-type="sidebar-file"]) ul.b3-list > ul > ul > ul::before {
  content: "";
  position: absolute;
  top: 0;
  left: calc(23px + 1rem * 2);
  width: var(--custom-list-guides-line-width);
  height: 100%;
  background-color: var(--custom-list-guides-line-color);
  z-index: 1;
}
#sidebar .b3-list--mobile > [data-type^="sidebar"]:not([data-type="sidebar-file"]) ul.b3-list > ul > ul > ul > ul::before {
  content: "";
  position: absolute;
  top: 0;
  left: calc(23px + 1rem * 3);
  width: var(--custom-list-guides-line-width);
  height: 100%;
  background-color: var(--custom-list-guides-line-color);
  z-index: 1;
}
#sidebar .b3-list--mobile > [data-type^="sidebar"]:not([data-type="sidebar-file"]) ul.b3-list > ul > ul > ul > ul > ul::before {
  content: "";
  position: absolute;
  top: 0;
  left: calc(23px + 1rem * 4);
  width: var(--custom-list-guides-line-width);
  height: 100%;
  background-color: var(--custom-list-guides-line-color);
  z-index: 1;
}
#sidebar .b3-list--mobile > [data-type^="sidebar"]:not([data-type="sidebar-file"]) ul.b3-list > ul > ul > ul > ul > ul > ul::before {
  content: "";
  position: absolute;
  top: 0;
  left: calc(23px + 1rem * 5);
  width: var(--custom-list-guides-line-width);
  height: 100%;
  background-color: var(--custom-list-guides-line-color);
  z-index: 1;
}
#sidebar .b3-list--mobile > [data-type^="sidebar"]:not([data-type="sidebar-file"]) ul.b3-list > ul > ul > ul > ul > ul > ul > ul::before {
  content: "";
  position: absolute;
  top: 0;
  left: calc(23px + 1rem * 6);
  width: var(--custom-list-guides-line-width);
  height: 100%;
  background-color: var(--custom-list-guides-line-color);
  z-index: 1;
}
#sidebar .b3-list--mobile > [data-type^="sidebar"]:not([data-type="sidebar-file"]) ul.b3-list > ul > ul > ul > ul > ul > ul > ul > ul::before {
  content: "";
  position: absolute;
  top: 0;
  left: calc(23px + 1rem * 7);
  width: var(--custom-list-guides-line-width);
  height: 100%;
  background-color: var(--custom-list-guides-line-color);
  z-index: 1;
}
#sidebar .b3-list--mobile > [data-type^="sidebar"]:not([data-type="sidebar-file"]) ul.b3-list > ul > ul > ul > ul > ul > ul > ul > ul > ul::before {
  content: "";
  position: absolute;
  top: 0;
  left: calc(23px + 1rem * 8);
  width: var(--custom-list-guides-line-width);
  height: 100%;
  background-color: var(--custom-list-guides-line-color);
  z-index: 1;
}
#sidebar .b3-list--mobile > [data-type^="sidebar"]:not([data-type="sidebar-file"]) ul.b3-list > ul > ul > ul > ul > ul > ul > ul > ul > ul > ul::before {
  content: "";
  position: absolute;
  top: 0;
  left: calc(23px + 1rem * 9);
  width: var(--custom-list-guides-line-width);
  height: 100%;
  background-color: var(--custom-list-guides-line-color);
  z-index: 1;
}
#sidebar .b3-list--mobile > [data-type^="sidebar"]:not([data-type="sidebar-file"]) ul.b3-list > ul > ul > ul > ul > ul > ul > ul > ul > ul > ul > ul::before {
  content: "";
  position: absolute;
  top: 0;
  left: calc(23px + 1rem * 10);
  width: var(--custom-list-guides-line-width);
  height: 100%;
  background-color: var(--custom-list-guides-line-color);
  z-index: 1;
}
#sidebar .b3-list--mobile > [data-type^="sidebar"]:not([data-type="sidebar-file"]) ul.b3-list > ul > ul > ul > ul > ul > ul > ul > ul > ul > ul > ul > ul::before {
  content: "";
  position: absolute;
  top: 0;
  left: calc(23px + 1rem * 11);
  width: var(--custom-list-guides-line-width);
  height: 100%;
  background-color: var(--custom-list-guides-line-color);
  z-index: 1;
}
#sidebar .b3-list--mobile > [data-type^="sidebar"]:not([data-type="sidebar-file"]) ul.b3-list > ul > ul > ul > ul > ul > ul > ul > ul > ul > ul > ul > ul > ul::before {
  content: "";
  position: absolute;
  top: 0;
  left: calc(23px + 1rem * 12);
  width: var(--custom-list-guides-line-width);
  height: 100%;
  background-color: var(--custom-list-guides-line-color);
  z-index: 1;
}
#sidebar .b3-list--mobile > [data-type^="sidebar"]:not([data-type="sidebar-file"]) ul.b3-list > ul > ul > ul > ul > ul > ul > ul > ul > ul > ul > ul > ul > ul > ul::before {
  content: "";
  position: absolute;
  top: 0;
  left: calc(23px + 1rem * 13);
  width: var(--custom-list-guides-line-width);
  height: 100%;
  background-color: var(--custom-list-guides-line-color);
  z-index: 1;
}
#sidebar .b3-list--mobile > [data-type^="sidebar"]:not([data-type="sidebar-file"]) ul.b3-list > ul > ul > ul > ul > ul > ul > ul > ul > ul > ul > ul > ul > ul > ul > ul::before {
  content: "";
  position: absolute;
  top: 0;
  left: calc(23px + 1rem * 14);
  width: var(--custom-list-guides-line-width);
  height: 100%;
  background-color: var(--custom-list-guides-line-color);
  z-index: 1;
}
#sidebar .b3-list--mobile > [data-type^="sidebar"]:not([data-type="sidebar-file"]) ul.b3-list > ul > ul > ul > ul > ul > ul > ul > ul > ul > ul > ul > ul > ul > ul > ul > ul::before {
  content: "";
  position: absolute;
  top: 0;
  left: calc(23px + 1rem * 15);
  width: var(--custom-list-guides-line-width);
  height: 100%;
  background-color: var(--custom-list-guides-line-color);
  z-index: 1;
}
#sidebar .b3-list--mobile > [data-type^="sidebar"]:not([data-type="sidebar-file"]) ul.b3-list ul:hover::before {
  background-color: var(--b3-theme-primary-lighter);
}
[data-type='wnd'][data-id] {
  min-height: 0%;
  margin: var(--custom-panel-distance);
  border-radius: var(--custom-border-radius);
  /* 侧边分栏面板 */
}
[data-type='wnd'][data-id] .file-tree.fn__flex-column ul.b3-list > ul > li.b3-list-item > .b3-list-item__toggle {
  padding-left: calc(18px + 1em * 0) !important;
}
[data-type='wnd'][data-id] .file-tree.fn__flex-column ul.b3-list > ul > ul > li.b3-list-item > .b3-list-item__toggle {
  padding-left: calc(18px + 1em * 1) !important;
}
[data-type='wnd'][data-id] .file-tree.fn__flex-column ul.b3-list > ul > ul > ul > li.b3-list-item > .b3-list-item__toggle {
  padding-left: calc(18px + 1em * 2) !important;
}
[data-type='wnd'][data-id] .file-tree.fn__flex-column ul.b3-list > ul > ul > ul > ul > li.b3-list-item > .b3-list-item__toggle {
  padding-left: calc(18px + 1em * 3) !important;
}
[data-type='wnd'][data-id] .file-tree.fn__flex-column ul.b3-list > ul > ul > ul > ul > ul > li.b3-list-item > .b3-list-item__toggle {
  padding-left: calc(18px + 1em * 4) !important;
}
[data-type='wnd'][data-id] .file-tree.fn__flex-column ul.b3-list > ul > ul > ul > ul > ul > ul > li.b3-list-item > .b3-list-item__toggle {
  padding-left: calc(18px + 1em * 5) !important;
}
[data-type='wnd'][data-id] .file-tree.fn__flex-column ul.b3-list > ul > ul > ul > ul > ul > ul > ul > li.b3-list-item > .b3-list-item__toggle {
  padding-left: calc(18px + 1em * 6) !important;
}
[data-type='wnd'][data-id] .file-tree.fn__flex-column ul.b3-list > ul > ul > ul > ul > ul > ul > ul > ul > li.b3-list-item > .b3-list-item__toggle {
  padding-left: calc(18px + 1em * 7) !important;
}
[data-type='wnd'][data-id] .file-tree.fn__flex-column ul.b3-list > ul > ul > ul > ul > ul > ul > ul > ul > ul > li.b3-list-item > .b3-list-item__toggle {
  padding-left: calc(18px + 1em * 8) !important;
}
[data-type='wnd'][data-id] .file-tree.fn__flex-column ul.b3-list > ul > ul > ul > ul > ul > ul > ul > ul > ul > ul > li.b3-list-item > .b3-list-item__toggle {
  padding-left: calc(18px + 1em * 9) !important;
}
[data-type='wnd'][data-id] .file-tree.fn__flex-column ul.b3-list > ul > ul > ul > ul > ul > ul > ul > ul > ul > ul > ul > li.b3-list-item > .b3-list-item__toggle {
  padding-left: calc(18px + 1em * 10) !important;
}
[data-type='wnd'][data-id] .file-tree.fn__flex-column ul.b3-list > ul > ul > ul > ul > ul > ul > ul > ul > ul > ul > ul > ul > li.b3-list-item > .b3-list-item__toggle {
  padding-left: calc(18px + 1em * 11) !important;
}
[data-type='wnd'][data-id] .file-tree.fn__flex-column ul.b3-list > ul > ul > ul > ul > ul > ul > ul > ul > ul > ul > ul > ul > ul > li.b3-list-item > .b3-list-item__toggle {
  padding-left: calc(18px + 1em * 12) !important;
}
[data-type='wnd'][data-id] .file-tree.fn__flex-column ul.b3-list > ul > ul > ul > ul > ul > ul > ul > ul > ul > ul > ul > ul > ul > ul > li.b3-list-item > .b3-list-item__toggle {
  padding-left: calc(18px + 1em * 13) !important;
}
[data-type='wnd'][data-id] .file-tree.fn__flex-column ul.b3-list > ul > ul > ul > ul > ul > ul > ul > ul > ul > ul > ul > ul > ul > ul > ul > li.b3-list-item > .b3-list-item__toggle {
  padding-left: calc(18px + 1em * 14) !important;
}
[data-type='wnd'][data-id] .file-tree.fn__flex-column ul.b3-list > ul > ul > ul > ul > ul > ul > ul > ul > ul > ul > ul > ul > ul > ul > ul > ul > li.b3-list-item > .b3-list-item__toggle {
  padding-left: calc(18px + 1em * 15) !important;
}
[data-type='wnd'][data-id] .file-tree.fn__flex-column:not(.sy__file, .sy__tag, .sy__outline) ul {
  position: relative;
  top: 0;
  left: 0;
}
[data-type='wnd'][data-id] .file-tree.fn__flex-column:not(.sy__file, .sy__tag, .sy__outline) ul.b3-list > ul::before {
  content: "";
  position: absolute;
  top: 0;
  left: calc(12px + 1em * 0);
  width: var(--custom-list-guides-line-width);
  height: 100%;
  background-color: var(--custom-list-guides-line-color);
  z-index: 1;
}
[data-type='wnd'][data-id] .file-tree.fn__flex-column:not(.sy__file, .sy__tag, .sy__outline) ul.b3-list > ul > ul::before {
  content: "";
  position: absolute;
  top: 0;
  left: calc(12px + 1em * 1);
  width: var(--custom-list-guides-line-width);
  height: 100%;
  background-color: var(--custom-list-guides-line-color);
  z-index: 1;
}
[data-type='wnd'][data-id] .file-tree.fn__flex-column:not(.sy__file, .sy__tag, .sy__outline) ul.b3-list > ul > ul > ul::before {
  content: "";
  position: absolute;
  top: 0;
  left: calc(12px + 1em * 2);
  width: var(--custom-list-guides-line-width);
  height: 100%;
  background-color: var(--custom-list-guides-line-color);
  z-index: 1;
}
[data-type='wnd'][data-id] .file-tree.fn__flex-column:not(.sy__file, .sy__tag, .sy__outline) ul.b3-list > ul > ul > ul > ul::before {
  content: "";
  position: absolute;
  top: 0;
  left: calc(12px + 1em * 3);
  width: var(--custom-list-guides-line-width);
  height: 100%;
  background-color: var(--custom-list-guides-line-color);
  z-index: 1;
}
[data-type='wnd'][data-id] .file-tree.fn__flex-column:not(.sy__file, .sy__tag, .sy__outline) ul.b3-list > ul > ul > ul > ul > ul::before {
  content: "";
  position: absolute;
  top: 0;
  left: calc(12px + 1em * 4);
  width: var(--custom-list-guides-line-width);
  height: 100%;
  background-color: var(--custom-list-guides-line-color);
  z-index: 1;
}
[data-type='wnd'][data-id] .file-tree.fn__flex-column:not(.sy__file, .sy__tag, .sy__outline) ul.b3-list > ul > ul > ul > ul > ul > ul::before {
  content: "";
  position: absolute;
  top: 0;
  left: calc(12px + 1em * 5);
  width: var(--custom-list-guides-line-width);
  height: 100%;
  background-color: var(--custom-list-guides-line-color);
  z-index: 1;
}
[data-type='wnd'][data-id] .file-tree.fn__flex-column:not(.sy__file, .sy__tag, .sy__outline) ul.b3-list > ul > ul > ul > ul > ul > ul > ul::before {
  content: "";
  position: absolute;
  top: 0;
  left: calc(12px + 1em * 6);
  width: var(--custom-list-guides-line-width);
  height: 100%;
  background-color: var(--custom-list-guides-line-color);
  z-index: 1;
}
[data-type='wnd'][data-id] .file-tree.fn__flex-column:not(.sy__file, .sy__tag, .sy__outline) ul.b3-list > ul > ul > ul > ul > ul > ul > ul > ul::before {
  content: "";
  position: absolute;
  top: 0;
  left: calc(12px + 1em * 7);
  width: var(--custom-list-guides-line-width);
  height: 100%;
  background-color: var(--custom-list-guides-line-color);
  z-index: 1;
}
[data-type='wnd'][data-id] .file-tree.fn__flex-column:not(.sy__file, .sy__tag, .sy__outline) ul.b3-list > ul > ul > ul > ul > ul > ul > ul > ul > ul::before {
  content: "";
  position: absolute;
  top: 0;
  left: calc(12px + 1em * 8);
  width: var(--custom-list-guides-line-width);
  height: 100%;
  background-color: var(--custom-list-guides-line-color);
  z-index: 1;
}
[data-type='wnd'][data-id] .file-tree.fn__flex-column:not(.sy__file, .sy__tag, .sy__outline) ul.b3-list > ul > ul > ul > ul > ul > ul > ul > ul > ul > ul::before {
  content: "";
  position: absolute;
  top: 0;
  left: calc(12px + 1em * 9);
  width: var(--custom-list-guides-line-width);
  height: 100%;
  background-color: var(--custom-list-guides-line-color);
  z-index: 1;
}
[data-type='wnd'][data-id] .file-tree.fn__flex-column:not(.sy__file, .sy__tag, .sy__outline) ul.b3-list > ul > ul > ul > ul > ul > ul > ul > ul > ul > ul > ul::before {
  content: "";
  position: absolute;
  top: 0;
  left: calc(12px + 1em * 10);
  width: var(--custom-list-guides-line-width);
  height: 100%;
  background-color: var(--custom-list-guides-line-color);
  z-index: 1;
}
[data-type='wnd'][data-id] .file-tree.fn__flex-column:not(.sy__file, .sy__tag, .sy__outline) ul.b3-list > ul > ul > ul > ul > ul > ul > ul > ul > ul > ul > ul > ul::before {
  content: "";
  position: absolute;
  top: 0;
  left: calc(12px + 1em * 11);
  width: var(--custom-list-guides-line-width);
  height: 100%;
  background-color: var(--custom-list-guides-line-color);
  z-index: 1;
}
[data-type='wnd'][data-id] .file-tree.fn__flex-column:not(.sy__file, .sy__tag, .sy__outline) ul.b3-list > ul > ul > ul > ul > ul > ul > ul > ul > ul > ul > ul > ul > ul::before {
  content: "";
  position: absolute;
  top: 0;
  left: calc(12px + 1em * 12);
  width: var(--custom-list-guides-line-width);
  height: 100%;
  background-color: var(--custom-list-guides-line-color);
  z-index: 1;
}
[data-type='wnd'][data-id] .file-tree.fn__flex-column:not(.sy__file, .sy__tag, .sy__outline) ul.b3-list > ul > ul > ul > ul > ul > ul > ul > ul > ul > ul > ul > ul > ul > ul::before {
  content: "";
  position: absolute;
  top: 0;
  left: calc(12px + 1em * 13);
  width: var(--custom-list-guides-line-width);
  height: 100%;
  background-color: var(--custom-list-guides-line-color);
  z-index: 1;
}
[data-type='wnd'][data-id] .file-tree.fn__flex-column:not(.sy__file, .sy__tag, .sy__outline) ul.b3-list > ul > ul > ul > ul > ul > ul > ul > ul > ul > ul > ul > ul > ul > ul > ul::before {
  content: "";
  position: absolute;
  top: 0;
  left: calc(12px + 1em * 14);
  width: var(--custom-list-guides-line-width);
  height: 100%;
  background-color: var(--custom-list-guides-line-color);
  z-index: 1;
}
[data-type='wnd'][data-id] .file-tree.fn__flex-column:not(.sy__file, .sy__tag, .sy__outline) ul.b3-list > ul > ul > ul > ul > ul > ul > ul > ul > ul > ul > ul > ul > ul > ul > ul > ul::before {
  content: "";
  position: absolute;
  top: 0;
  left: calc(12px + 1em * 15);
  width: var(--custom-list-guides-line-width);
  height: 100%;
  background-color: var(--custom-list-guides-line-color);
  z-index: 1;
}
[data-type='wnd'][data-id] .file-tree.fn__flex-column:not(.sy__file, .sy__tag, .sy__outline) ul.b3-list ul:hover::before {
  background-color: var(--b3-theme-primary-lighter);
}
[data-type='wnd'][data-id] .file-tree.fn__flex-column.sy__tag:hover ul,
[data-type='wnd'][data-id] .file-tree.fn__flex-column.sy__outline:hover ul {
  position: relative;
  top: 0;
  left: 0;
}
[data-type='wnd'][data-id] .file-tree.fn__flex-column.sy__tag:hover ul.b3-list > ul::before,
[data-type='wnd'][data-id] .file-tree.fn__flex-column.sy__outline:hover ul.b3-list > ul::before {
  content: "";
  position: absolute;
  top: 0;
  left: calc(12px + 1em * 0);
  width: var(--custom-list-guides-line-width);
  height: 100%;
  background-color: var(--custom-list-guides-line-color);
  z-index: 1;
}
[data-type='wnd'][data-id] .file-tree.fn__flex-column.sy__tag:hover ul.b3-list > ul > ul::before,
[data-type='wnd'][data-id] .file-tree.fn__flex-column.sy__outline:hover ul.b3-list > ul > ul::before {
  content: "";
  position: absolute;
  top: 0;
  left: calc(12px + 1em * 1);
  width: var(--custom-list-guides-line-width);
  height: 100%;
  background-color: var(--custom-list-guides-line-color);
  z-index: 1;
}
[data-type='wnd'][data-id] .file-tree.fn__flex-column.sy__tag:hover ul.b3-list > ul > ul > ul::before,
[data-type='wnd'][data-id] .file-tree.fn__flex-column.sy__outline:hover ul.b3-list > ul > ul > ul::before {
  content: "";
  position: absolute;
  top: 0;
  left: calc(12px + 1em * 2);
  width: var(--custom-list-guides-line-width);
  height: 100%;
  background-color: var(--custom-list-guides-line-color);
  z-index: 1;
}
[data-type='wnd'][data-id] .file-tree.fn__flex-column.sy__tag:hover ul.b3-list > ul > ul > ul > ul::before,
[data-type='wnd'][data-id] .file-tree.fn__flex-column.sy__outline:hover ul.b3-list > ul > ul > ul > ul::before {
  content: "";
  position: absolute;
  top: 0;
  left: calc(12px + 1em * 3);
  width: var(--custom-list-guides-line-width);
  height: 100%;
  background-color: var(--custom-list-guides-line-color);
  z-index: 1;
}
[data-type='wnd'][data-id] .file-tree.fn__flex-column.sy__tag:hover ul.b3-list > ul > ul > ul > ul > ul::before,
[data-type='wnd'][data-id] .file-tree.fn__flex-column.sy__outline:hover ul.b3-list > ul > ul > ul > ul > ul::before {
  content: "";
  position: absolute;
  top: 0;
  left: calc(12px + 1em * 4);
  width: var(--custom-list-guides-line-width);
  height: 100%;
  background-color: var(--custom-list-guides-line-color);
  z-index: 1;
}
[data-type='wnd'][data-id] .file-tree.fn__flex-column.sy__tag:hover ul.b3-list > ul > ul > ul > ul > ul > ul::before,
[data-type='wnd'][data-id] .file-tree.fn__flex-column.sy__outline:hover ul.b3-list > ul > ul > ul > ul > ul > ul::before {
  content: "";
  position: absolute;
  top: 0;
  left: calc(12px + 1em * 5);
  width: var(--custom-list-guides-line-width);
  height: 100%;
  background-color: var(--custom-list-guides-line-color);
  z-index: 1;
}
[data-type='wnd'][data-id] .file-tree.fn__flex-column.sy__tag:hover ul.b3-list > ul > ul > ul > ul > ul > ul > ul::before,
[data-type='wnd'][data-id] .file-tree.fn__flex-column.sy__outline:hover ul.b3-list > ul > ul > ul > ul > ul > ul > ul::before {
  content: "";
  position: absolute;
  top: 0;
  left: calc(12px + 1em * 6);
  width: var(--custom-list-guides-line-width);
  height: 100%;
  background-color: var(--custom-list-guides-line-color);
  z-index: 1;
}
[data-type='wnd'][data-id] .file-tree.fn__flex-column.sy__tag:hover ul.b3-list > ul > ul > ul > ul > ul > ul > ul > ul::before,
[data-type='wnd'][data-id] .file-tree.fn__flex-column.sy__outline:hover ul.b3-list > ul > ul > ul > ul > ul > ul > ul > ul::before {
  content: "";
  position: absolute;
  top: 0;
  left: calc(12px + 1em * 7);
  width: var(--custom-list-guides-line-width);
  height: 100%;
  background-color: var(--custom-list-guides-line-color);
  z-index: 1;
}
[data-type='wnd'][data-id] .file-tree.fn__flex-column.sy__tag:hover ul.b3-list > ul > ul > ul > ul > ul > ul > ul > ul > ul::before,
[data-type='wnd'][data-id] .file-tree.fn__flex-column.sy__outline:hover ul.b3-list > ul > ul > ul > ul > ul > ul > ul > ul > ul::before {
  content: "";
  position: absolute;
  top: 0;
  left: calc(12px + 1em * 8);
  width: var(--custom-list-guides-line-width);
  height: 100%;
  background-color: var(--custom-list-guides-line-color);
  z-index: 1;
}
[data-type='wnd'][data-id] .file-tree.fn__flex-column.sy__tag:hover ul.b3-list > ul > ul > ul > ul > ul > ul > ul > ul > ul > ul::before,
[data-type='wnd'][data-id] .file-tree.fn__flex-column.sy__outline:hover ul.b3-list > ul > ul > ul > ul > ul > ul > ul > ul > ul > ul::before {
  content: "";
  position: absolute;
  top: 0;
  left: calc(12px + 1em * 9);
  width: var(--custom-list-guides-line-width);
  height: 100%;
  background-color: var(--custom-list-guides-line-color);
  z-index: 1;
}
[data-type='wnd'][data-id] .file-tree.fn__flex-column.sy__tag:hover ul.b3-list > ul > ul > ul > ul > ul > ul > ul > ul > ul > ul > ul::before,
[data-type='wnd'][data-id] .file-tree.fn__flex-column.sy__outline:hover ul.b3-list > ul > ul > ul > ul > ul > ul > ul > ul > ul > ul > ul::before {
  content: "";
  position: absolute;
  top: 0;
  left: calc(12px + 1em * 10);
  width: var(--custom-list-guides-line-width);
  height: 100%;
  background-color: var(--custom-list-guides-line-color);
  z-index: 1;
}
[data-type='wnd'][data-id] .file-tree.fn__flex-column.sy__tag:hover ul.b3-list > ul > ul > ul > ul > ul > ul > ul > ul > ul > ul > ul > ul::before,
[data-type='wnd'][data-id] .file-tree.fn__flex-column.sy__outline:hover ul.b3-list > ul > ul > ul > ul > ul > ul > ul > ul > ul > ul > ul > ul::before {
  content: "";
  position: absolute;
  top: 0;
  left: calc(12px + 1em * 11);
  width: var(--custom-list-guides-line-width);
  height: 100%;
  background-color: var(--custom-list-guides-line-color);
  z-index: 1;
}
[data-type='wnd'][data-id] .file-tree.fn__flex-column.sy__tag:hover ul.b3-list > ul > ul > ul > ul > ul > ul > ul > ul > ul > ul > ul > ul > ul::before,
[data-type='wnd'][data-id] .file-tree.fn__flex-column.sy__outline:hover ul.b3-list > ul > ul > ul > ul > ul > ul > ul > ul > ul > ul > ul > ul > ul::before {
  content: "";
  position: absolute;
  top: 0;
  left: calc(12px + 1em * 12);
  width: var(--custom-list-guides-line-width);
  height: 100%;
  background-color: var(--custom-list-guides-line-color);
  z-index: 1;
}
[data-type='wnd'][data-id] .file-tree.fn__flex-column.sy__tag:hover ul.b3-list > ul > ul > ul > ul > ul > ul > ul > ul > ul > ul > ul > ul > ul > ul::before,
[data-type='wnd'][data-id] .file-tree.fn__flex-column.sy__outline:hover ul.b3-list > ul > ul > ul > ul > ul > ul > ul > ul > ul > ul > ul > ul > ul > ul::before {
  content: "";
  position: absolute;
  top: 0;
  left: calc(12px + 1em * 13);
  width: var(--custom-list-guides-line-width);
  height: 100%;
  background-color: var(--custom-list-guides-line-color);
  z-index: 1;
}
[data-type='wnd'][data-id] .file-tree.fn__flex-column.sy__tag:hover ul.b3-list > ul > ul > ul > ul > ul > ul > ul > ul > ul > ul > ul > ul > ul > ul > ul::before,
[data-type='wnd'][data-id] .file-tree.fn__flex-column.sy__outline:hover ul.b3-list > ul > ul > ul > ul > ul > ul > ul > ul > ul > ul > ul > ul > ul > ul > ul::before {
  content: "";
  position: absolute;
  top: 0;
  left: calc(12px + 1em * 14);
  width: var(--custom-list-guides-line-width);
  height: 100%;
  background-color: var(--custom-list-guides-line-color);
  z-index: 1;
}
[data-type='wnd'][data-id] .file-tree.fn__flex-column.sy__tag:hover ul.b3-list > ul > ul > ul > ul > ul > ul > ul > ul > ul > ul > ul > ul > ul > ul > ul > ul::before,
[data-type='wnd'][data-id] .file-tree.fn__flex-column.sy__outline:hover ul.b3-list > ul > ul > ul > ul > ul > ul > ul > ul > ul > ul > ul > ul > ul > ul > ul > ul::before {
  content: "";
  position: absolute;
  top: 0;
  left: calc(12px + 1em * 15);
  width: var(--custom-list-guides-line-width);
  height: 100%;
  background-color: var(--custom-list-guides-line-color);
  z-index: 1;
}
[data-type='wnd'][data-id] .file-tree.fn__flex-column.sy__tag:hover ul.b3-list ul:hover::before,
[data-type='wnd'][data-id] .file-tree.fn__flex-column.sy__outline:hover ul.b3-list ul:hover::before {
  background-color: var(--b3-theme-primary-lighter);
}
/* 悬浮面板与面板标题栏 */
.block__popover .block__icons,
.layout-tab-container .block__icons {
  height: var(--custom-panel-title-height);
  min-height: var(--custom-dock-width);
}
.block__popover .block__icons .counter,
.layout-tab-container .block__icons .counter {
  /* 计数器 */
  margin: 0;
  color: var(--b3-theme-on-background);
  background-color: transparent;
  outline: 1px solid;
}
.block__popover .block__icons .b3-text-field,
.layout-tab-container .block__icons .b3-text-field {
  /* 关键字过滤 */
  line-height: 22px;
}
.block__popover .plugin-sample__custom-tab,
.layout-tab-container .plugin-sample__custom-tab {
  background-color: unset;
}
.layout-tab-container .layout__tab--active .block__icons {
  /* 焦点所在面板的标题栏 */
  background-color: var(--b3-list-hover);
}
/* 设置标签页面板 */
.config__tab-container {
  background-color: transparent;
}
