/* 超链接 */
@import url(/appearance/themes/Dark+/style/module/config.css);
@import url(/widgets/custom.css);
.protyle-wysiwyg [data-node-id] span:not(:empty)[data-type='a'] {
  /* 默认样式 */
  margin: 0;
  padding: 0;
  color: var(--b3-protyle-inline-link-color);
}
.protyle-wysiwyg [data-node-id] span:not(:empty)[data-type='a']::before {
  /* 超链接前标志 */
  content: "";
  display: inline-block;
  position: relative;
  background-image: url(/appearance/themes/Dark+/icon/unknown.svg);
  background-size: 0.875em auto;
  background-repeat: no-repeat;
  background-position: center;
  width: 0.875em;
  height: 1em;
  margin: 0.125em 0.125em -0.125em 0;
  padding: 0;
}
.protyle-wysiwyg [data-node-id] span:not(:empty)[data-type='a'][data-href^="siyuan:"] {
  /* 思源内部的超链接特化 */
  color: var(--custom-span-siyuan-link-color);
}
.protyle-wysiwyg [data-node-id] span:not(:empty)[data-type='a'][data-href^="siyuan:"]:hover {
  border-color: var(--custom-span-siyuan-link-color);
}
.protyle-wysiwyg [data-node-id] span:not(:empty)[data-type='a'][data-href^="siyuan:"][data-href*="focus=1"]::before,
.protyle-wysiwyg [data-node-id] span:not(:empty)[data-type='a'][data-href^="siyuan:"][href*="focus=1"]::before {
  /* 思源聚焦超链接特化 */
  outline: 1px solid var(--custom-span-siyuan-link-color);
}
.protyle-wysiwyg [data-node-id] span:not(:empty)[data-type='file-annotation-ref']::before {
  /* 超链接前标志 */
  content: "";
  display: inline-block;
  position: relative;
  background-image: url(/appearance/themes/Dark+/icon/unknown.svg);
  background-size: 0.875em auto;
  background-repeat: no-repeat;
  background-position: center;
  width: 0.875em;
  height: 1em;
  margin: 0.125em 0.125em -0.125em 0;
  padding: 0;
}
.b3-typography a {
  /* 默认样式 */
  margin: 0;
  padding: 0;
  color: var(--b3-protyle-inline-link-color);
}
.b3-typography a::before {
  /* 超链接前标志 */
  content: "";
  display: inline-block;
  position: relative;
  background-image: url(/appearance/themes/Dark+/icon/unknown.svg);
  background-size: 0.875em auto;
  background-repeat: no-repeat;
  background-position: center;
  width: 0.875em;
  height: 1em;
  margin: 0.125em 0.125em -0.125em 0;
  padding: 0;
}
.b3-typography a[href^="siyuan:"] {
  /* 思源内部的超链接特化 */
  color: var(--custom-span-siyuan-link-color);
}
.b3-typography a[href^="siyuan:"]:hover {
  border-color: var(--custom-span-siyuan-link-color);
}
.b3-typography a[href^="siyuan:"][data-href*="focus=1"]::before,
.b3-typography a[href^="siyuan:"][href*="focus=1"]::before {
  /* 思源聚焦超链接特化 */
  outline: 1px solid var(--custom-span-siyuan-link-color);
}
