/* 键盘样式 */

#sidebar [data-type="sidebar-outline"] [data-node-id],
.sy__outline [data-node-id],
.protyle-wysiwyg [data-node-id],
.b3-typography {

    kbd,
    span[data-type~=kbd] {
        font-size: 1em;
        font-family: var(--b3-font-family-code);
        margin: 0 0.25em;
        padding: 0 0.125em;
        border-width: 0.125em;
    }
}

#sidebar [data-type="sidebar-outline"] [data-node-id],
.sy__outline [data-node-id] {
    span[data-type~=kbd] {
        color: var(--b3-theme-on-surface);
        background-color: var(--b3-theme-surface);
        border: solid 1px var(--b3-theme-surface-lighter);
        border-radius: 3px;
    }
}
