/* 行内代码 */
.protyle-wysiwyg code:not(.hljs),
.b3-typography code:not(.hljs),
.protyle-wysiwyg span[data-type~=code]:not(.hljs),
.b3-typography span[data-type~=code]:not(.hljs) {
  font-size: 1em;
  font-family: var(--b3-font-family-code);
  margin: 0 0.25em;
  padding: 0.125em 0.25em;
  color: var(--custom-span-code-color);
}
