/* 图片样式 */
@import url(/appearance/themes/Dark+/style/config/config.css);
@import url(/appearance/themes/Dark+/style/config/light.css);
@import url(/appearance/themes/Dark+/style/config/dark.css);
@import url(/widgets/custom.css);
.b3-typography span.img,
.protyle-wysiwyg span.img {
  max-width: none !important;
}
.b3-typography span.img img:not(.emoji),
.protyle-wysiwyg span.img img:not(.emoji) {
  /* 图片样式 */
  box-shadow: 0 0 var(--custom-box-shadow-spread) var(--custom-box-shadow-color);
  border-radius: var(--custom-border-radius);
  padding: var(--custom-border-radius);
  box-sizing: border-box;
}
.b3-typography span.img .protyle-action__drag,
.protyle-wysiwyg span.img .protyle-action__drag {
  /* 图片尺寸调整控件 */
  right: calc(4px + var(--custom-border-radius)) !important;
}
.b3-typography span.img {
  /* 设置导出预览时样式与编辑时一致 */
  padding: 0 0.5em;
}
/* .protyle-wysiwyg span.img>span:nth-child(1),
.protyle-wysiwyg span.img>span:nth-child(3) {
    max-width: 0;
} */
