/* 超链接 */

@import url(/appearance/themes/Dark+/style/module/config.css);
@import url(/widgets/custom.css);

/* 默认样式 */
/* 超链接 */
.protyle-wysiwyg [data-node-id] span[data-type='a']:not(:empty),
.b3-typography a {
    margin: 0;
    padding: 0;
    color: var(--b3-protyle-inline-link-color);
}
/* 超链接前标志 */
.protyle-wysiwyg [data-node-id] span[data-type='file-annotation-ref']:not(:empty)::before,
.protyle-wysiwyg [data-node-id] span[data-type='a']:not(:empty)::before,
.b3-typography a::before {
    content: "";
    display: inline-block;
    position: relative;

    background-image: url(/appearance/themes/Dark+/icon/unknown.svg);
    background-size: 0.875em auto;
    background-repeat: no-repeat;
    background-position: center;

    width: 0.875em;
    height: 1em;
    margin: 0.125em 0.125em -0.125em 0;
    padding: 0;
}

/* 思源跳转内部的超链接特化 */
.protyle-wysiwyg [data-node-id] span[data-type='a'][data-href ^="siyuan:"]:not(:empty),
.b3-typography a[href ^="siyuan:"] {
    color: var(--custom-span-siyuan-link-color);
}
.protyle-wysiwyg [data-node-id] span[data-type='a'][data-href ^="siyuan:"]:not(:empty):hover,
.b3-typography a[href ^="siyuan:"]:hover {
    border-color: var(--custom-span-siyuan-link-color);
}

/* 聚焦特化 */
.protyle-wysiwyg [data-node-id] span[data-type='a'][data-href ^="siyuan:"][data-href *="focus=1"]:not(:empty)::before,
.b3-typography a[href ^="siyuan:"][href *="focus=1"]::before {
    outline: 1px solid var(--custom-span-siyuan-link-color);
    -moz-outline-radius: var(--custom-border-radius);
}
