/* 超链接 */

@import url(./config.css);
@import url(/widgets/custom.css);

/* 超链接前标志 */
.protyle-wysiwyg [data-node-id] span[data-type='a']:not(:empty)::before,
.b3-typography a::before {
    content: "";
    display: inline-block;
    position: relative;

    background-image: url('../../icon/unknown.svg');
    background-size: 0.875em auto;
    background-repeat: no-repeat;
    background-position: center;

    width: 0.875em;
    height: 1em;
    margin: 0.125em 0.125em -0.125em 0;
    padding: 0;
}

/* 超链接 */
.protyle-wysiwyg [data-node-id] span[data-type='a']:not(:empty),
.b3-typography a {
    margin: 0;
    padding: 0;
}