/* 标记(挖空) */

@import (reference) "./../utils/loop-font-color.less";

// 导出时只有背景色
#sidebar [data-type="sidebar-outline"] [data-node-id],
.sy__outline [data-node-id],
.protyle-wysiwyg [data-node-id],
.b3-typography {

    mark,
    span[data-type~=mark] {
        &:not([style]) {
            color: var(--custom-span-mark-color);
            background-color: var(--cusotm-span-mark-background-color);
        }
    }

}

// 编辑时字体隐藏
.protyle-wysiwyg {
    [data-node-id] {

        mark,
        span[data-type~=mark] {
            transition: all 200ms linear 0ms;

            // 启用标记制卡
            .card__block.card__block--hidemark &,
            // 鼠标未悬浮
            &:not(:hover) {
                color: transparent;

                &[style] {
                    color: transparent !important;
                }
            }

            // 未启用标记制卡 / 启用标记制卡后显示
            .card__block:not(.card__block--hidemark) &,
            // 启用标记制卡 & 鼠标悬浮
            .card__block.card__block--hidemark &:hover {
                &:not([style]) {
                    color: var(--custom-span-mark-color) !important;
                    // background-color: transparent;
                    // text-shadow: 0 0 var(--custom-span-mark-shadow-width) var(--custom-span-mark-shadow-color);
                    // font-weight: bold;
                }

                .loop-font-color(13);
            }
        }
    }
}
