/* 键盘样式 */


.b3-typography,
.protyle-wysiwyg {

    kbd,
    span[data-type~=kbd] {
        font-size: 1em;
        font-family: var(--b3-font-family-code);
        margin: 0 0.25em;
        padding: 0 0.125em;
        border-width: 0.125em;
    }
}
