/* 键盘样式 */

@import url(/appearance/themes/Dark+/style/module/config.css);
@import url(/widgets/custom.css);

.b3-typography kbd,
.protyle-wysiwyg kbd {
    font-size: 1em;
    font-family: var(--b3-font-family-code);
    margin: 0 0.25em;
    padding: 0 0.125em;
    border-width: 0.125em;
}