/* 标签 */

.tag() {
    font-size: 1em;
    border-bottom: 0 none transparent !important;
    border-radius: 1em;
    padding: 1px 0.5em 1px 0.5em;
    transition: all 200ms linear 0ms;

    &::before {
        /* 标签标志 */
        content: '';
        display: inline-block;
        width: 1em;
        height: 1em;
        margin: 0.125em 0.125em -0.125em -0.125em;
        background: var(--custom-span-tag-icon);
        background-size: cover;
    }

    &:hover {
        /* 悬浮样式 */
        // color: var(--b3-theme-on-background);
        padding-bottom: 2px;
        background-color: transparent !important;

        // 动态波浪线
        // animation: waveMove 1s infinite linear;
        // background: url(/appearance/themes/Dark+/icon/wavy-line.svg) repeat-x 0 100%;
        // background-size: 16px auto;

        // 悬浮放大
        // transform: scale(1.125);
        // background-color: var(--b3-protyle-inline-tag-background);
    }
}

// 文档标签
.protyle-background__tags>.item {
    .tag();
    background-color: var(--custom-span-doc-tag-background-color);
}

// 移动端大纲标签
#sidebar [data-type="sidebar-outline"],
// 大纲标签
.sy__outline,
// 正文标签
.protyle-wysiwyg {
    [data-node-id] {
        span[data-type~=tag] {
            .tag();
            color: var(--custom-span-tag-color);
            background-color: var(--custom-span-tag-background-color);
        }
    }
}

/* 标签#号 */
/* .protyle-wysiwyg [data-node-id] span[data-type='tag']:not(:empty)::before {
    content: "#";
} */
