/* 行内代码 */

#sidebar [data-type="sidebar-outline"] [data-node-id],
.sy__outline [data-node-id],
.protyle-wysiwyg [data-node-id],
.b3-typography {

    code,
    span[data-type~=code] {
        &:not(.hljs) {
            font-size: 1em;
            font-family: var(--b3-font-family-code);
            margin: 0 0.25em;
            padding: 0.125em 0.25em;
            color: var(--custom-span-code-color);
        }
    }
}

#sidebar [data-type="sidebar-outline"] [data-node-id],
.sy__outline [data-node-id] {

    span[data-type~=code] {
        &:not(.hljs) {
            background-color: var(--b3-protyle-code-background);
        }
    }
}
