/* 标记(挖空) */

@import url(/appearance/themes/Dark+/style/module/config.css);
@import url(/widgets/custom.css);

.b3-typography mark,
.protyle-content mark {
    background-color: var(--cusotm-span-mark-background-color);
}

.protyle-content mark {
    color: transparent;
    transition: all 200ms linear 0ms;
}

.protyle-content mark:hover {
    background-color: transparent;
    color: var(--custom-span-mark-color);
    text-shadow: 0 0 var(--custom-span-mark-shadow-width) var(--custom-span-mark-shadow-color);
    /* font-weight: bold; */
}
