/* 页签 */

.layout__center {
    [data-type="wnd"][data-id] {
        >.fn__flex:first-child {
            /* 页签项 */
            justify-content: space-between; // 两头对齐
            background-color: var(--custom-tab-bar-background-color);
        }
    }
}

/* .fn__flex-column.fn__flex.fn__flex-1 .layout-tab-bar { */
.layout-tab-bar {
    background-color: transparent;
    flex-wrap: var(--custom-tab-bar-flex-wrap);

    .item {
        /* 页签项 */
        flex: none;
        background-color: transparent;
        border: 2px solid var(--b3-list-hover);
        border-radius: var(--custom-border-radius);
        box-shadow: none !important;
        min-height: var(--custom-tab-bar-min-height);
        min-width: unset !important;
        max-width: none;
        box-sizing: border-box;
        line-height: unset;

        .item__icon,
        .item__graphic {
            /* 页签项图标 */
            padding: 0;
            padding-left: 8px;

            svg,
            img {
                width: var(--custom-tab-bar-icon-size);
                height: var(--custom-tab-bar-icon-size);
            }
        }

        .item__text {
            /* 页签项文本 */
            min-width: 0;
            mask-image: none;
            -webkit-mask-image: none;

            // REF [#145](https://github.com/Zuoqiu-Yingyi/siyuan-theme-dark-plus/issues/145)
            text-align: unset;
            flex-grow: 1;
        }

        .item__close {
            padding: 4px;

            // 标签栏右侧新建按钮
            &[data-type="new"],
            // 标签栏右侧切换按钮
            &[data-type="more"] {
                margin: 0 4px;
            }

            svg {
                border-radius: 50%;
            }

            &:hover {
                svg {
                    /* 鼠标悬浮页签项关闭图标 */
                    color: var(--b3-theme-surface);
                    background-color: var(--b3-theme-on-surface);
                }
            }
        }

        &.item--focus {
            /* 被选中的页签项 */
            background-color: var(--b3-list-hover);
            border-color: var(--b3-list-hover);
            border-bottom-color: var(--custom-striking-color);

            &::after {
                /* 取消当前文档页签的下划线 */
                display: none;
            }

            +.item {
                border-left-color: var(--b3-list-hover);
            }

            .layout__wnd--active &,
            .b3-dialog__container & {
                /* 多窗口被选中的页签项 & 集市被选中的页签项 */
                border-color: var(--custom-striking-color);
            }

        }

        &:not(.item--full):not(.item--pin) {
            /* 非钉住的页签项 */
            min-width: var(--custom-tab-bar-item-min-width);

            .item__text {
                &:not(:last-child) {
                    padding-right: 0;
                }
            }
        }

        &.item--pin {
            .item__text {
                /* 钉住的标签页文本全部显示 */
                width: auto;
                max-width: none;
                display: flex !important;
            }

            .item__icon {
                padding-right: 0;
            }
        }

        &:last-child:not(.item--readonly) {
            /* 移除控件与文档页签之间的距离 */
            margin: 0;
        }

        &.item--readonly {
            /* 页签栏控件 */
            padding: 0;

            .block__icon {
                margin: 0 4px;
            }
        }
    }

    &.layout-tab-bar--readonly {
        /* 控件组 */
        flex: 0;
    }
}
