/* 页签 */
.layout__center [data-type="wnd"][data-id] > .fn__flex:first-child {
  /* 页签项 */
  justify-content: space-between;
  background-color: var(--custom-tab-bar-background-color);
}
/* .fn__flex-column.fn__flex.fn__flex-1 .layout-tab-bar { */
.layout-tab-bar {
  background-color: transparent;
  flex-wrap: var(--custom-tab-bar-flex-wrap);
}
.layout-tab-bar .item {
  /* 页签项 */
  flex: none;
  background-color: transparent;
  border: 2px solid var(--b3-list-hover);
  border-radius: var(--custom-border-radius);
  box-shadow: none !important;
  min-height: var(--custom-tab-bar-min-height);
  min-width: unset !important;
  max-width: none;
  box-sizing: border-box;
  line-height: unset;
}
.layout-tab-bar .item .item__icon,
.layout-tab-bar .item .item__graphic {
  /* 页签项图标 */
  padding: 0;
  padding-left: 8px;
}
.layout-tab-bar .item .item__icon svg,
.layout-tab-bar .item .item__graphic svg,
.layout-tab-bar .item .item__icon img,
.layout-tab-bar .item .item__graphic img {
  width: var(--custom-tab-bar-icon-size);
  height: var(--custom-tab-bar-icon-size);
}
.layout-tab-bar .item .item__text {
  /* 页签项文本 */
  min-width: 0;
  mask-image: none;
  -webkit-mask-image: none;
  text-align: unset;
  flex-grow: 1;
}
.layout-tab-bar .item .item__close {
  padding: 4px;
}
.layout-tab-bar .item .item__close[data-type="new"],
.layout-tab-bar .item .item__close[data-type="more"] {
  margin: 0 4px;
}
.layout-tab-bar .item .item__close svg {
  border-radius: 50%;
}
.layout-tab-bar .item .item__close:hover svg {
  /* 鼠标悬浮页签项关闭图标 */
  color: var(--b3-theme-surface);
  background-color: var(--b3-theme-on-surface);
}
.layout-tab-bar .item.item--focus {
  /* 被选中的页签项 */
  background-color: var(--b3-list-hover);
  border-color: var(--b3-list-hover);
  border-bottom-color: var(--custom-striking-color);
}
.layout-tab-bar .item.item--focus::after {
  /* 取消当前文档页签的下划线 */
  display: none;
}
.layout-tab-bar .item.item--focus + .item {
  border-left-color: var(--b3-list-hover);
}
.layout__wnd--active .layout-tab-bar .item.item--focus,
.b3-dialog__container .layout-tab-bar .item.item--focus {
  /* 多窗口被选中的页签项 & 集市被选中的页签项 */
  border-color: var(--custom-striking-color);
}
.layout-tab-bar .item:not(.item--full):not(.item--pin) {
  /* 非钉住的页签项 */
  min-width: var(--custom-tab-bar-item-min-width);
}
.layout-tab-bar .item:not(.item--full):not(.item--pin) .item__text:not(:last-child) {
  padding-right: 0;
}
.layout-tab-bar .item.item--pin .item__text {
  /* 钉住的标签页文本全部显示 */
  width: auto;
  max-width: none;
  display: flex !important;
}
.layout-tab-bar .item.item--pin .item__icon {
  padding-right: 0;
}
.layout-tab-bar .item:last-child:not(.item--readonly) {
  /* 移除控件与文档页签之间的距离 */
  margin: 0;
}
.layout-tab-bar .item.item--readonly {
  /* 页签栏控件 */
  padding: 0;
}
.layout-tab-bar .item.item--readonly .block__icon {
  margin: 0 4px;
}
.layout-tab-bar.layout-tab-bar--readonly {
  /* 控件组 */
  flex: 0;
}
