/* 顶部工具栏 */

@import url(/appearance/themes/Dark+/style/module/config.css);
@import url(/widgets/custom.css);

/* 顶部工具栏 */
#toolbar {
    background-color: var(--custom-tool-bar-background-color);
}

/* 顶部工具栏按钮 */
div:not(#windowControls)>.toolbar__item {
    margin: 0 6px;
    /* border-radius: 1em; */
}

/* 顶部工具栏标题 */
#drag {
    padding-right: 0 !important;
}

/* 自定义工具栏 */
#custom-toolbar {
    transition: all 500ms;
}

/* 窗口控件 */
#windowControls {
    /* margin: 0 !important; */
}

/* 窗口关闭控件 */
#closeWindow {
    /* padding-right: 6px; */
}

/* 被激活的控件 */
.block__icon--active,
.toolbar__item--active {
    color: var(--custom-toolbar-tiem-active-color);
    background-color: var(--custom-toolbar-tiem-active-background-color);
    /* outline: 1px solid var(--custom-toolbar-tiem-active-color); */
    box-shadow: 0 0 var(--custom-toolbar-tiem-active-box-shadow-spread) var(--custom-box-shadow-color);
}
