/* 顶部工具栏 */

@import url(/appearance/themes/Dark+/style/module/config.css);
@import url(/widgets/custom.css);

/* 顶部工具栏 */
#toolbar {
    background-color: var(--custom-tool-bar-background-color);
}

/* 顶部工具栏按钮 */
.toolbar__item {
    margin: 0 3px;
}

/* 顶部工具栏标题 */
#drag {
    padding-right: 0 !important;
}

/* 自定义工具栏 */
#custom-toolbar {
    transition: all 500ms;
}

/* 窗口控件 */
#windowControls {
    margin: 0 !important;
}

/* 窗口关闭控件 */
#closeWindow {
    padding-right: 6px;
}
